<thead>
    <th style="width: 30%;">Item</th>
    <th style="width: 50%;">Nombre</th>
    <th style="width: 10%;" colspan="2">Opciones</th>                                    
</thead>
<tbody>
<?php    
        $item = (($pagina - 1) * TAM_PAG_LISTADO_MAP) + 1;
        foreach ($arrGestionObra as $objGestionObra) {
            if ($objGestionObra->getFlag() == 1) {
                $state = 0;
            } else {
                $state = 1;
            }
            $id = $objGestionObra->getIdGestObra();
            $nombre = $objGestionObra->getDesGestObra();
?>
<tr>
    <td width="30%"><?php echo $item++ ?></td>
    <td width="50%"><?php echo $nombre ?></td>                                                
    <td width="5%">
        <a href="javascript:AdministracionMaps.prototype.EditObra('<?php echo $id ?>')">
            <img src="img/pencil_16.png" alt="Editar" title="Editar"/>
        </a>
    </td>
    <td width="5%">
        <a id="alink_state_<?php echo $id ?>" href="javascript:AdministracionMaps.prototype.ChangeStateObra('<?php echo $id ?>','<?php echo $state ?>','<?php echo $nombre ?>')">
        <?php 
                if ($state == 0) {
        ?>
        <img id="img_state_<?php echo $id ?>" src="img/estado_habilitado.png" alt="Cambiar estado a Deshabilitado" title="Cambiar estado a Deshabilitado" />
        <?php 
                } else { 
        ?>
        <img id="img_state_<?php echo $id ?>" src="img/estado_deshabilitado.png" alt="Cambiar estado a Habilitado" title="Cambiar estado a Habilitado" />
        <?php 
                } 
        ?>
        </a>
    </td>
</tr>
<?php 
        }
?>
</tbody>