<div class="row form-group">
  <div class="col-sm-12">
    <!--<div class="box-body table-responsive">
      <table id="t_cambios" class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Fecha</th>
            <th>Usuario</th>
            <th>Antes</th>
            <th>Despues</th>
          </tr>
        </thead>
        <tbody id="tb_cambios">
          <tr>
            <td>cambio.id</td>
            <td>cambio.created_at</td>
            <td>cambio.usuario</td>
            <td>{cambio.htmlantes}</td>
            <td>{cambio.htmldespues}</td>
          </tr>
        </tbody>
      </table>
    </div>-->
    <data-tables :data='logcambios'
                 :row-action-def='getRowActionsDef()'>
      <el-table-column prop="id" label="Id" sortable="custom">
      </el-table-column>
      <el-table-column prop="created_at" label="Fecha" sortable="custom">
      </el-table-column>
      <el-table-column prop="usuario" label="Usuario" sortable="custom">
      </el-table-column>
      <el-table-column prop="htmlantes" label="Antes" sortable="custom">
      </el-table-column>
      <el-table-column prop="htmldespues" label="Despues" sortable="custom">
      </el-table-column>
    </data-tables>
  </div>
</div>
