<template src="./Regcambios.html"></template>
<script type="text/javascript">

    import ElementUI from 'element-ui'
    import 'element-ui/lib/theme-chalk/index.css'
    import DataTables from 'vue-data-tables';
    import lang from 'element-ui/lib/locale/lang/es';
    import locale from 'element-ui/lib/locale';

	locale.use(lang)
    var dataTables = DataTables;

    export default {
    	props: ['logcambios'],
	  	data() {
	    	return {
			      tableData: []
			    }
			},
		created() {
		    this.tableData = this.logcambios;
		},
		methods: {
		    getRowActionsDef() {
		      let self = this
		      return [{
		        type: 'primary',
		        handler(row) {
		          self.$message('Edit clicked')
		          console.log('Edit in row clicked', row)
		        },
		        name: 'Edit'
		      }, {
		        type: 'primary',
		        handler(row) {
		          self.$message('RUA in row clicked')
		          console.log('RUA in row clicked', row)
		        },
		        name: 'RUA'
		      }]
		    }
		},
		components: {dataTables},
	}	
		
</script>
<style type="text/css">
	.el-table .sort-caret.descending {
		bottom: 4px !important; 
	}
	.search {
		float: right;
	}
	.cell {
		white-space: pre-wrap !important;
	}
	.el-table_1_column_4 .cell {
		font-size: 13px !important;
		font-weight: bold !important;
	}
	.el-table_1_column_5 .cell {
		font-size: 13px !important;
		font-weight: bold !important;
	}
</style>