caption {
    color: #9ba9b4;
    font-size:.94em;
    letter-spacing:.1em;
    margin:1em 0 0 0;
    padding:0;
    caption-side:top;
    text-align:center;
}	
tr.odd td	{
    background: #4394AB /*#f7fbff*/
}
tr.odd .column1	{
    background:   #4394AB /*#f4f9fe;*/
}	
.column1	{
    background: #559BBD; /*#4394AB ;/* #f9fcfe;*/
    color:#FFFFFF;
}

.column2	{
    background: #FFFFFF; /*#4394AB ;/* #f9fcfe;*/
    color:#FFFFFF;
}

.col_titulo {
    background:#559BBD ; /* #FFC503; /*#4394AB ;/* #f9fcfe;*/
    color:#FFFFFF;   
}
			
.th_res_grupal {
    font: 9px "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif;
    color: #678197;
    text-align:center;
    border-bottom: 1px solid #e5eff8;
    border-left:1px solid #e5eff8;
    padding:.3em 1em;
    
}							
thead th {
    background:#f4f9fe;
    text-align:center;
    font:bold 11px "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif;
    color:#66a3d3
}	
tfoot th {
    text-align:center;
    background:#f4f9fe;
}	
tfoot th strong {
    font:bold 1.2em "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif;
    margin:.5em .5em .5em 0;
    color:#66a3d3;
}		
tfoot th em {
    color:#f03b58;
    font-weight: bold;
    font-size: 1.1em;
    font-style: normal;
}	


.div_res_grupal {
    width: 650px;
}

.tabla_res_grupal {
    width:100%;
    border-top:1px solid #e5eff8;
    border-right:1px solid #e5eff8;
    margin:1em auto;
    border-collapse:collapse;
}

.combo_grupal1 {
    font-family: sans-serif;
    font-size: 11px;
    
}

.td_center {
    text-align: center;
    background: #559BBD;
    color: #FFFFFF;
}	

.td_res_grupal {
    color:#678197;
    background: #E5F1F4;
    border-bottom:1px solid #e5eff8;
    border-left:1px solid #e5eff8;
    padding:.3em 1em;
    text-align:center;
    
    
}
