<div class="box-body table-responsive">
    <div ui-tree data-nodrop-enabled="true">
        <ol ui-tree-nodes="" ng-model="recurso.resource">
            <li ng-repeat="node in recurso.resource" ui-tree-node ng-include="'nodes_renderer.html'"></li>
        </ol>
    </div>
</div>

<script type="text/ng-template" id="nodes_renderer.html">
    <div ui-tree-handle class="tree-node tree-node-content"
         ng-class="{true: 'bg-success', false: 'bg-danger'}[node.status == 1]">
        <a class="btn btn-success btn-xs" ng-if="node.nodes && node.nodes.length > 0" data-nodrag ng-click="toggle(this)"><span
                class="glyphicon"
                ng-class="{
          'glyphicon-chevron-right': collapsed,
          'glyphicon-chevron-down': !collapsed
        }"></span></a>
        {{node.title}}
        <!--<a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="recurso.eliminar(this)"><span-->
                <!--class="glyphicon glyphicon-remove"></span></a>-->
        <!--<a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="recurso.registrar(this)" style="margin-right: 8px;"><span-->
                <!--class="glyphicon glyphicon-plus"></span></a>-->
    </div>
    <ol ui-tree-nodes="" data-nodrop-enabled="true" ng-model="node.nodes" ng-class="{hidden: collapsed}">
        <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'">
        </li>
    </ol>
</script>