<div class="container">
    <div class="modal fade" id="empresaModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header logo">
                    <button class="btn btn-sm btn-default pull-right" data-dismiss="modal">
                        <i class="fa fa-close"></i>
                    </button>
                    <h4 class="modal-title">New message</h4>
                </div>
                <div class="modal-body">
                    <form id="form_empresas" name="form_empresas" action="" method="post" novalidate>
                        <input type="hidden" id="id" ng-pattern="emailPattern" ng-model="empresa.id">
                        <div class="form-group">
                            <label class="control-label">Empresa
                            </label>
                            <input type="text" id="nombre" ng-model="empresa.nombre" class="form-control" placeholder="Ingrese Nombre">
                            <i class="text-red" ng-bind-html="empresa.error_nombre"></i>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Descripcion
                            </label>
                            <input type="text" ng-model="empresa.descripcion" class="form-control" placeholder="Ingrese Nombre">
                            <i class="text-red" ng-bind-html="empresa.error_descripcion"></i>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Empresa Colaboradora:
                            </label>
                            <select class="form-control" id="es_ec" ng-model="empresa.es_ec" ng-options="cbo.value as cbo.texto for cbo in empresa.cboEs_ec">
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Estado:
                            </label>
                            <select class="form-control" id="estado" ng-model="empresa.estado" ng-options="cbo.value as cbo.texto for cbo in empresa.cboEstado">
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button ng-if="empresa.btnAccion == 1" type="button" class="btn btn-primary" ng-click="empresa.actualizarEmpresa()">Actualizar</button>
                    <button ng-if="empresa.btnAccion == 0" type="button" class="btn btn-primary" ng-click="empresa.crearEmpresa()">Grabar</button>
                </div>
            </div>
        </div>
    </div>
</div>