 <div> 
  <div class="row form-group">
    <div class="col-sm-12 contenedor-solicitud-recepcion">
      <div class="box-body table-responsive">
        <template v-for="(recepcion, index) in logrecepcion">
          <div class='panel panel-info'>
            <template v-if="(recepcion.code_error)">
              <div style='background: #d9534f;cursor: pointer'  class='panel-heading' data-toggle='collapse' data-parent='#accordion-solicitud-recepcion' :href="'#collapsem'+index">
                <h4 class='panel-title'>
                  <a style='color: #fff;' data-toggle='collapse' data-parent='#accordion-solicitud-recepcion' :href="'#collapsem'+index">
                  {{recepcion.created_at}}
                  </a>
                </h4>
              </div>
            </template>
            <template v-else>
              <div class='panel-heading' data-toggle='collapse' data-parent='#accordion-solicitud-recepcion' :href="'#collapsem'+index" style='cursor: pointer'>
                <h4 class='panel-title'>
                  <a data-toggle='collapse' data-parent='#accordion-solicitud-recepcion' :href="'#collapsem'+index">
                  {{recepcion.created_at}}
                  </a>
                </h4>
              </div>
            </template>
            <div v-bind:id="'collapsem'+index" class='panel-collapse collapse' aria-expanded='true'>
              <div class='panel-body'>
                <div class='fila-recepcion-solicitud box box-body' style='border-top: none; box-shadow: none;'>
                  <label><b>Code Error : </b>{{recepcion.code_error}}</label><br>
                  <label><b>Detalle Error : </b>{{recepcion.detalle_error}}</label><br>
                  
                  <label v-if="typeof recepcion.descripcion_error == 'string'"><b>Mensaje Error :</b>{{recepcion.descripcion_error}}</label>

                  <div v-if="typeof recepcion.descripcion_error == 'object' && recepcion.descripcion_error != null" class='row' style="max-height: 200px; overflow-y: scroll; background-color: rgba(0,0,0,0.04);">
                    <div class='col-sm-12'>
                      <label class=''>Mensaje Error :</label><br>
                        <div style="margin-left: 5px;">

                          Problema en: {{recepcion.descripcion_error.fallo}}<br>
                          Actividad: {{recepcion.descripcion_error.actividad}}<br>
                          Tipos:<br>

                          <div style="margin-left: 16px;">
                            <template v-for="tipo of recepcion.descripcion_error.tipos">
                              {{tipo.nombre}}:

                              <ul v-if="tipo.quiebres.length <= 0">
                                 <li >
                                  {{tipo.msj}}
                                  </li>
                              </ul>


                              <ul v-if="tipo.quiebres.length > 0" v-for="quiebre of tipo.quiebres">

                                <span  style="margin-left: -16px">{{quiebre.nombre}}</span>

                                <li v-for="motivo of quiebre.motivos">
                                  {{motivo}}
                                </li>


                              </ul>
                            </template>
                          </div>

                        </div>
                    </div>
                  </div>

                  <div class='row'>
                    <div class='col-sm-12'>
                      <label class=''>Trama</label>
                      <textarea disabled class='form-control' style='resize:none; height: 150px;'>@{{recepcion.xmltrama}}</textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </template>
      </div>
    </div>
    <div class="col-sm-12">
      <input type="text" name="solicitudtecnica" id="solicitudtecnica" class="form-control" />
      <a href="" style="margin-top: 12px"  class="btn btn-primary" id="btn-reenviar-st">Reenviar Respuesta de ST</a>
      </div>
    </div>
  <div class="row form-group">
    
  </div>
</div>  