<template>
	<div class="container">
		<div class="row">
			<div class="panel-body">
				qweqweqwe
			</div>
			
		</div>
		
	</div>
</template>

<script type="text/javascript">
	export default {
		mounted() {
			console.log("component mounted");
		}
	}
</script>