<!--al usar ng-controller y el nombre del controller , podemos usar todas las funciones y objects haciendo usao de las directivas-->
<div class="container-fluid" id="main">

    <div class="row">
        <fieldset style="padding: 10px">
            <div class="header">
                <div ng-click="MostrarFiltros()" >
                    <h4 style="display: inline-block">Filtros</h4>
                    <img src="/webpsi/img/details_open.png" ng-hide="showFilters"/>
                    <img src="/webpsi/img/details_close.png" ng-show="showFilters"/>
                </div>
                <div class="filtros animate-show" ng-show="showFilters">
                    <div class="modal-header">
                        <button type="button" class="close" ng-click="CerrarFiltros()"  aria-hidden='true'>&times;</button>
                    </div>
                    <form role="form">
                        <div class="form-group">
                            <label for="empresas">Contratas</label>
                            <select id="empresas" class="form-control" ng-model="filtros.contrata" ng-change="UpdateCelulas()">
                                <option value="">Todos</option>
                                <option ng-repeat="contrata in contratas" value="{{contrata.id}}">{{contrata.nombre}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="celulas">Celulas</label>
                            <select id="celulas" class="form-control" ng-model="filtros.celula" ng-change="UpdateData()">
                                <option value="">Todos</option>
                                <option ng-repeat="celula in celulas" value="{{celula.idcelula}}">{{celula.nombre}}</option>
                            </select>
                        </div>
                        <button type="submit" ng-click="MostrarAsistencia()" class="btn btn-success">Mostrar</button>
                    </form>
                </div>
                <div class="filtrosSelected" ng-hide="showFilters">
                    <div><strong>Contrata:</strong>{{contrata_seleccionda}}</div>
                    <div><strong>Celula:</strong>{{celula_seleccionada}}</div>
                    <div><strong>Cantidad de Tecnicos:</strong>#{{tecnicos.length}}</div>
                    <div><strong>{{mensaje}}</strong></div>

                </div>
            </div>
        </fieldset>
        <!--el spinner se activa y desactiva con el metodo mostrarAsistencia()-->
        <p><span us-spinner spinner-key="spinner-1"></span> </p>

        <!--showAsistencia es una variable true o false que se carga al hacer click en MostrarAsistencia-->
        <div class="tablaAsistencia" id="tablaAsistencia" ng-show="showAsistencia">
            <table class="table table-hover">
                <tr>
                    <th class='th_res_grupal2'>Tecnico</th>
                    <th class='th_res_grupal2'>Ingreso</th>
                    <th class='th_res_grupal2'>Activo</th>
                </tr>
                <tbody ng-repeat="tecnico in tecnicos">
                <tr  ng-click="toggleDetalle($index)" ng-class="{ danger:tecnico.ingreso === null }">
                    <td>
                        <img src="/webpsi/img/details_open.png" ng-hide="tecnico.mostrarDetalle === true"/>
                        <img src="/webpsi/img/details_close.png" ng-show="tecnico.mostrarDetalle === true"/>
                        {{tecnico.nombre}}</td>
                    <td>{{tecnico.ingreso | soloHora }}</td>
                    <td>{{tecnico.estado}} <br/>{{tecnico.ultimo_registro_enviado | soloHora }}</td>
                </tr>
                <tr  ng-show="tecnico.mostrarDetalle === true" class="warning">
                    <td colspan="3">
                        <div>
                            <table class="table table-responsive">
                                <tr> <th>Carnet:</th><td>{{tecnico.carnet}}</td>  </tr>
                                <tr> <th>Telefono:</th><td ng-bind-html="tecnico.telefono | MarcarTelefono"></td>  </tr>
                                <tr>  <th>Ultima Ubicacion recibida:</th><td>{{tecnico.ultimo_registro_enviado}}</td>  </tr>
                                <tr>  <th>Estado Bateria:</th><td>{{tecnico.bateria}}%</td>  </tr>
                                <tr>  <th>Tareas</th> <td><a href="/webpsi/modulos/public/rutaTecnico/?cc={{tecnico.carnet}}">Ver en mapa</a></td> </tr>
                                <tr>  <th>Tareas Pendientes:</th><td>{{tecnico.tareas_pendientes}}</td>  </tr>
                                <!--mostrar tareas officetrack-->
                                <tr ng-show="tecnico.mostrarOfficetrack">
                                    <td colspan="2">
                                        <table class="table">
                                            <tr>
                                                <td colspan="3">
                                                    <strong>Tareas Cerradas en officetrack</strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>hora</th>
                                                <th>atc</th>
                                                <th>estado</th>

                                            </tr>
                                            <tr ng-repeat="tarea in tecnico.officetrack">
                                                <td>{{tarea.fecha_recepcion}}</td>
                                                <td>{{tarea.id_atc}}</td>
                                                <td><strong>{{tarea.estado}}</strong><br/>{{tarea.observacion}}</td>
                                                <td></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>