<head>
<link href="css/mantenimientoAdministracion.css" rel="stylesheet" type="text/css" media="all" />
<style type="text/css">
.width_txt {
    width: 179px;
}

.width_cbo {
    width: 183px;
}
</style>
<script type="text/javascript">
function save(opc) {
    var segmento = $('#segmento');
    var descripcion = $('#desc');
    if (segmento.val() == '') {
        segmento.css('background', '#FFFBCC');
        segmento.focus();
        alert('Seleccione el segmento');
        return false;
    } else {
        segmento.css('background', '#FFFFFF');
    }
    if (descripcion.val() == '') {
        descripcion.css('background', '#FFFBCC');
        descripcion.focus();
        alert('Ingrese el nombre');
        return false;
    } else {
        descripcion.css('background', '#FFFFFF');
    }
    $.post("modulos/maps/administracion.maps.php?cmd=saveTipoProyecto", { segmento: segmento.val(), desc : descripcion.val() } , function(data) {
        if (data == 'ok') {
            alert('Se registró correctamente');        
            if (!opc) {
                window.location=('javascript:objAdministracionMaps.MantTipoProyecto()');
            } else {
                window.location=('javascript:objAdministracionMaps.AddTipoProyecto()');
            }
        } else {
            if (data == 'existe') {
                alert('Ya existe un registro con ese nombre');
            } else {
                alert('No se registró correctamente');
            }
        }
    });
}
$(document).ready(function(){
    $('#segmento').focus();
    $('#segmento').css('background', '#FFFBCC');
    $('#desc').css('background', '#FFFBCC');
    $('#opcion').attr('value', '1');
    $('#btn_grabar').click(function(){
        save(false);
    });
    $('#btn_guardar_agregar').click(function(){
        save(true);                    
    });                
    $('.trigger').mouseover(function(){
        $('.panel').toggle('fast');
        $(this).toggleClass('active');
        return false;
    });
});
</script>
</head>
<body>    
<div id="content">
<table style="border-spacing: 1px;">
 <tr>
     <td style="vertical-align: top; text-align: left; padding-left: 35px;">
        <form id="frm_tipo" name="frm_tipo" action="administracion.maps.php?cmd=saveTipoProyecto" method="post">
        <table style="padding: 2px;">
        <thead>
        <tr>
            <td colspan="2" class="form_titulo">Nuevo Tipo de Proyecto</td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: left;">
                <div class="box_descripcion_seccion">
                En esta secci&oacute;n se podr&aacute; registrar Tipos de Proyecto
                </div>
            </td>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td class="label" width="20%">Segmento :</td>
                <td style="text-align: left;">
                    <select id="segmento" name="segmento">
                    <option value="">Seleccione</option>
                    <?php 
                        foreach ($arrSegmento as $objSegmento) { 
                    ?>
                    <option value="<?php echo $objSegmento->__get('_idSegmento') ?>"><?php echo $objSegmento->__get('_desSegmento') ?></option>
                    <?php 
                        } 
                    ?>
                    </select>
                    <em>(*)</em>
                </td>
            </tr>
            <tr>
                <td class="label" width="20%">Nombre :</td>
                <td style="text-align: left;">
                    <input type="text" name="desc" id="desc" class="ipt required input_text" size="20" maxlength="50"/>
                    <em>(*)</em>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div style="height: 15px;"></div>                                      
                    <a href="javascript:;" id="btn_grabar" title="Guardar" class="btn save">Guardar<span class="helper"></span></a>
                    <a href="javascript:;" id="btn_guardar_agregar" title="Guardar y Agregar otro" class="btn save_add">Guardar +<span class="helper"></span></a>
                    <a href="javascript:;" id="btn_deshacer" title="Limpiar datos" class="btn deshacer" onclick="window.location='javascript:objAdministracionMaps.AddTipoProyecto()'">Deshacer<span class="helper"></span></a>
                    <a href="javascript:;" id="btn_cancelar" title="Cancelar" class="btn cancelar" onclick="window.location='javascript:objAdministracionMaps.MantTipoProyecto()'">Cancelar<span class="helper"></span></a>
                </td>
            </tr>
        </tbody>
        </table>
        </form>
    </td>
</tr>
</table>
</div>
<div id="footer"></div>
</body>