<thead>
    <th style="width: 10%;">Item</th>
    <th style="width: 35%;">Segmento</th>
    <th style="width: 35%;">Nombre</th>
    <th style="width: 10%;">Opciones</th>
</thead>
<tbody>
<?php    
    $item = (($pagina - 1) * TAM_PAG_LISTADO_MAP) + 1;
    foreach ($arrTipoProyecto as $objTipoProyecto) {
        if ($objTipoProyecto->__get('_flag') == 1) {
            $state = 0;
        } else {
            $state = 1;
        }
        $id = $objTipoProyecto->__get('_idTipoProyecto');
        $objSegmento = $objTipoProyecto->getObjSegmento();
        $nombre = $objTipoProyecto->__get('_desTipoProyecto');
?>
<tr>
    <td width="10%"><?php echo $item++ ?></td>
    <td width="35%"><?php echo $objSegmento->__get('_desSegmento') ?></td>
    <td width="35%"><?php echo $nombre ?></td>
    <td width="10%">
        <a id="alink_state_<?php echo $id ?>" href="javascript:AdministracionMaps.prototype.ChangeStateTipoProyecto('<?php echo $id ?>','<?php echo $state ?>','<?php echo $nombre ?>')">
        <?php 
                if ($state == 0) {
        ?>
        <img id="img_state_<?php echo $id ?>" src="img/estado_habilitado.png" alt="Cambiar estado a Deshabilitado" title="Cambiar estado a Deshabilitado" />
        <?php 
                } else { 
        ?>
        <img id="img_state_<?php echo $id ?>" src="img/estado_deshabilitado.png" alt="Cambiar estado a Habilitado" title="Cambiar estado a Habilitado" />
        <?php 
                } 
        ?>
        </a>
    </td>
</tr>
<?php 
    } 
?>
</tbody>