<head>
    <link href="css/mantenimientoAdministracion.css" rel="stylesheet" type="text/css" media="all"/>
    <script type="text/javascript" src="modulos/maps/js/administracion.maps.js?<?php echo date("Gis");?>"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $("input[name=id]").keyup(function(e) {
                if(e.which == 13) {
                    AdministracionMaps.prototype.BuscaSegmento();
                }
            });
        });
    </script>
</head>
<body>
    <div id="content" style="height: 500px;">
        <table style="border: 0px; width: 100%;">
        <tr>
            <td style="vertical-align: top; padding-top: 10px; padding-left: 40px;">
                <div class="form_titulo">
                    <img src="img/btn_tipo_proyecto_32.png" alt="Tipo de Proyecto" title="Tipo de Proyecto"/>
                    <p style="margin-top: -25px; padding-left: 50px; height: 30px;">Tipo de Proyecto</p>
                </div>
                <div style="height: 10px;"></div>
                <fieldset class="fld" style="width: 50%;">
                    <legend class="lgd">Buscar por</legend>
                    <div id="filtro_tipo_proyecto">
                        <div style="font-weight: bold; text-align: left;">Segmento : &nbsp;
                            <select id="id" name="id">
                            <option value="">Todos</option>
                            <?php 
                                foreach ($arrSegmento as $objSegmento) { 
                            ?>
                            <option value="<?php echo $objSegmento->getIdSegmento() ?>"><?php echo $objSegmento->getDesSegmento() ?></option>
                            <?php 
                                } 
                            ?>
                            </select>                            
                            <input onclick="javascript:AdministracionMaps.prototype.BuscaTipoProyecto()" type="button" id="btn_buscar" name="buscar" value="Buscar"/>
                            <input onclick="javascript:AdministracionMaps.prototype.MantTipoProyecto()" type="button" id="btn_limpiar" name="limpiar" value="Limpiar"/>
                        </div>
                    </div>
                </fieldset>
                <div style="height: 10px;"></div>
                <table id="tb_sup_tl_registros" style="margin-left: 0px; border: 0px; width: 90%; border-spacing: 1px;">
                <tr>
                    <td style="width: 25%; height: 30px; text-align: left;">
                        Registros encontrados : <b><span id="cont_num_resultados_head"><?php echo $total ?></span></b>
                    </td>
                    <td style="width: 35%;">
                        <div style="width: 310px; position: relative;">
                            <div id="paginacion"></div>
                        </div>
                    </td>
                    <td style="float: right;">
                        <a href="javascript:AdministracionMaps.prototype.AddTipoProyecto()">
                            [ Agregar Tipo de Proyecto ]
                        </a>&nbsp;
                        <a href="javascript:;" onclick="window.location='javascript:objAdministracionMaps.Regresar()'">
                            [ Regresar al Menú ]
                        </a>
                    </td>
                </tr>
                </table>                
                <input type="hidden" id="pag_actual" name="pag_actual" value="<?php echo $pagina ?>"/>
                <input type="hidden" id="tl_registros" name="tl_registros" value="<?php echo $total ?>"/>
                <div style="height: 10px;"></div>
                <?php 
                        if ($total > 0) { 
                ?>
                <table id="tb_resultado" class="tb_listado" style="margin-left: 0px; width: 90%;">
                <thead>
                    <th style="width: 10%;">Item</th>
                    <th style="width: 35%;">Segmento</th>
                    <th style="width: 35%;">Nombre</th>
                    <th style="width: 10%;">Opciones</th>
                </thead>
                <tbody>
                    <?php
                            $item = (($pagina - 1) * TAM_PAG_LISTADO_MAP) + 1;
                            foreach ($arrTipoProyecto as $objTipoProyecto) {                                
                                if ($objTipoProyecto->getFlag() == 1) {
                                    $state = 0;
                                } else {
                                    $state = 1;
                                }                                
                                $id = $objTipoProyecto->getIdTipoProyecto();
                                $objSegmento = $objTipoProyecto->getObjSegmento();
                                $nombre = $objTipoProyecto->getDesTipoProyecto();
                    ?>
                    <tr>
                        <td width="10%"><?php echo $item++ ?></td>
                        <td width="35%"><?php echo $objSegmento->getDesSegmento() ?></td>
                        <td width="35%"><?php echo $nombre ?></td>                        
                        <td width="10%">
                            <a id="alink_state_<?php echo $id ?>" href="javascript:AdministracionMaps.prototype.ChangeStateTipoProyecto('<?php echo $id ?>','<?php echo $state ?>','<?php echo $nombre ?>')">
                            <?php 
                                    if ($state == 0) {
                            ?>
                            <img id="img_state_<?php echo $id ?>" src="img/estado_habilitado.png" alt="Cambiar estado a Deshabilitado" title="Cambiar estado a Deshabilitado" />
                            <?php 
                                    } else { 
                            ?>
                            <img id="img_state_<?php echo $id ?>" src="img/estado_deshabilitado.png" alt="Cambiar estado a Habilitado" title="Cambiar estado a Habilitado" />
                            <?php 
                                    } 
                            ?>
                            </a>
                        </td>
                    </tr>
                    <?php
                            }
                    ?>
                </tbody>
                </table>                
                <?php 
                        } 
                ?>
            </td>
        </tr>
        </table>
    </div>    
</body>
</html>