<div class="row form-group">
    <fieldset class="scheduler-border">
        <legend class="scheduler-border">Requerimiento : {{solicitud_data.num_requerimiento}} | ST : {{solicitud_data.id_solicitud_tecnica}}</legend>
        <div class="col-sm-4">
            <label>Quiebre</label>
            <model-list-select :list="lista_slcts['quiebre']"
                 v-model="quiebre"
                 option-value="id"
                 option-text="nombre"
                 :custom-text="nombre_selects"
                 placeholder="Seleccione un quiebre">
            </model-list-select> 

        </div>
        <div class="col-sm-4">
            <label>Actividad Tipo</label>
            <model-list-select :list="lista_slcts['actividadtipo']"
                 v-model="actividad"
                 option-value="id"
                 option-text="nombre"
                 :custom-text="nombre_selects"
                 placeholder="Seleccione un nodo">
            </model-list-select>
        </div>
        <div class="col-sm-4">
            <label>Contrata</label>
            <template v-if="solicitud_data.tipo_legado == 1">
                <model-list-select :list="lista_slcts['contratascms']"
                     v-model="solicitud_data.codigo_contrata"
                     option-value="id"
                     option-text="nombre"
                     :custom-text="nombre_selects"
                     placeholder="Seleccione un nodo">
                </model-list-select>
            </template>
            <template v-if="solicitud_data.tipo_legado == 2">
                <model-list-select :list="lista_slcts['contratasgestel']"
                     v-model="solicitud_data.codigo_contrata"
                     option-value="id"
                     option-text="nombre"
                     :custom-text="nombre_selects"
                     placeholder="Seleccione un nodo">
                </model-list-select>
            </template> 
        </div>
        <div class="col-sm-4" id="div_nodo_modal_cms">
            <label>Nodo</label>
            <model-list-select :list="lista_slcts['nodo']"
                 v-model="solicitud_data.nodo_id"
                 option-value="id"
                 option-text="nombre"
                 :custom-text="nombre_selects"
                 placeholder="Seleccione un nodo">
            </model-list-select>
        </div>
        <div class="col-sm-4" id="div_troba_modal_cms">
            <label>Troba</label>
            <model-list-select :list="lista_slcts['troba']"
                 v-model="troba"
                 option-value="id"
                 option-text="nombre"
                 :custom-text="nombre_selects"
                 placeholder="Seleccione un nodo">
            </model-list-select>
        </div>
    </fieldset>
    
    <fieldset class="scheduler-border">
        <legend class="scheduler-border">CMS</legend>
        <div class="col-sm-3">
            <div class="control-group">
                <div class="input-group">
                  <span class="input-group-addon input-sm">cliente</span>
                  <label class="form-control input-sm">{{solicitud_data.cod_cliente}}</label>
                </div>
            </div>
        </div>
    </fieldset>
</div>
