<template src="./Go.html"></template>
<script>
	import {ModelListSelect} from 'vue-search-select'
	export default {
		
	    props: ['solicitud_data', 'lista_slcts'],
	    data() {
	      return {
	        quiebre: {
	          id: '',
	          nombre: '',
	          block: ''
	        },
	        troba: {
	          id: '',
	          nombre: '',
	          relation: ''
	        },
	        contrata: {
	          id: '',
	          nombre: '',
	          relation: ''
	        },
	        nodo: {
	       	  id: '',
	       	  nombre: ''
	        },
	        actividad: {
	       	  id: '',
	       	  nombre: ''
	        }
	      }
	    },
	    created: function(){
	    	//this.onSelect({id:2, name: 'ab' + ' - ' + '2'});
	    },
	    methods: {
	    	nombre_selects (item) {
		        return `${item.nombre}`
		    },

	    },
	    components: {ModelListSelect: ModelListSelect},
	}
</script>