/* 
    Document   : actuaciones
    Created on : 17/02/2011, 09:25:00 PM
    Author     : GMD
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

.cont_ga
{
   display:none;
   margin-left: auto;
   margin-right: auto;
   margin-top: 5px;
   position:absolute;
   height: auto;
   min-height: 150px;
   width: 896px;
   border-top: 1px solid #CCCCCC; border-left: 2px solid #CCCCCC; border-right: 2px solid #CCCCCC; border-bottom: 2px solid #CCCCCC;
   background-color: #F2F2F2;
   margin-bottom: 30px;
}
.fondoTransparente
{
	/*Div que ocupa toda la pantalla*/
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color:#000;
	/*IE*/
	filter: alpha(opacity=70);
	/*FireFox Opera*/
	opacity: .7;
        display:none;
}
.bgLoader
{
	/*Div que ocupa toda la pantalla*/
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
    display:none;
}
.bgLoader .imgLoader
{
	width:200px;
	height:80px;
	background-color: #FFFFFF;
	margin-left:auto;
	margin-right:auto;
	margin-top:350px;
	border:1px solid #CCCCCC;
	background-image: url(../img/ajax-loader.gif);
	background-repeat: no-repeat;
	background-position: center center;
	filter:alpha(opacity=50);
	opacity:0.5;
}
.imgLoader span
{
	line-height:120px;
}