/* 
    Document   : base_estilos.css
    Created on : 06/10/2011, 04:25:01 PM
    Author     : Alex leiva Dominguez GMD
    Description:
*/

.linkImprimir, .linkPDF, .linkDelete, .linkGrabar, .linkConfig, .linkReportes ,.linkExcel, .linkEditar{
    display: inline-block;
    height: 16px;
    margin: 0 5px;
    padding: 0 0 0 21px;
    line-height: 17px;
    vertical-align: middle;
}

h1,h2,h3,h4,h5{
    color:#004350;
    margin:0;
    padding:0;
    font-weight:bold;
}

.linkImprimir {
    background: url("../img/ico_imprimir.jpg") no-repeat scroll left center transparent;
}

.linkPDF {
    background: url("../img/icon_pdf") no-repeat scroll left center transparent;
}

.linkDelete {
    background: url("../img/ledicons/circle_red.png") no-repeat scroll left center transparent;
}

.linkExcel{
    background: url("../img/excel_icon.gif") no-repeat scroll left center transparent;
}

.linkEditar{
    background: url("../img/ledicons/application_edit.png") no-repeat scroll left center transparent;

}
.linkGrabar{
    background: url("../img/ico_download.png") no-repeat scroll left center transparent;
}

.linkConfig{
    background: url("../img/ico_error_sis_solu.png") no-repeat scroll left center transparent;
}

.linkReportes{
    background: url("../img/ledicons/report.png") no-repeat scroll left center transparent;
}

#btnRightMenu ul{
    padding: 25px 0;
    border : 1px solid #00658F;
    height: auto;
    width: auto;
    background-color: #FFFFFF;
    border-bottom: 0px;
    font-size: 10px;
    list-style: none;padding: 0;margin: 0;        
}   

.menuDerecho li{
    text-align:left !important;
    float:left;

}
.menuDerecho li a , .menuDerecho li span{
    font-size:10px !important;
    background-color: #FFF;
    display: block;
    height: 15px;
    text-align: center;
    width: 15px;
    border: 1px solid #5C9CCC;
    margin: 2px;
}

fieldset{
    border: 1px solid #5C9CCC !important;
    padding : 5px 10px;
}
fieldset  legend{
    color: #5C9CCC !important;
    padding : 5px;
    font-weight: bold;
}
div.actions{
    padding: 10px;
    margin: 5px 0 0 0;
    background-color: #F2F2F2;

}
.numbers{
    background-color: #0080AF !important;
    color: white !important;
    text-align:center!important;
}

#legend ul{
    margin:0px !important;
    padding:0px !important;
    position:relative;
    top:-5px;
}
#legend li{
    float:left!important;
    margin:0 4px;
}

.seleccionado,.selected{

    background: url(../img/bg_head_js.gif);
    color: #0080AF !important;

}

.msgOk{
    background-image : url(../img/ok_offline.png);
    background-repeat : no-repeat;
    border : 1px solid green;
    color: green;
}

.msgError{
    background-image : url(../img/sigma_icon_delete.png);
    background-repeat : no-repeat;
    border : 1px solid red;
    color: red;
}
.classCoordDetalles{
    background-color: white;
    color: #0080AF;
    border: 1px solid #0080AF;
    padding: 3px;
    font-size: 11px;
    text-align:left;
    z-Index:999999!important;
}

.msg ,.msgOk,.msgError{
    padding : 5px;
    display :inline-block;
    background-position :  5px ;
    padding-left : 25px;
    background-repeat :  no-repeat ;
    background-color: #FFF;
    position :relative;
    margin : 5px 0 0 0 ;
}

a.link{
    font-size: 10px !important;
}

label{
    font-size: 11px !important;
    color:#0086C3;
}

.fieldset{
    background-color: #F2F2F2;
    border: 1px solid #000 !important;
}

select {
    cursor: pointer !important;
    padding: 2px !important;
}

input[type="text"]{
    padding: 3px !important;
}

.shortText{
    width : 33% !important;
}

.mediumText{
    width : 50% !important;
}

.longText{
    width : 95% !important;
}

.modalAjax{
    background-color: #FFF;
}

.msgLoadAjax{
    margin: 0 auto;
    position: relative;
    width: 300px;
    border:1px solid #CCC;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
}

.msgLoadAjax img{
    margin:  0 8px 0  0 !important;
}

.tipsTdp{
    text-align:left;
    background-color : #FFF;
    border : 1px solid #0086C3;
    color : #0086C3;
    padding : 3px;
}

.base_modulo {
    margin : 0 auto;
    position : relative;
    width : 95%;
}

.listaMultiselectCheck ul {
	list-style : none;
	padding : 0;
	margin : 0;
}

.listaMultiselectCheck li {
	float :left;
}