body{
 font-family:  Trebuchet MS;  
}
#cont_form{
    width: 95%;
    margin: auto;
   /* border: 1px solid #00527a;*/
    background: white;
    padding: 10px 10px 10px 10px ;
}
.fld{
    border:1px solid #1D87BF;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    padding: 3px;
    padding-left: 10px;
    font-family: arial;
    margin-bottom: 5px;
    text-align: left;
    font-family: Arial;
    padding-bottom: 10px;
}
.textos{
    height: 18px;
    font-size: 12px;
    float: left;
    text-align: right;
    font-weight: bold;
   margin: 0px 5px 0px 5px ;
   margin-top: 3px;
    background-color:#0086C3; 
    color:#ffffff;
    border: 1px solid #000055 ;
}
.controles{
    float: left;
    height: 18px;  
    font-size: 12px;
    margin: 0px 3px 0px 3px ;
     margin-top: 3px;
}
 .labels{
    float: left;
    height: 18px;  
    font-size: 9px;
    margin: 0px 3px 0px 3px ;
    margin-top: 3px;
    border: 1px solid #000055 ;
	text-align: left;
}
.selectmediano{
   /* border: 1px solid #000;*/
    width: 180px;
}
#cont_grilla_head{
    position: relative;
    border: 1px  solid #000055;
    background-color:  #0086c3;
    color: #ffffff;
    height: 20px;
}
#cont_grilla_head .headgrilla{
    text-align: center;
    font-weight: bold;
    font-size: 10px;
    height: 20px;
    float: left;   
}

