/* 
    Document   : estilos
    Created on : 07/02/2011, 02:40:48 PM
    Author     : GMD
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/


div.topmenu {
    float: left;
    margin-left: 20px;
    margin-top: 0;
    font-size: 12px;
}

div.topmenu div.submenu_img_home {
    padding: 15px 7px 0 0;
}

div.topmenu div, div.topmenu div.submenu_01 {
    float: left;
}

div.topmenu div, div.topmenu div.submenu_01 {
    float: left;
}

div.topmenu div.submenu_01 div.submenu {
    background: url("../images/btn_flechita_off.gif") no-repeat scroll 100% 40% transparent;
    height: 45px;
    width: auto;
}

div.topmenu div.submenu_01 div.dis {
    cursor: pointer;
    display: block;
    padding: 14px 22px 7px 9px;
}

div.topmenu div, div.topmenu div.submenu_01 {
    float: left;
}

cufon {
    display: inline-block !important;
    font-size: 1px !important;
    line-height: 1px !important;
    position: relative !important;
    vertical-align: middle !important;
}

cufon cufontext {
    display: inline-block !important;
    height: 0 !important;
    overflow: hidden !important;
    text-indent: -10000in !important;
    width: 0 !important;
}

cufon canvas {
    position: relative !important;
}

.fon_blan {
    padding-bottom: 3px;
    padding-left: 10px;
    padding-top: 3px;
}

.fon_gris {
    background-color: #F0F1F2;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-top: 3px;
}

.sup .izq {
    float: left;
    width: 205px;
}

.mensaje {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding-top: 15px;

}

input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #000000;   
}

.input_text {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #CFD0D2;
    color: #000000;
}

label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.error {
    font-family: Arial, Helvetica, sans-serif;
}

.button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
}

.login {
    margin-left: 300px;
    width: 600px;
    background-color: #0086C3;
    border: 1px solid;
}

.logomov a {
    background: url("http://tolcdn.movistar.com.pe/Content/Images/Generales/image/logo_telefonica_m.png") no-repeat scroll left top transparent;
    cursor: pointer;   
    display: block;
    height: 51px;
    width: 240px;
    padding-right: 10px;
    margin-left: 960px;
}

a {
    color: #259DCD;
    cursor: pointer;
    text-decoration: underline;
}

.contrata_nuevo_txt1 {
    background-color: #0080AF;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
    text-align: left;    
}

ul.topnav {
    list-style: none;
    padding: 0 20px;
    margin: 0;
    float: left;
    width: auto;
    font-size: 1.7em;
    /*background: url(../images/topnav_bg.gif) repeat-x;*/
}

ul.topnav li {
    float: left;
    margin: 0;
    padding: 0 15px 0 0;
    position: relative; /*--Declare X and Y axis base for sub navigation--*/
}

ul.topnav li a{
    padding: 10px 5px;
    color: #fff;
    display: block;
    text-decoration: none;
    float: left;
}

ul.topnav li a:hover{
    /*background: url(../images/topnav_hover.gif) no-repeat center top;*/
}

ul.topnav li span { /*--Drop down trigger styles--*/
                    width: 17px;
                    height: 35px;
                    float: left;
                    background: url(../images/subnav_btn.gif) no-repeat center top;
}

ul.topnav li span.subhover {
    background-position: center bottom;
    cursor: pointer;
} /*--Hover effect for trigger--*/

ul.topnav li ul.subnav {
    list-style: none;
    position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/
    left: 0; top: 35px;
    /*background: #333;*/
    margin: 0; padding: 0;
    display: none;
    float: left;
    width: 170px;
    border: 1px solid #111;
}

ul.topnav li ul.subnav li{
    margin: 0; padding: 0;
    border-top: 1px solid; /*#252525; /*--Create bevel effect--*/
    border-bottom: 1px solid; /*#444; /*--Create bevel effect--*/
    clear: both;
    width: 170px;
}

html ul.topnav li ul.subnav li a {
    float: left;
    width: 145px;
    background: #333 url(../images/dropdown_linkbg.gif) no-repeat 10px center;
    padding-left: 20px;
}

html ul.topnav li ul.subnav li a:hover { /*--Hover effect for subnav links--*/
                                         background: #222 url(../images/dropdown_linkbg.gif) no-repeat 10px center;
}


body {
    background: url(../images/bg_1.jpg) no-repeat scroll center top transparent;
    color: #333333;
    font-family: Arial, Helvetica, Arial, sans-serif;
    font-size: 66%;
}

#cabecera #logo {
    float: left;
    height: 70px;
    margin-top: -15px;
    width: 186px;
}

#cabecera #titulo_site {
    float: right;    
    margin: -10px -50px 0 0;
    padding: 10px 0 0;
}

#titulo_site h1 {
    color: #FFFFFF;
    font-family: 'TelefonicaHeadlineLightRegula', Arial, Helvetica, sans-serif;
    font-size: 3.5em;
    font-weight: normal;
    letter-spacing: -1px;
    line-height: 1em;
    padding: 0 0 10px;
}

#titulo_site h2 {
    color: #FFFFFF;
    font-family: 'TelefonicaHeadlineLightRegula', Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1.1em;
    margin-top: -15px;
    margin-left: 5px;
}

.clear {
    clear: both;
    display: block;
    font-size: 1px;
    height: 0;
}

#general {
    background-repeat: no-repeat;
    left: 0;
    margin: 0 auto;
    padding: 0 0 0;
    position: relative;
    text-align: left;
    width: 900px;
    height: 480px;    
}

#nav_principal {
    clear: both;
    display: block;
    height: auto;
    margin-bottom: 8px;
    margin-top: 10px;
    padding-top: 0;
    width: 100%;    
}

.busqueda_filtro {
    font-weight: bold;
    font-size: 12px;
    border: 1px solid #E2E2E2;
    padding: 12px 8px 4px;
    width: 600px;
}

.busqueda_filtro_leyenda {
    padding-left: 4px;
    padding-right: 4px;
}

.form_titulo {
    padding-top: 20px;
    border-bottom: 1px solid #E2E2E2;
    color: #004350;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}

.tabla_cabecera {
    font-family: Arial, Helvetica, Arial, sans-serif;
    background-color: #0080AF;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 5px 5px 5px;
    text-align: center;    
}

.tabla {
    font-family: Arial, Helvetica, Arial, sans-serif;
    background-color: #AECFEE;
    margin-left: auto;
    margin-right: auto;
}

.tabla_txt1 {
    font-family: Arial, Helvetica, Arial, sans-serif;
    background-color: #FFFFFF;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    padding: 2px 2px 2px 2px;
}

.tabla_txt2 {
    font-family: Arial, Helvetica, Arial, sans-serif;
    background-color: #FFFFFF;
    font-size: 12px;
    font-weight: normal;
    text-align: left;
    padding: 5px 5px 5px 5px;
}

#footer {
    background: url('../images/bg_pie.jpg') no-repeat scroll center bottom transparent;
    clear: both;        
    height: 120px;
    padding-top: 0;
    position: relative;
}

em {
    padding-left: 5px;
    color: red;
    font-style: normal;
    font-size: 10px;
}

.cabecera_filtro {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    font-style: normal;
    text-align: left;
    padding-bottom: 5px;
    height: 20px;
}

.cabecera_datos {
    font-size: 12px;
    color: #004350;
    width: 145px;
    float: left;
    text-align: left;
    font-weight: bold;    
    letter-spacing: 0.08em;
}

.contenido_datos {
    border: 0px solid #D0D0D0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    height: 20px;
    padding-left: 5px;
    padding-bottom: 5px;
}

.separacion {
    height: 20px;
    width: 990px;
}

.cabecera {
    clear: both;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 96%;
}

label {
    font-family: Arial, Helvetica, sans-serif;
    width: 10em;
    float: left;
}

label.error {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    float: none;
    color: red;
    padding-left: .5em;
    vertical-align: top;
}

p {
    clear: both;
}

.submit {
    margin-left: 12em;
}

em {
    font-weight: bold;
    padding-right: 1em;
    vertical-align: top;
}

#wrapper {
    overflow: hidden;
    text-align: center;
    width: 100%;
}

.btn_submit {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.content {
    background-color: #FFFFFF;
    clear: both;
    float: left;
    width: 800px;
    border: 1px solid #000000;
}

.tpSubMenu {
    background: url("../images/fndpestania.png") no-repeat scroll center bottom transparent;
    display: none;
    left: -12px;
    padding: 0 12px 17px;
    position: absolute;
    top: 66px;
    width: 465px;
    z-index: 21;
}

.cont_men_inter {
    background-color: #FFFFFF;
    float: left;
    padding-bottom: 10px;
    width: 465px;
}

.sup {
    float: left;
    padding-top: 15px;
    width: 465px;
    z-index: 999999;
}

.sup .der {
    border-right: 1px solid #F2F2F2;
    float: left;
    margin: 10px 15px 20px 10px;
    width: 205px;
}

.sup .izq {
    float: left;
    width: 205px;
}

.izq .tex {
    line-height: 19px;
    padding-top: 11px;
}

.izq .tex a {
    color: #0086C3;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}