@charset "utf-8";
/* CSS Document */

/* Iniciación etiquetas generales */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, th, p {
    margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit;
    list-style:none; list-style-image:none; list-style-type:none; outline:none;
}
label {
    text-decoration: underline;
    cursor: hand;
}
select {
    font:11px Arial, Helvetica, sans-serif;
}
a { 
    color: #0086c3; cursor:pointer!important; text-decoration: none !important;
}
a:hover { 
    text-decoration:underline!important;    
}
.display_off { 
	display:none;
}
.display_on { 
	display:block;
}

/* Contenedores principales */

#header{
    /* background-color:#00658F; */
	 height:130px;
    background-image:url(../img/bg_menu_2.png);
    background-repeat:no-repeat;
    background-position:left top;
    width:100%;
    margin-bottom: -1px;
}
.slogan_header{
    background-image:url(../img/slogan_header.png); background-repeat:no-repeat; background-position: left center;
    width: 318px; height: 28px;
}
.slogan_header_login{
    background-image:url(../img/slogan_login.png); background-repeat:no-repeat; background-position: left center;
    width: 505px; height: 28px; margin-top: 10px;
}

/* Estilo tabla 1 */
.tabla_cabecera {
    background-color: #0080AF;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: bold;
    padding: 5px 5px 5px 5px;
    text-align: center;
}

.tabla {
    background-color: #AECFEE;
    margin-left: auto;
    margin-right: auto;
}

#tabla_txt1 {
    background-color: #FFFFFF;
    font-size: 10px;
    font-weight: normal;
    text-align: center;
    font-family: Arial;
}

#tabla_txt2 {
    background-color: #FFFFFF;
    font-size: 10px;
    font-weight: normal;
    text-align: left;
    font-family: Arial;
}

/*Estilos Tabla de Submodulos*/
.tab_submodulos{
    border-collapse:collapse;
    font-size: 11px;
}

.tb_submodulos th{
    color:#4BB2CA;
    font-weight: bold;
    font-size: 15px;
}
.tb_submodulos span{
    color:#006187;
    text-decoration: none;
    cursor: pointer;
}
.bloque_submodulos{
    display: none;
}
/*Fin Estilos Tabla submodulos*/


/*modulo menu superior*/

div.topmenu { 
	margin-top:0; margin-left:20px; float: left; 
}
div.topmenu div.submenu_img_home { 
	padding: 15px 7px 0px 0px;
}
div.topmenu div, div.topmenu div.submenu_01{ 
	float:left; text-align:left;
}
div.topmenu div.sig { 
	background:url(../img/fnd_cabecera_sig.gif) no-repeat left top;
}
div.topmenu div.submenu_01 div.dis { 
	display: block;padding: 14px 22px 7px 9px; _padding: 14px 22px 1px 9px; cursor: pointer;
}
 /*_padding: 4px 20px 10px 9px*/

/* menu activo off */
div.topmenu div.submenu_01 div.submenu{ 
	width:auto; height: 45px; _height:51px; 
	background:transparent url(../img/btn_flechita_off.gif) no-repeat 100% 40%;
	}
div.topmenu div.submenu_01 div.submenu a  {
	font-size: 20px; color: #5CD2ED;text-decoration: none;
	}

div.topmenu div.submenu_01 div.submenu_over { 
	width:auto; height: 45px;_height:51px; background:#FFF url(../img/btn_menu_over.jpg) top right no-repeat;
	}
div.topmenu div.submenu_01 div.submenu_over a  {
	font-size: 20px; color: #5CD2ED;text-decoration: none !important;
}
div.topmenu div.submenu_01 div.submenu_over a:hover{
	font-size: 20px; color: #00517A;
}
/* menu activo on*/
div.topmenu div.submenu_01 div.submenu_sel { 
	width:auto; height: 45px; _height:51px; background:transparent url(../img/btn_flechita_off.gif) no-repeat 100% 40%;
}
div.topmenu div.submenu_01 div.submenu_sel a  {
	font-size: 18px; color: #FFF;text-decoration: none;
}

div.topmenu div.submenu_01 div.submenu_sel_over { 
	width:auto; height: 45px;_height:51px; 
	background:#FFF url(../img/btn_menu_over.jpg) top right no-repeat;
}
div.topmenu div.submenu_01 div.submenu_sel_over a.sel {
	font-size: 22px;color: #FFF;text-decoration: none !important;
}
div.topmenu div.submenu_01 div.submenu_sel_over a.sel:hover {
	font-size: 22px; color: #00517A;
	}

.tpSubMenu { 
    position:absolute; display:none; left:-12px; top:66px; z-index:21; width:465px;
    padding:0 12px 17px; _padding:0px 12px 30px 12px;
    background:url(../img/fndpestania.png) bottom center no-repeat; _background:none;
}

.overmenu .tpSubMenu { 
    display:block; 
}

/* aqui estoy ocultando el menu en JS */
.intTpSubMenu { 
    float:left; width:401px; padding:11px; _padding:25px 11px 10px 11px; 
	background:#FFF; border:1px solid #dbdbdb; border-top:0 
}
.contenttpSubMenu { 
    float:left; margin-bottom:12px;
}
	

/* logo */
.logomov { 
	float:right; margin-right:10px;_margin-right:5px 
}
.contentLogoMov { 
	display:inline; float:right;
}
.logomov a { 
	display:block; width:155px; height:55px; 
	background:url(../img/logo_telefonica.gif) no-repeat left top; cursor: pointer 
}
.logomov a span { display:none;}


.cont_men_inter {
	/*height: 180px;*/
	width: 465px;background-color: #FFF;padding-bottom:10px;float:left;
}
.paddin_top_inter{ 
	padding-top:17px;
}
.sup {
	width: 465px;
	/*	height: 146px;*/
	float:left;padding-top:15px;z-index:999999;
}
.sup_margin_lf{	
	margin-left: 20px;
	_margin-left:0px;
	}
.sup .der {
	float: left;
	/*height: 136px;*/
	width: 205px;
	margin-right:15px;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom:20px;
	border-right:#f2f2f2 solid 1px;
}
.izq .tex a {
	text-decoration: none;font-family: Verdana, Geneva, sans-serif; font-size: 12px;font-weight: bold;color: #0086c3;
}
.izq .tex a:hover {
	text-decoration: underline;
}
.izq .tex {
	padding-top: 11px; line-height:17px;
}
.fon_blan  {
	padding-top:3px;padding-bottom:3px;padding-left: 10px;
}
.inf {
	font-family: Verdana, Geneva, sans-serif;font-size: 12px;font-weight: normal;color: #ffffff;height: 19px;background-color: #00527a; padding-top: 5px;padding-left: 9px;margin-left: 10px;margin-right: 10px;width: 415px;float:left;display:none;
}

.fon_blan a  {
	height: 18px;font-family: Verdana, Geneva, sans-serif;font-size: 12px;font-weight: normal;
	color: #0086c3;text-decoration: none;
}
.fon_blan a:hover  {
	text-decoration: underline;
}
.fon_gris {
	padding-top:3px;padding-bottom:3px;padding-left: 10px;background-color: #f0f1f2;
}
.fon_gris a {
	height: 8px;font-family: Verdana, Geneva, sans-serif;font-size: 12px;font-weight: normal;
	color: #0086c3;text-decoration: none;
}
.fon_gris a:hover  {
	text-decoration: underline;
}
.sup .izq {
	float: left; width:205px; margin:0px 0px 20px 0px;
}

.triangulo_sup
{
    margin-left: auto; margin-right: auto; margin-bottom: -3px;  width: 95%; padding-top: 85px; height:45px;
     background-image:url(../img/bg_sup.png); background-repeat:no-repeat;  background-position:right bottom;
}