/*
Estilos Main Administracion - Menu Principal
Autor: Gonzalo Chacaltana Buleje <gchacaltana@gmd.com.pe>
Sistema Web Unificada - STC TDP
*/
#container_main_menu{
    height: auto;
    width: 98%;
    background-color: #FFFFFF;
    font-family: Arial;
    font-size: 11px;
    color: #315169;
    text-align: left;
    margin: 10px; text-align:left;
    border: 1px solid #F6F7F9;
}
.container_div_item_menu{
    border:1px solid #BEC6CF;
    background-color: #F9FAFC;
    width: 100%;
    height: 25px;
    padding: 5px;
    margin-bottom: 5px;
}
.container_div_item_menu:hover{
    background-color: #DBEDFE;
    color:#4D659F;
}
