/**
 * @autor Gonzalo Chacaltana Buleje <gchacaltana@gmd.com.pe>
 * Estilos para el contenedor principal de comunicados.
 */
 #box_main_comunicados{
     width: 860px;
     height: 300px;
     background: #F0F0F0;
     font-family: Tahoma, Arial;
     font-size: 11px;
     margin: 0px;
     border: 1px solid #3B5998;
 }
 #box_main_comunicados #content_header{
     background: #3B5998;
     color: #FFFFFF;
     width: 100%;
     height: 22px;
 }
 #box_main_comunicados #content_header table{
     border-collapse: collapse;
     width: 100%;
 }
 #box_main_comunicados #content_left{
     width: 250px;
     height: 270px;
     float: left;
     background: #F0F0F0;
     overflow:auto;
 }
 #box_main_comunicados #content_right{
     width: 600px;
     height: 270px;
     float: right;
 }
 #box_main_comunicados #content_footer{
     background: #2E2D33;
     color: #FFFFFF;
     width: 100%;
     height: 15px;
 }
 /* Items */
 #box_main_comunicados #content_left .item_par,#box_main_comunicados #content_left .item_impar{
     height: 50px;
     width: 220px;
     border-bottom: 1px solid #3B5998;
     padding-top: 3px;
     padding-left: 5px;
     text-align: left;
     color:#919191;
     font-size: 10px;
 }
 #box_main_comunicados #content_left .item_par:hover,#box_main_comunicados #content_left .item_impar:hover{
     background: #D8DFEA;
     cursor: pointer;
     color:#0052A3;
 }
 #box_main_comunicados #content_left .item_par{
     background: #FFFFFF;
 }
 #box_main_comunicados #content_left .item_impar{
     background: #EFF2F7;
 }
 #box_main_comunicados #content_left .item_selected{
     background: #4C8EFB;
     color:#FFFFFF;
     height: 50px;
     width: 220px;
     border-bottom: 1px solid #3B5998;
     padding-top: 3px;
     padding-left: 5px;
     text-align: left;
     box-shadow: 6px 6px 3px #888;
 }
 /* Contenido */
 #box_main_comunicados #content_right .body_content{
     background: #F1F1F1;
     padding: 0px;
     height: 258px;
     overflow:hidden;
     position: relative;
     /*border: 1px solid #cc0800;*/
     margin-top: 5px;
 }
 #box_main_comunicados #content_right .body_content .content_current_comunicado{
     border:1px solid #9EB7CD;
     background: #FFFFFF;
     width: 570px;
     height: 250px;
     margin: auto auto;
     padding: 3px;
     margin-bottom: 1px;
     -moz-border-radius:5px;
     -webkit-border-radius:5px;
 }
 #box_main_comunicados #content_right .body_content .content_current_comunicado .content_content{
     height: 200px;
     width: auto;
     text-align:justify;
     overflow: auto;
     padding-left: 10px;
     padding-right: 8px;
 }
 