/* 
    Document   : mantenimientoAdministracion
    Author     : Gonzalo Chacalatana Buleje 
    Description:
    Estilos para insertar, editar, listar, etc del modulo administracion/
*/

/* estilos del tabs usuario*/

.link_tab_header{
    
    font-weight: 800;
    
}

.box_descripcion_seccion{
    padding: 8px;
    margin-bottom: 10px;
    border:1px solid #0098E1;
    background-color: #ECF5FA;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    position: relative;
    font-family: arial;
    font-size: 12px;
    line-height: 20px;
    color:#004D6A;
    z-index: 0;
}

.box_show_message{
    border:1px solid #FFB100;
    background: #FEFBBA;
    color:#1C85DA;
    padding: 8px;
    margin-bottom: 10px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    position: relative;
    font-family: arial;
    font-size: 12px;
    line-height: 20px;
    z-index: 0;
    font-weight: bold;
    display: none;
}

.ipt{
    border:1px solid #84A1C4;
    color:#1D2A5B;
}

.ipt:focus{
    border:1px solid #0098E1;
    color:#0008B2;
}
.slt{
    border:1px solid #84A1C4;
    color:#1D2A5B;
}

.slt:focus{
    border:1px solid #0098E1;
    color:#1D2A5B;
}

/* ------ buttons-----------------------------------------------*/

.btn {
float:left;
display:inline-block;
height:44px;
line-height:44px;
padding:0 10px 0 50px;
background:url(../img/white.jpg) repeat-x;
color:#999;
font-weight:bold;
font-size:13px;
text-shadow:0 1px 0 #fff;
position:relative;
border:1px solid #DFDFDF;
margin:0 10px 10px 0;
-moz-border-radius:8px;
-webkit-border-radius:8px;
border-radius:8px;
text-decoration: none;
}

.btn:hover {
border-color:#376DD5;
background:#ECF5FA;
color:#376DD5;
text-decoration: none;
}

.btn span{
display:block;
position:absolute;
top:6px;
left:9px;
width:32px;
height:32px;
background-repeat:no-repeat;
background-position:center;
text-decoration: none;
}

.btn.save span {
background-image:url(../img/btn_save_32.png);
}
.btn.save_add span {
background-image:url(../img/btn_save_add_32.png);
}
.btn.deshacer span {
background-image:url(../img/btn_clear_32.png);
}
.btn.cancelar span {
background-image:url(../img/btn_cancelar_32.png);
}

.label{ color:#003366; text-align: left; font-weight: bold; font-size: 12px;}

/*Estilos para Nuevo Usuario*/
#box_menu_adm {
clear: both;
margin: 0;
padding: 0;
text-decoration: none;
}

#box_menu_adm a.trigger{
text-decoration: none;
font-size: 14px;
letter-spacing:-1px;
font-family: arial;
color:#fff;
padding: 10px 30px 10px 0px;
font-weight: 700;
background:#EC3001 url(../img/plus_16.png) 90% 55% no-repeat;
border:1px solid #EC3001;
-moz-border-radius-topright: 15px;
-moz-border-radius-bottomright: 15px;
-webkit-border-top-right-radius: 15px;
-webkit-border-bottom-right-radius: 15px;
display: block;
}

#box_menu_adm a.trigger:hover{
text-decoration: none;
font-size: 14px;
letter-spacing:-1px;
font-family: arial;
color:#fff;
padding: 10px 30px 10px 0px;
font-weight: 700;
background:#00658F url(../img/plus_16.png) 90% 55% no-repeat;
border:1px solid #00658F;
-moz-border-radius-topright: 15px;
-moz-border-radius-bottomright: 15px;
-webkit-border-top-right-radius: 15px;
-webkit-border-bottom-right-radius: 15px;
display: block;
z-index: 1000;
}

#box_menu_adm a.trigger.active {
background:#EC3001 url(../img/sigma_icon_delete.png) 90% 55% no-repeat;
border:1px solid #EC3001;
}

.panel {
position: absolute;
top: 39px;
left: 0;
display: none;
background: #5CD2ED;
border:1px solid #5CD2ED;
-moz-border-radius-topright: 20px;
-webkit-border-top-right-radius: 20px;
-moz-border-radius-bottomright: 20px;
-webkit-border-bottom-right-radius: 20px;
width: 240px;
height: auto;
padding-top: 10px;
padding-left: 0px;
padding-bottom: 10px;
filter: alpha(opacity=85);
opacity: .85;
color:#003B52;
font-family: arial;
font-size: 12px;
z-index: 1000;
}
.panel a{
    color:#00394E;
}
.panel a:hover{
    text-decoration: none;
    color:#EC3001;
}

em{ color:#FF0000; margin-left: 8px;}
/*Estilos para div de mensajes de OK y usuario no existe */
            .box_not_user,.box_ok_user{
            width: 92%;
            padding-left: 50px; height: 25px; padding-top: 8px;
            color:#CC0800; font-weight: bold;
            text-align: left; vertical-align:middle;
            font-size: 12px;
            border:1px solid #0086C3;
            -moz-border-radius:5px;
            -webkit-border-radius:5px;
            }
            .box_not_user{
                background: url(img/sigma_icon_delete.png) no-repeat scroll 2% 50%;
                margin-top: 40px;
                background-color: #F7FEC0;
        }
        .box_not_user a{ color:#0086C3; text-decoration: none;}
        .box_ok_user{
        background: url(../img/mensaje_icono_bien.png) no-repeat scroll 2% 50%;
        background-color: #F7FEC0;
        }
        .no_func{
            margin: 10px;
            color:#033F57;
            font-size: 12px;
            display: none;
}

.msgLoading{
    width: 300px;
    height: 30px;
    border:1px solid #0292E9;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    background: #E8F2F6;
    color:#048FE4;
    margin:10px auto;
    padding-top: 10px;
    text-align: center;
    font-size: 12px;
    display: none;
    margin-bottom: 20px;
}

.msgModal{
        border:1px solid #196DD0;
        background-color:#F0F9FD;
        display:none;
        padding:7px;
        position:absolute;
        font-family:arial;
        font-size:11px;
        color:#196DD0;
        -moz-border-radius:5px;
        -webkit-border-radius:5px;
        }
.box_modal{
        border:1px solid #196DD0;
        background-color:#F0F9FD;
        display:none;
        padding:5px;
        font-family:arial;
        font-size:11px;
        width: 85%;
        height: 330px;
        overflow: auto;
        color:#196DD0;
        margin: 0px auto;
        margin-top: 25px;
        }
.box_modal span{
            color:#395594;
}

.box_loading{
    color:#4E9AFB;
    display: none;
}

.box_modal_update{
        border:1px solid #196DD0;
        background-color:#F0F9FD;
        display:none;
        padding:6px;
        font-family:arial;
        font-size:11px;
        width: 100%;
        height: 280px;
        overflow: auto;
        color:#196DD0;
        margin-left: 5px;
        margin-top: 0px;
        }
        .box_modal_update span{
            color:#395594;
}

        #tb_zonal{
        font-size: 11px;
        }
        #tb_zonal td:hover{
        background-color: #A2D7FB;
        }
        .lbl_tit_asignado{
            color: #004350;
            margin-top: 9px;
            font-size: 11px;
            font-weight: 900;
        }
        .tb_permisos{
            width: 210px;
            font-size: 11px;
            font-family: Verdana;
        }
.box_add_funcionalidades{
            background-color: #ECF5FA;
            width: 450px;
            height: 180px;
            border:1px solid #2389B1;
            overflow: auto;
            padding: 5px;
            border-right: none;
}

.box_description_permisos{
    background-color: #ECF5FA;
    border:1px solid #2389B1;
    border-left: none;
    width: 250px;
    height: 180px;
    padding: 5px;
    vertical-align:middle;
}
.box_description_permisos .descripcion{
    
    width: 210px;
    margin: 30px auto;
    margin-top: 15px;
    height: 135px;
    border:1px solid #0D5995;
    -webkit-border-radius:5px;
    padding: 6px;
    -moz-border-radius:5px;
    background: #FFFFFF;
    background-image:url("../img/ayuda.png");
    background-position:bottom right;
    background-repeat: no-repeat;
    display: none;
}
.box_description_permisos .descripcion .tit_descripcion{
    color:#0D5995;
    font-size: 12px;
}
.box_description_permisos .descripcion p{
    margin-top: 5px;
    color:#5F5F5F;
    width: 164px;
}

/*Estilos Listado de Usuarios*/
.fld{
    border:1px solid #1D87BF;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    padding: 3px;
    padding-left: 10px;
    font-family: arial;
    margin-bottom: 5px;
    text-align: left;
    font-family: Arial;
    padding-bottom: 10px;
}
.fld label{ color:#00587B;}
.lgd{ padding-left: 5px; font-weight: 500; text-align: left; color:#006C96; font-size: 13px;}
.tb_listado{
    margin-left: 25px;
    width: 95%;
    border-collapse: collapse;
    font-family: Arial;
    font-size: 11px;
    color:#3C3C3C;
    border: 1px solid #005CC1;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}
.tb_listado th{
    background-color: #005CC1;
    color:#FFFFFF;
    text-align: left;
    height: 23px;
    padding-left: 5px;
    font-weight: bold;
}

.link_hd{
    color:#FFFFFF;
    text-decoration: none;
}
.link_hd:hover{
    color:#FCF12B;
}

.tb_listado tbody .tr{
    background: #F7F7F7;
}
.tb_listado tbody tr:hover,.tr:hover{
    background-color: #F0F9FD;
    color:#175CAA;
}

.tb_listado tbody td{
    border-bottom: 1px solid #175CAA;
    text-align:left; 
    padding-left: 5px;
}

.box_descargas_docs{
    margin-left: 25px;
    width: 95%;
    text-align: left;
    height: 20px;
    padding: 5px;
    border:1px solid #4396CA;
    background-color: #DBEEFA;
    color:#155BA2;
    font-size: 11px;
}
.img_link{
    border:none;
    cursor: pointer;
}

/* GRUPO DE APLICACIONES - NUEVO */
.box_permisos{
            background-color: #ECF5FA;
            width: 400px;
            height: 300px;
            border:1px solid #2389B1;
            overflow: auto;
            margin-top: 5px;
            padding: 5px;
            margin-bottom: 20px;
            }
/* HORARIOS PSI*/

.tb_horario_psi{
    width: 100%;
    height: auto;
    border-collapse:collapse;
    font-family: arial;
    font-size: 12px;
    border:1px solid #0098E1;
}
.tb_horario_psi thead{ background: #0098E1; color:#FFFFFF;}
.tb_horario_psi tbody tr:hover{ background: #FFFF99;}
.tb_horario_psi .dia{ color:#00658F;}
.tb_horario_psi img{ cursor:pointer;}


