/* 
    Document   : mantenimiento.Certificaciones.css
    Created on : 09/09/2011, 05:19:40 PM
    Author     : Alex Leiva Dominguex
    Description:
        Purpose of the stylesheet follows.
*/

.selectColums {
    margin: 0;
    padding: 0;
    background-color: white;
    border: 1px solid #CCC;
    width: 150px;
}
.showHidenHeads{
    background-color: white;
    border: 1px solid #CCC;
    border-bottom: 0px;
    font-size: 11px;
    font-weight: bold;
}
.classCoord{
    /*background-color: white;*/
    background: url(../img/bg_head_js.gif);
    color: #0080AF;
    border: 1px solid #0080AF;
    padding: 5px;
    font-size: 11px;
}
.linkExcel {
    background: url("../img/ico_excel.png") no-repeat scroll left center transparent;
    display: inline-block;
    height: 16px;
    margin: 0 5px;
    padding: 0 0 0 21px;
    line-height: 17px;
    vertical-align: middle;

}
.linkPDF {
    background: url("../img/icon_pdf") no-repeat scroll left center transparent;
    display: inline-block;
    height: 16px;
    margin: 0 5px;
    padding: 0 0 0 21px;
    line-height: 17px;
    vertical-align: middle;
}

.linkDelete {
    background: url("../img/ledicons/cancel.png") no-repeat scroll left center transparent;
    display: inline-block;
    height: 16px;
    margin: 0 5px;
    padding: 0 0 0 21px;
    line-height: 17px;
    vertical-align: middle;
}

#btnRightMenu ul{
    padding: 25px 0;
    border : 1px solid #00658F;
    height: auto;
    width: auto;
    background-color: #FFFFFF;
    border-bottom: 0px;
    font-size: 11px !important ;
    list-style: none;
    padding: 0;
    margin: 0;        
}
#btnRightMenu img {
    max-height: 150px;
    max-width: 150px;
}
#btnRightMenu ul li{
    border-bottom: 1px solid #666;
}
#btnRightMenu ul li a {
    text-align: left;
    display: block;
    color: #666;
    text-decoration: none;
    padding: 6px 6px 6px 25px;
}
#btnRightMenu ul li a:hover {
    background-color: #00658F;
    color:#fff;
    text-decoration: none!important;
}

.addNewDocument{
    display: inline;
    margin: 0 0 0 10px;
    color:#0086C3!important;
    font-weight: bold;
    padding: 4px;
    border: 1px solid #0086C3;
}
.addNewDocument:hover{
    text-decoration: none !important;
    color:#FFF !important;
    background-color: #0086C3;
}


.tdLabel{
    background-color: #5C9CCC;
    color:#fff;
    font-weight: bold;
    padding: 0 0 0 10px;
    width: 160px; /*250px;*/
}
fieldset.formsFieldset{
    border: 1px solid #5C9CCC !important;
    padding : 10px;
}
fieldset.formsFieldset legend{
    color: #5C9CCC !important;
    padding : 5px;
    font-weight: bold;
}

div.actions{
    padding: 10px;
    margin: 5px 0 0 0;
    background-color: #F2F2F2;

}
.numbers{
    background-color: #0080AF !important;
    color: white !important;
}

.seleccionado,.selected{
    /*
      background-color: #E6EEEE !important;
      color : #000 !important;
      font-weight: bold !important;
    */
    background: url(../img/bg_head_js.gif);
    color: #0080AF !important;

}

.highlightTip{
    border: 1px solid #0080AF !important;
    display: block;
}

.orderBy{
    display: block!important;   
    width: 100%;
    height: 14px;
    padding: 0 3px 0 0;

}
.columnAsc {
    background: url(../img/asc.gif) no-repeat right;
}

.columnDesc {
    background: url(../img/desc.gif) no-repeat right;
}

/**
* Estilos para Procesos
*/

.classHighLightTip{
    background: url(../img/bg_head_js.gif);
    color: #0080AF;
    padding: 5px;
    font-size: 11px;
}

h1,h2,h3,h4,h5{
    color:#004350;
    margin:0;
    padding:0;
    font-weight:bold;
}

.legend{
    border : 1px solid #5C9CCC;
    overflow : auto;
    height:260px;
    padding:0 5px 0 0 !important;
}
.legend ul,#detalleUpload ul{
    list-style:none;
    padding:0px;
    margin:0px;
}

.legend ul li ,#detalleUpload ul li ,#_detalleUpload_ br{
    display:block;
    border-bottom : 1px solid #CCC;
    padding:3px 10px;
}

a{
    /*color:#5C9CCC!important;*/
}
.cancelUpload{
    display:inline;
    padding:5px;
    color:#5C9CCC!important;
}
.ui-progressbar-value { 
    background-image: url(../css/images/pbar-ani.gif) !important; 
}


#_detalleUpload_  span{
    color:#3974AC!important;
    font-weight:bold;
}