* {
    margin: 0;
    padding: 0;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    text-align: left;
}

select {
	width: 180px;
	margin: 1px;
}

.latlon {
	/*width: 70px;*/
}

.tableBorder {
	background-color:#CDCDCD;
}
.tableBorder th {
	background-color:#E6EEEE;
	border: 1px solid #FFFFFF;
	font-size: 10px;
	height: 22px;
}
.tableBorder td {
	background-color:#FFFFFF;
	font-size: 10px;
	color: #3D3D3D;
}

#divResultArmarios {
    height: 265px;
    overflow: scroll;
    width: 100%;
}

#divTerminales {
    height: 250px;
    overflow: scroll;
    width: 100%;
}

#divAsignarXY {
    height: 250px;
    overflow: scroll;
    width: 100%;
}

#tblSearch {
    margin: 0 5px;
}
#tblSearch tr {
    height: 20px;
}

.selected {
	background: #FF776B;
}
.unselected {
	background: #FEFEFF;
}

.form_titulo {
    border-bottom: 1px solid #E2E2E2;
    color: #004350;
    font-size: 14px;
    font-weight: bold;
    padding-top: 5px;
    text-align: left;
}

.tb_listado{
    margin-left: 5px;
    width: 98%;
    border-collapse: collapse;
    font-family: Arial;
    font-size: 11px;
    color:#3C3C3C;
    border: 1px solid #3889AF;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}
.tb_listado th{
    background-color: #1D87BF;
    color:#FFFFFF;
    height: 25px;
    font-weight: bold;
}

.tb_listado tbody tr:hover{
    background-color: #E0EFFD;
    color:#3889AF;
}
.tb_listado tbody td{
    border-bottom: 1px solid #3889AF;
    text-align:left; 
    padding-left: 5px;
}
.tb_listado tbody tr{
    height: 22px;
}

.bgLoader
{
	/*Div que ocupa toda la pantalla*/
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
    display:none;
}
.bgLoader .imgLoader
{
	width:200px;
	height:80px;
	background-color: #FFFFFF;
	margin-left:100px;
	margin-right:auto;
	margin-top:215px;
	border:1px solid #CCCCCC;
	background-image: url(../img/ajax-loader.gif);
	background-repeat: no-repeat;
	background-position: center center;
    text-align: center;
}
.imgLoader span
{
	line-height:120px;
}


.bgUpload
{
	/*Div que ocupa toda la pantalla*/
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
    display:none;
}
.bgUpload .imgUpload
{
	background-color: #FFFFFF;
	background-position: center center;
    background-repeat: no-repeat;
    border: 1px solid #CCCCCC;
    height: 150px;
    margin-left: 320px;
    margin-right: auto;
    margin-top: 140px;
    text-align: center;
    width: 300px;
}
.imgUpload span
{
	line-height:120px;
}

#divUploadImagen {
    position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
    display:none;
    
    background-color: #FFFFFF;
	background-position: center center;
    background-repeat: no-repeat;
    border: 1px solid #CCCCCC;
    height: 180px;
    margin-left: 320px;
    margin-right: auto;
    margin-top: 140px;
    text-align: center;
    width: 350px;
}

#divCerrarUploadImagen {
    cursor: pointer;
    float: right;
    font-weight: bold;
}
#divFormUploadImagen {
    
}


.tb_listado th.clsOpc {
    width: 20px;
}
.clsTrm {
    width: 23px;
}
.clsXY {
    width: 40px;
}



/*Estilos para Nuevo Usuario*/
#box_menu_adm {
    clear: both;
    margin: 0;
    padding: 0;
    text-decoration: none;
    width: 200px;
}

#box_menu_adm a.trigger{
    text-decoration: none;
    font-size: 14px;
    letter-spacing:-1px;
    font-family: arial;
    color:#fff;
    padding: 10px 30px 10px 0px;
    font-weight: 700;
    background:#EC3001 url(../img/plus_16.png) 90% 55% no-repeat;
    border:1px solid #EC3001;
    -moz-border-radius-topright: 15px;
    -moz-border-radius-bottomright: 15px;
    -webkit-border-top-right-radius: 15px;
    -webkit-border-bottom-right-radius: 15px;
    display: block;
}

#box_menu_adm a.trigger:hover{
    text-decoration: none;
    font-size: 14px;
    letter-spacing:-1px;
    font-family: arial;
    color:#fff;
    padding: 10px 30px 10px 0px;
    font-weight: 700;
    background:#00658F url(../img/plus_16.png) 90% 55% no-repeat;
    border:1px solid #00658F;
    -moz-border-radius-topright: 15px;
    -moz-border-radius-bottomright: 15px;
    -webkit-border-top-right-radius: 15px;
    -webkit-border-bottom-right-radius: 15px;
    display: block;
    z-index: 1000;
}

#box_menu_adm a.trigger.active {
    background:#EC3001 url(../img/sigma_icon_delete.png) 90% 55% no-repeat;
    border:1px solid #EC3001;
}

.panel {
    position: absolute;
    top: 39px;
    left: 0;
    display: none;
    background: #5CD2ED;
    border:1px solid #5CD2ED;
    -moz-border-radius-topright: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    -webkit-border-bottom-right-radius: 20px;
    width: 240px;
    height: auto;
    padding-top: 10px;
    padding-left: 0px;
    padding-bottom: 10px;
    filter: alpha(opacity=85);
    opacity: .85;
    color:#003B52;
    font-family: arial;
    font-size: 12px;
    z-index: 1000;
}

.panel ul li {
	height: 24px;
}

.tb_menu {
    border: medium none;
    border-collapse: collapse;
    font-family: arial;
    font-size: 12px;
    text-align: left;
    width: 230px;
}


.lnk {
    cursor: pointer;
}

.ok {
    color: #0E774A;
}
.nook {
    color: #FF0000;
}

/*
a:hover {
    background:#ffffff; 
    text-decoration:none;
}
*/
a.tooltip span {
    display:none; 
    padding:2px 8px; 
    margin-left:1px; 
    width:100px;
}
a.tooltip:hover span {
    display:inline; 
    position:absolute; 
    background:#ffffff; 
    border:2px solid #004350; 
    color:#6c6c6c;
}

a.tooltip span p {
    padding:4px 0; 
}

.saveOK {
    background: url("../img/check.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 20px;
    margin: 0;
    width: 20px;
}
.saveNoOK {
    background: url("../img/aviso_small.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 20px;
    margin: 0;
    width: 20px;
}

/*estilos para detalle marker de google maps*/
.map_titulo {
    vertical-align: top;
    color: #1155CC;
    font-size: 14px;
    font-weight: bold;
    height: 24px;
}
.map_campo {
    font-weight: bold;
    height: 16px;
}
.map_val_campo {
    color: #666666;
}
.map_val_campo_red {
    color: #ff0000;
    font-weight: bold;
}
.map_text_xy {
    vertical-align: top;
    color: #1155CC;
    font-size: 12px;
}