.celdaX{
    margin:0px;
    padding: 0px;
    line-height: 16px;
}
#grids th, .cabeceras_grid {
    background-image: url(../img/bg_head_js.gif);
    background-repeat: repeat-x;
    background-position: center top; 
    height: 22px;
    color:#000;
    background-color: #E6EEEE;
    border: 1px solid #FFFFFF;
    font-size: 8pt;
    font-weight:bold;
    text-align:center;
}


.ui-slider-handle {
    padding:3px !important;
}
.falta{
    color:red;
    font-weight:bold;
}
.tardanza{
    color:orange;
    font-weight:bold;
}
.asistente{
    color:green;
    font-weight:bold;
}
.today{
    border : 1px solid #0080AF !important;
    border-bottom:0px !important;
    border-top : 0px !important;
    background-image :  none !important;
    background-color :  #FFF !important;
}

.selected_estado_asistencia{
    background-color: green !important;
    color:#FFF !important;
}
span.selected_estado_asistencia{
    background-color: green !important;
}
.selected_estado_ausente{
    background-color: red !important;
    color:#FFF !important;
}
.selected_estado_tardanza{
    background-color: orange !important;
    color:#FFF !important;
}
.colapsibleAll{
    display:inline-block;
    text-decoration:none;
}
.detalle_fechas{
    padding:6px 25px;
    border: 1px solid #0080AF;
    width : 540px;
    height : 220px;
}

div#accionesHorarios {
    padding:3px;
}

div#accionesHorarios a {
    display:inline-block;
    margin: 0 5px;
}

/**generado dinamicamente con jquery**/

.ventana_tardanza{
    border: 2px solid #5C9CCC;
    padding:15px;
    width : 230px;
    height : 200px;
    position: absolute;
    background-color : #fff;
    text-align: left;
    padding-right : 20px;

}
#__input_tardanza{
    width:60px;
}

#__form__tardanza  input, textarea ,#form_edicion_tecnico input, textarea{
    border : 1px solid #0080AF !important;
    padding : 3px !important;
    background-color : #FFF !important;
}
#__form__tardanza  label,#form_edicion_tecnico label{
    font-size : 11px !important;
}

#__form__tardanza  input[type="submit"], #__form__tardanza  input[type="button"] ,#form_edicion_tecnico input[type="submit"],#form_edicion_tecnico input[type="button"]{
    cursor:pointer !important;
    margin : 0 3px;
}

#form_edicion_tecnico input[disabled="disabled"],#form_edicion_tecnico input[disabled="true"]{
    background-color : #DDD !important;
}

#__form__tardanza  input[type="submit"] , #form_edicion_tecnico input[type="submit"]{
    background-color:#5C9CCC !important;
    color : #FFF!important;
}


#__form__tardanza  input[type="text"] { 
    width:30px !important;
}
#__form__tardanza  select{
    margin : 0 3px !important;
}
#__msg__horario__ {
    position:relative;
    height : 30px;
}

/*text-align:center;*/
#__msg__horario__{
    width: 180px;
    padding: 5px 0 0;
    display: inline-block;
    height:auto;
}
/****/

#_resultados_reportes_ td{
    padding:0 0 0 8px!important;
    height:18px !important;
}

.dateDay{
    width : 45px !important;
    height : 45px !important;
}

.finDeSemana{
    border-color:#CCC !important;
}

.semana{
    border-color:#000 !important; 
}

.dayblocked{
    background-color : #DDD !important ;
}

/*
.menuDerecho li span{
  background-color : #EEE !important;
}
*/

span.selected_estado_asistencia{
    background-color: green !important;
}

span.selected_estado_ausente{
    background-color: red !important;
}

span.selected_estado_tardanza{
    background-color: orange !important;
}

.divBloques{
    display: block;
    height: 18px;
    text-align: center;
    width: 100px;
}

.divBloques ul{
    position: relative !important;
    width: 100px !important;
    margin:0 auto !important;
}

#grid_home td{
    padding: 0 0 0 15px;
}


#tecnicos_a_celula li{
    float:left;
    display:block;
    width:250px;
    text-align:left;
}

#_filas_celulas_ li {
    text-align: left;
    clear: left;
    display: block;
    height:20px;
    border-bottom : 1px solid #CCC;
    line-height:20px;
    vertical-align:middle;
}


#_filas_celulas_ li div{
    float :left;
    margin: 0 10px 0 0;
}
