/* general  */
* { 
    margin:0; 
    padding:0; 
}
body { 
    font: normal 18px sans-serif; 
    color:#010101; 
}
a { 
    text-decoration:none; 
	color: #2A58ED;
}
p { 
    margin:0 0 5px 0; 
} 


.menu_principal {
    background: url("../img/bullet_bg.gif") no-repeat scroll 10px center transparent; 
    display: block;
    font-size: 18px;
    font-weight: normal; 
    padding: 14px 35px;
    border-bottom: 1px solid #DBDBDB;
}

.submenu_principal {
    /*width:100%!important; */
    border-bottom: 1px solid #DBDBDB;
    font-size: 16px;
    font-weight: normal;
    padding: 14px 35px;
}
  
table { 
    width:100%; 
}

.searchsubmit {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    background-image: url("../img/buttonblue.png");
    background-position: left bottom;
    background-repeat: repeat-x;
    border-color: #C4D1DB #9EB7CD #9EB7CD #C4D1DB;
    border-right: 1px solid #9EB7CD;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.9) inset;
    font-size: 12px;
    /*height: 32px;*/
    padding: 6px 12px;
    text-shadow: 0 1px 1px #FFFFFF;
}

.rowSelected {
    background-color: #FF0000;
}
.rowSelectedOpacity {
    background-color: #E0EFFD;
}

#tblPrincipal .rowSelected .list  a{
	color: #EEEEEE;
}

#tblPrincipal .clsNum{
	width: 25px;
	float: left;
	font-size: 14px;
	text-align: center;
}

#tblPrincipal tr:hover .list {
	cursor: pointer;
	/*background-color: #E0EFFD;*/
}

#tblPrincipal .imgList {
	margin: 0 10px 0 5px;
}

#tblPrincipal .list  a{
	color: #000000;
}

table.principal td.titulo { 
    font-size: 20px;
    font-weight: bold;
    padding: 10px 5px;
	background-color: #EEEEEE;
	border-bottom: solid 1px #888888;
} 

table.principal td.subtitulo { 
    font-size: 14px;
	font-weight: bold;
    padding: 2px 5px;
	background-color: #92A2B6;
	border-bottom: solid 1px #888888;
	color: #FFFFFF;
	height: 30px;
} 

table.principal td.tituloleft{ 
    padding: 10px 10px 10px 15px;
	border-bottom: solid 1px #DBDBDB;
} 

table.principal td.list {
    border-bottom: solid 1px #DBDBDB;
    padding: 10px 5px;
} 

table.principal td.submit {
    padding: 10px 5px;
} 

/*para formulario de filtros*/
table.principal select.selectFiltro {
    width:180px;
    padding:2px;
}
/*FIN para formulario de filtros*/

.msgErrorLogin {
	color: #FF0000;
	font-size: 13px;
}

table.camposComponentes  td{
	font-size: 14px;
	font-weight: bold;
}


#tblPrincipal .descPrincipal {
	font-size: 12px;
	padding: 14px;
}
#tblPrincipal .clsSubtitle {
	font-weight: bold;
	padding: 0 14px;
	font-size: 12px;
}




.tableBorder {
	background-color:#CDCDCD;
}
.tableBorder th {
	background-color:#E6EEEE;
	border: 1px solid #FFFFFF;
	height: 25px;
	padding: 4px;
}
.tableBorder td {
	background-color:#FFFFFF;
	color: #3D3D3D;
	height: 25px;
	padding: 4px;
}

.lslistado {
	font-size: 12px;
}
.lsdetalle {
	font-size: 14px;
}

.clsInfoMap {
	font-size: 12px;
}

.tableBorder td.compSubTitulo {
	font-weight: bold;
	background-color: #E6EEEE;
}

.clsBold {
	font-weight: bold;
}

.upload {
	width: 30px;
}

.showResult {
	position: fixed; 
	top: 0; 
	left: 0; 
	padding: 10px; 
	margin: 2px; 
	cursor: pointer;
	color: #FFFFFF;
	font-size: 16px;
}
.showRecalcular {
	position: fixed; 
	top: 35px; 
	right: 0; 
	padding: 10px; 
	border: 1px solid #000000; 
	margin: 2px; 
	cursor: pointer;
	color: #FFFFFF;
	font-size: 16px;
}
.divOpacity {
	background-color: #000000;
	-moz-opacity: 0.5;
	opacity:.50;
	filter: alpha(opacity=50);
}

.divHeaderOptions {
	border-left: 1px solid #777777;
    float: left;
    height: 40px;
    padding-top: 10px;
    text-align: center;
    width: 42px;
}


input.submit { 
	font-size: 20px;
    height: 40px;
    padding: 5px;
}



table.header td.logo { 
    border-bottom:solid 2px #F7C400; 
}
table.header td.ultimas { 
    padding:2px 5px; 
    background-color:#c06; 
    color:#fff; 
}
table.header td.intro-nota { 
    /*padding:2px 5px;*/ padding-bottom:4px; 
    background:url(/f/image/movil/dotted-horizontal.gif) repeat-x bottom; 
}
table.header td.intro-nota a { 
    color:#333; 
}
table.header td.seccion { 
    background-color:#eaeaea; 
    padding:2px 5px; 
}
table.header td.seccion a { 
    color:#555454; 
}
table.header td.last { 
    background:none; 
}

.loading {
    font-size:11px;
    font-weight:bold;
}

.lnk:hover{
    /*background-color: #FF0000;*/
}

/*div Cargando*/
.bgLoader {
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.bgLoader .imgLoader {
    background-color: #FFFFFF;
    background-image: url("../img/ajax-loader.gif");
    background-position: 20px center;
    background-repeat: no-repeat;
    border: 1px solid #666666;
    font-size: 14px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    width: 150px;
}
.imgLoader span {
    line-height: 55px;
    padding-left: 45px;
}

#msgNoElementos {
    padding: 10px;
    text-align: center;
}
#msgNoElementos p {
    font-size: 14px;
    font-weight: bold;
}
#msgNoElementos span {
    font-size: 12px;
    font-weight: normal;
}

.m_leyenda {
    background-color: #F9F8F7;
    border: 1px solid #1D87BF;
    border-radius: 3px 3px 3px 3px;
    font-family: Arial;
    margin-bottom: 5px;
    padding: 3px 3px 10px 10px;
    text-align: left;
}