/* 
    Document   : rpt_reportesStyles
    Created on : 25/05/2011, 08:33:09 PM
    Author     : Gonzalo Chacaltana Buleje
    Description:
        Estilos Reportes
*/
.tabla_reporte{
            width: 100%;
            border-collapse:collapse;
            font-size: 11px;
            border:1px solid #4B69A3;
        }
        .tabla_reporte thead th{
            background-color: #4B69A3;
            color:#FFFFFF;
        }
        .tabla_reporte tbody td{
            border-bottom: 1px solid #5B7ACA;
        }
        .tabla_reporte tbody tr:hover{
            background-color: #E9F9F9;
        }
        .tabla_reporte tbody .tr{
            background: #F7F7F7;
        }
        .tabla_reporte tbody .tr:hover{
            background-color: #E9F9F9;
        }
        .tabla_reporte tbody td{ border-right:1px solid #5B7ACA;}
        .tabla_reporte tr .result_total{background: #2131AE; color:#FFFFFF;}
