body { 
    font:11px Arial, Helvetica, sans-serif;
    color:#4b4b4b;
    text-align:center;
    background-image:url(../img/bg_site.jpg);
    background-repeat:repeat-x;
    background-color:#00658F;
}
.cabecera_login {
    width: 100px;
    font-size: 12px;
    color: #000000;    
    text-align: left;
    font-weight: bold;    
}

.cabecera_datos {
    width: 150px;
    font-size: 11px;
    color: #000000;
    text-align: left;
    font-weight: bold;
}

.contenido_login {
    border: 0px solid #D0D0D0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    height: 20px;
    float: left;
    padding-bottom: 5px;    
}

.contenido_datos {
    border: 0px solid #D0D0D0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    height: 20px;    
    padding-bottom: 5px;
    text-align: left;
}

#content{
    width:95%; margin-left:auto; margin-right:auto; 
    background-color:#FFFFFF;
    height:auto;
    min-height:400px;
    margin-top:-2px;
}
#content_login{
    width:95%; margin-left:auto; margin-right:auto;
    height:auto;
}
#cont_resultado_main{

    min-height:350px;
    background-image:url(../img/lupa.jpg); background-repeat:no-repeat;
    background-position:right bottom;
}
#cont_resultado_agendadas{

    min-height:350px;
    display:none;
}


#footer{
    /* background-color:#00658F;  */
    height:30px;
    background-image:url(../img/slogan_area.png); background-repeat:no-repeat;
    background-position:right bottom;
    margin-top: 10px;
    margin-right:27px;
}

label {
    text-decoration: none;
    margin-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

label.error {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    float: none;
    color: red;
    padding-left: .5em;
    vertical-align: top;
}

.form_titulo {
    padding-top: 5px;
    border-bottom: 1px solid #E2E2E2;
    color: #004350;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
}

.titulo_nuevo_txt1 {
    background-color: #0080AF;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    height: 20px;
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}

table.tablesorter {
    background-color: #CDCDCD;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 8pt;
}

table.tablesorter thead tr .header {
    background: #8DBDD8;
    color: #333333;
    background-position: right center;
    background-repeat: no-repeat;
    cursor: pointer;
    text-align: center;
    padding: 8px 8px 8px 8px;
}

table.tablesorter thead tr th, table.tablesorter tfoot tr th {
    background-color: #E6EEEE;
    border: 1px solid #FFFFFF;
    font-size: 8pt;   
}


table.tablesorter tbody td {
    color: #3D3D3D;    
    background-color: #FFFFFF;
    vertical-align: middle;   
}

table.tablesorter tbody tr.odd td {
    background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
    background-image: url(../img/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
    background-image: url(../img/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    background-color: #8dbdd8;
}

a.link_movs{
    color: #FFF;
    font-weight: normal;
}

.overlay{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 1001;
    opacity: 0.75;
    -moz-opacity: 0.75;
    filter: alpha(opacity=75);
}

/* estilo para lo q este dentro de la ventana modal */
.modal {
    display: none;
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    padding: 16px;
    background: #fff;
    color: #333;
    z-index:1002;
    overflow: auto;
}

/* estilo para lo q este dentro de la ventana modal */
.modal_consulta {
    display: none;
    position: absolute;
    top: 2%;
    left: 8%;
    width: inherit;
    height: 90%;
    padding: 3px;
    background: #FFFFFF;
    color: #333333;
    z-index: 1000;
    overflow: auto;
}

input {
    color: #000000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
}

.jPaginate{
    height:30px;
    color:#a5a5a5;
    font-size:small;   
    width:100%;
    padding-left:64px;
}

.jPaginate a{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    line-height:15px;
    height:18px;
    cursor:pointer;
    padding:2px 5px;
    margin:2px;
    float:left;
}

.jPag-control-back{
    position:absolute;
    left:0px;
}

.jPag-control-front{
    position:absolute;
    top:0px;
    left:296px;
}

.jPaginate span{
    cursor:pointer;
}

ul.jPag-pages{
    float: left;
    list-style-type:none;
    margin:0px 0px 0px 0px;
    padding:0px;
    width: 3828px;
}

ul.jPag-pages li {
    float: left;
    display:inline;
    padding:0px;
    margin:0px;
}

ul.jPag-pages li a{
    float: left;
    padding:2px 5px;
}

span.jPag-current{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    cursor:default;
    font-weight:normal;
    line-height:15px;
    height:18px;
    padding:2px 5px;
    margin:2px;
    float:left;
}

ul.jPag-pages li span.jPag-previous,
ul.jPag-pages li span.jPag-next,
span.jPag-sprevious,
span.jPag-snext,
ul.jPag-pages li span.jPag-previous-img,
ul.jPag-pages li span.jPag-next-img,
span.jPag-sprevious-img,
span.jPag-snext-img{
    height:22px;
    margin:2px;
    float:left;
    line-height:18px;
}

ul.jPag-pages li span.jPag-previous,
ul.jPag-pages li span.jPag-previous-img{
    margin:2px 0px 2px 2px;
    font-size:12px;
    font-weight:bold;
    width:10px;

}

ul.jPag-pages li span.jPag-next,
ul.jPag-pages li span.jPag-next-img{
    margin:2px 2px 2px 0px;
    font-size:12px;
    font-weight:bold;
    width:10px;
}

span.jPag-sprevious,
span.jPag-sprevious-img{
    margin:2px 0px 2px 2px;
    font-size:18px;
    width:15px;
    text-align:right;
}

span.jPag-snext,
span.jPag-snext-img{
    margin:2px 2px 2px 0px;
    font-size:18px;
    width:15px;
    text-align:right;
}

ul.jPag-pages li span.jPag-previous-img{
    background:transparent url(../img/previous.png) no-repeat center right;
}

ul.jPag-pages li span.jPag-next-img{
    background:transparent url(../img/next.png) no-repeat center left;
}

span.jPag-sprevious-img{
    background:transparent url(../img/sprevious.png) no-repeat center right;
}

span.jPag-snext-img{
    background:transparent url(../img/snext.png) no-repeat center left;
}

#cargando_indicador_buscando {
    background: url("../img/ajax-loader.gif") no-repeat scroll 0 0 transparent;
    background-position: left;
    height: 20px;
    width: 80px;
}

#cargando_indicador {
    background: url("../img/ajax-loader.gif") no-repeat scroll 0 0 transparent;    
    width: 200px;
    height: 80px;
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    border: 1px solid #CCCCCC;
    background-repeat: no-repeat;
    background-position: center center;
}


/*
*   estilo para lo q este dentro de la ventana modal BANDEJA DE COMPROMISOS
*   
*/
.modal_bandeja
{
    display: none;
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    padding: 16px;
    background: #fff;
    color: #333;
    z-index:1002;
    overflow: auto;
    border:5px solid #CCCCCC;
}
.slogan {
    background-color:#00658F; height:30px;
    background-image:url(../img/slogan.png); background-repeat:no-repeat;
    background-position:right bottom;
    margin-top: 10px;
    margin-right:27px;
}

.btn_agendar_turno {
    border-style: none;
    background-color: #FFFFFF;
    background-image: url(../img/add-event16.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.btn_agendar {
    border-style: none;
    background-color: #FFFFFF;
    background-image: url(../img/calendar_16.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.cmb_multiselect_ {

    display:inline-block;
    width: 80px;
    border: 1px solid #7F9DB9;
    background-image: url(../img/ico_combo.png);
    background-position: right top;
    background-repeat: no-repeat;
    background-color: #FFF;
    padding: 1px 2px 1px 3px;
}
