/* 
    Document   : style.general.css
    Created on : 08/08/2011, 04:00:00 PM
    Author     : GMD
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
.hide { display:none;}
.block { display: block }

.left { text-align:left; }
.right { text-align:right; }
.center { text-align:center; }
.justify { text-align:justify; }
/* Table 
--------------------------------------------------------------------------------*/
table caption { font-weight: bold; margin: 0 0 0 0; padding: 0 0 0.5em 0; text-align: left; font-size: 12px; color: #004350; }
th { text-align: left; }

.height { height: 22px; }
.widget { border: 1px solid #999999; margin-top: 1px; padding:2px 3px 2px 3px; background:lightyellow;}

sup { color: red; font-size: 10px; font-weight: bold; } 

.btn_buscar { font-weight: bold; padding: 0px 5px 0px 18px; background-color: #FFF; color: cornflowerblue; border: 1px solid #666; line-height: 20px; height: 20px; background-image: url(../../../img/search_16.png); background-position: 1px 1px; background-repeat: no-repeat; }

.btn_generar { font-weight: bold; padding: 0px 5px 0px 18px; background-color: #FFF; color: cornflowerblue; border: 1px solid #666; line-height: 20px; height: 25px; background-image: url(../../../img/ico_gestionar.jpg); background-position: 3px 3px; background-repeat: no-repeat; cursor: pointer; }

.campo_necesario { border: 2px solid #FF0000; }
/*--------------------------------------------------------------------------------*/

/*
CSS Estilo para las bandejas 
*/
.celdaX{
    margin:0px;
    padding: 0px;
    line-height: 16px;
}
table.tablesorter tbody tr:hover td.celdaX{
    background-color: #DBEDFE;
} 
table.tablesorter tbody .celdaX, table.tablesorter tbody .celdaY{
    margin:0px;
    padding: 2px;
    line-height: 12px;
    font-size: 10px;
}   
table.tablesorter thead .headTbl {
    background-image: url(../../../img/bg_head_js.gif);background-repeat: repeat-x;
    background-position: center top; height: 22px;
    color:#000; font-size: 11px;
}
.headTbl {
    background-image: url(../../../img/bg_head_js.gif);background-repeat: repeat-x;
    background-position: center top; height: 22px;
    color:#000;
}
.hd_orden_ {

}
.hd_orden_asc {
    background-image: url(../../../img/desc.gif);background-repeat: no-repeat;
    background-position: right center; padding-right: 16px;
}
.hd_orden_desc {
    background-image: url(../../../img/asc.gif);background-repeat: no-repeat;
    background-position: right center; padding-right: 16px;
}
/*
CSS Fin Estilo para las bandejas 
*/

/*
CSS Estilo para los formularios POPUP
*/
table.frm_popup {
    background-color: #F2F2F2;
    font-size: 11px;
}
.frm_popup td {
    background-color: #FFFFFF;
}
table.frm_popup .da_titulo{
    color: #FFFFFF;
    background-color: #006495;
    font-weight: bold;
    font-size: 11px;
    line-height: 20px;
}
table.frm_popup .da_titulo_gest{
    color: #FFFFFF;
    background-color: #70C72A;
    font-weight: bold;
    font-size: 11px;
    line-height: 15px;
}
table.frm_popup .da_subtitulo{
    color: #000000;
    font-weight: bold;
    background-color: #E1E2E2;
    font-size: 10px;
}
table.frm_popup .da_import{
    font-size: 11px;
    color: red;
    font-weight: bold;
}
table.frm_popup .da_agenda{
    font-size: 11px;
    font-weight: bold;
}
table a.link_movs{
    color: #FFFFFF;
    font-weight: normal;
}
/*
CSS Fin Estilo para los formularios POPUP
*/


.fld_tec {
background-color: #F9F8F7;
border: 1px solid #1D87BF;
border-radius: 3px 3px 3px 3px;
font-family: Arial;
margin-bottom: 5px;
padding: 3px 3px 10px 10px;
text-align: left;
}
.lgd_tec {
color: #003366;
font-size: 11px;
font-weight: bold;
padding-left: 5px;
padding-right: 5px;
text-align: left;
} 

.btn_registro {padding:3px 8px;font-weight:bold;}