em {
    color: #FE2E2E;
}

td {
    font-size: 11px;
}

img {
    cursor: pointer;
    vertical-align: middle;
}

.tabla_calendario {
    display: none;
    vertical-align: text-top;
    background-color: #FFFFFF;
}

.error {
    color: #FE2E2E;
    cursor: default;
}

.mensaje {
    font-size: 11px;
    color: #000000;
    font-weight: bold;
}

.mensaje_no_agenda {
    font-size: 11px;
    color: white;
    font-weight: bold;
    background-color: red;
}

.tb_detalle_actu td {
    border: 1px solid #E2E2E2;
    font-size: 11px;
}

.da_titulo {
    color: #FFFFFF;
    background-color: #5C9CCC;
    font-size: 12px;
    line-height: 10px;
    text-align: left;
    font-weight: bold;
}

.da_titulo_gest {
    color: #FFFFFF;
    background-color: #70C72A;
    font-weight: bold;
    font-size: 11px;
    line-height: 20px;
}

.da_subtitulo {
    color: #000000;
    font-weight: bold;
    background-color: #F9F8F7;
    text-align: left;
    vertical-align: top;
}

.da_import {
    font-size: 11px;
    color: #000000;
    font-weight: bold;
    text-align: left;
    vertical-align: top;
}

.data {
    font-size: 11px;
    color: blue;
    font-weight: bold;
    text-align: left;
    vertical-align: top;
}

.da_agenda {
    font-size: 11px;
    font-weight: bold;
}

a.link_movimiento {
    font-size: 12px;
    font-weight: bold;
    color: #000000;
}

.boton {
    font-size: 11px;
    font-weight: bold;
    color: #FFFFFF;
    background: #5C9CCC;
    border: 0px;
    width: 80px;
    height: 30px;
    cursor: pointer;
    background: url('../img/fndbtnreg.gif');
}

#frm_adjuntar_archivo {
    position: fixed;
    height: 190px;
    width: 400px;
    z-index: 10;
    background: #FFFFFF;
    margin-top: 5px;
    margin-left: 450px;
    border: 2px #000 solid;
}

#frm_adjuntar_archivo_cerrar_contenedor {
    width: 100%;
    height: 20px;
    font-size: 9px;
    color: #FFFFFF;
    background: #5C9CCC;
    text-align: right;
}

#frm_adjuntar_archivo_contenido {
    width: 100%;
    height: 150px;
    margin-left: 4px;
    margin-top: 4px;
}

#frm_adjuntar_archivo_cerrar {
    color: #FFFFFF;
    font-size: 12px;
    font-family: arial, helvetica, sans-serif;
    padding-right: 2px;
}

.etiqueta {
    text-align: left;
    color: #43A44B;
    font-size: 11px;
    font-weight: bold;
}

.fld {
    background-color: #F9F8F7;
    border: 1px solid #1D87BF;
    border-radius: 3px 3px 3px 3px;
    font-family: Arial;
    margin-bottom: 5px;
    padding: 3px 3px 10px 10px;
    text-align: left;
}

.lgd {
    color: #003366;
    font-size: 11px;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
}

#cont_actu_detalle input {
    font-size: 11px;
    border: solid 1px #4297D7;
    margin: 0px 0px 5px 0px;
    padding: 2px 2px;
}

#cont_actu_detalle textarea {
    float: left;
    font-size: 11px;
    border: solid 1px #4297D7;
}

#cont_actu_detalle select {
    float: left;
    font-size: 11px;
    border: solid 1px #000000;
}
