#gravity { width: 100%; margin: 5px 0; border-spacing: 5px; font-size: 11px; font-weight: bold; }
#gravity td { text-align: left; vertical-align: middle; padding: 5px 0; background-color: #d0d0d0; width: 53%; }
#gravity a { }
#gravity a:hover { color: #828282; background: none; font-size: 12px; font-weight: bold; }

