<head>
    <link href="css/mantenimientoAdministracion.css" rel="stylesheet" type="text/css" media="all"/>
    <script type="text/javascript" src="modulos/maps/js/administracion.maps.js?<?php echo date("Gis");?>"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $("input[name=desc]").keyup(function(e) {
                if(e.which == 13) {
                    AdministracionMaps.prototype.BuscaNse();
                }
            });
        });
    </script>
</head>
<body>
    <div id="content" style="height: 500px;">
        <table style="border: 0px; width: 100%;">
        <tr>
            <td style="vertical-align: top; padding-top: 10px; padding-left: 40px;">
                <div class="form_titulo">
                    <img src="img/btn_nse_32.png" alt="Nivel Socieconómico" title="Nivel Socieconómico"/>
                    <p style="margin-top: -25px; padding-left: 50px; height: 30px;">Nivel Socioeconómico</p>
                </div>
                <div style="height: 10px;"></div>
                <fieldset class="fld" style="width: 50%;">
                    <legend class="lgd">Buscar por</legend>
                    <div id="filtro_nse">                    
                        <div style="font-weight: bold; text-align: left;">Nombre : &nbsp;
                            <input type="text" id="desc" name="desc" size="20"/>
                            <input onclick="javascript:AdministracionMaps.prototype.BuscaNse()" type="button" id="btn_buscar" name="buscar" value="Buscar"/>
                            <input onclick="javascript:AdministracionMaps.prototype.MantNse()" type="button" id="btn_limpiar" name="limpiar" value="Limpiar"/>
                        </div>
                    </div>
                </fieldset>
                <div style="height: 10px;"></div>
                <table id="tb_sup_tl_registros" style="margin-left: 0px; border: 0px; width: 90%; border-spacing: 1px;">
                <tr>
                    <td style="width: 35%; height: 30px; text-align: left;">
                        Registros encontrados : <b><span id="cont_num_resultados_head"><?php echo $total ?></span></b>
                    </td>
                    <td style="width: 35%;">
                        <div style=" width:310px; position: relative;">
                            <div id="paginacion"></div>
                        </div>
                    </td>
                    <td style="float: right;">
                        <a href="javascript:AdministracionMaps.prototype.AddNse()">
                            [ Agregar Nivel Socioeconómico ]
                        </a>&nbsp;
                        <a href="javascript:;" onclick="window.location='javascript:objAdministracionMaps.Regresar()'">
                            [ Regresar al Menú ]
                        </a>
                    </td>
                </tr>
                </table>
                <input type="hidden" id="pag_actual" name="pag_actual" value="<?php echo $pagina ?>"/>
                <input type="hidden" id="tl_registros" name="tl_registros" value="<?php echo $total ?>"/>
                <div style="height: 10px;"></div>
                <?php 
                        if ($total > 0) { 
                ?>
                <table id="tb_resultado" class="tb_listado" style="margin-left: 0px; width: 90%;">
                <thead>
                    <th style="width: 30%;">Item</th>
                    <th style="width: 50%;">Nombre</th>
                    <th style="width: 10%;" colspan="2">Opciones</th>                                    
                </thead>
                <tbody>
                    <?php
                            $item = (($pagina - 1) * TAM_PAG_LISTADO_MAP) + 1;
                            foreach ($arrNse as $objNse) {                                
                                if ($objNse->getFlag() == 1) {
                                    $state = 0;
                                } else {
                                    $state = 1;
                                }
                                $id = $objNse->getIdNivelSocioeconomico();
                                $nombre = $objNse->getDesNivelSocioeconomico();
                    ?>
                    <tr>
                        <td width="30%"><?php echo $item++ ?></td>
                        <td width="50%"><?php echo $nombre ?></td>                                                
                        <td width="5%">
                            <a href="javascript:AdministracionMaps.prototype.EditNse('<?php echo $id ?>')">
                                <img src="img/pencil_16.png" alt="Editar" title="Editar"/>
                            </a>
                        </td>
                        <td width="5%">
                            <a id="alink_state_<?php echo $id ?>" href="javascript:AdministracionMaps.prototype.ChangeStateNse('<?php echo $id ?>','<?php echo $state ?>','<?php echo $nombre ?>')">
                            <?php 
                                    if ($state == 0) {
                            ?>
                            <img id="img_state_<?php echo $id ?>" src="img/estado_habilitado.png" alt="Cambiar estado a Deshabilitado" title="Cambiar estado a Deshabilitado" />
                            <?php 
                                    } else { 
                            ?>
                            <img id="img_state_<?php echo $id ?>" src="img/estado_deshabilitado.png" alt="Cambiar estado a Habilitado" title="Cambiar estado a Habilitado" />
                            <?php 
                                    } 
                            ?>
                            </a>
                        </td>
                    </tr>
                    <?php
                            }
                    ?>
                </tbody>
                </table>                
                <?php 
                        } 
                ?>
            </td>
        </tr>
        </table>
    </div>    
</body>
</html>