<div class="box-body table-responsive">
    <table class="table table-bordered table-striped" ng-init="usuario.listar();">
        <thead>
        <tr>
            <th>
                <a href="#" ng-click="usuario.sortType = 'tipo'; usuario.sortReverse = !usuario.sortReverse">
                    Nombre
                    <span ng-show="usuario.sortType == 'tipo' && !usuario.sortReverse"
                          class="fa fa-sort-alpha-asc"></span>
                    <span ng-show="usuario.sortType == 'tipo' && usuario.sortReverse"
                          class="fa fa-sort-alpha-desc"></span>
                </a>
            </th>
            <th>Estado</th>
            <th class="editarG"> [ ]</th>
        </tr>
        </thead>
        <tbody id="tb_usuarios">
        <tr ng-repeat="dato in usuario.datos | orderBy:usuario.sortType:usuario.sortReverse">
            <td>{{ dato.name }}</td>
            <td ng-show="dato.status == 'active'">
                <span onClick="#" class="btn btn-success"
                      ng-click="usuario.cambiarEstadousuario('inactive', dato.login)">&nbsp;&nbsp;Activo&nbsp;&nbsp;</span>
            </td>
            <td ng-show="dato.status == 'inactive'">
                <span onClick="#" class="btn btn-danger"
                      ng-click="usuario.cambiarEstadousuario('active', dato.login)">Inactivo</span>
            </td>
            <td><a class="btn btn-primary btn-sm" data-toggle="modal" data-target="#usuarioModal"
                   ng-click="usuario.accionModal(1, dato.login)"><i class="fa fa-edit fa-lg"></i></a></td>

        </tr>
        </tbody>
        <tfoot>
        <tr>
            <th>Nombre</th>
            <th>Estado</th>
            <th class="editarG"> [ ]</th>
        </tr>
        </tfoot>
    </table>

    <div>
        <uib-pagination total-items="usuario.bigTotalItems" ng-model="usuario.bigCurrentPage"
                        max-size="usuario.tableMaxSize" class="pagination-sm" boundary-link-numbers="true"
                        ng-change="usuario.listar()"></uib-pagination>
    </div>

    <a class='btn btn-primary btn-sm' data-toggle="modal" data-target="#usuarioModal" ng-click="usuario.accionModal(0)"><i
            class="fa fa-plus fa-lg"></i>&nbsp;Nuevo</a>

</div>

<div class="modal fade" id="usuarioModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header logo">
                <button class="btn btn-sm btn-default pull-right" data-dismiss="modal">
                    <i class="fa fa-close"></i>
                </button>
                <h4 class="modal-title">New message</h4>
            </div>
            <div class="modal-body">
                <form id="formUsuario" name="formUsuario" action="" method="post" novalidate>
                    <input type="hidden" id="id" ng-model="usuario.id">
                    <div class="form-group" ng-if="usuario.nuevo == 0">
                        <label class="control-label">Login
                        </label>
                        <input type="text" id="login" name="login" required ng-model="usuario.login"
                               class="form-control" placeholder="Ingrese Usuario">
                        <div ng-messages="formUsuario.login.$error">
                            <div ng-message="required">Login requerido</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Nombre
                        </label>
                        <input type="text" id="nombre" name="nombre" required ng-model="usuario.nombre"
                               class="form-control" placeholder="Ingrese Nombre">
                        <div ng-messages="formUsuario.nombre.$error">
                            <div ng-message="required">Nombre requerido</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Estado:
                        </label>
                        <select class="form-control" id="estado" ng-model="usuario.estado"
                                ng-options="cbo.value as cbo.texto for cbo in usuario.cboEstado">
                        </select>
                    </div>
                    <div class="form-group" ng-if="usuario.nuevo == 0">
                        <label class="control-label">Recurso:
                        </label>
                        <select class="form-control" ng-model="usuario.resource"
                                ng-options="cbo.id as cbo.nombre for cbo in usuario.cboResources">
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Password
                        </label>
                        <input ng-if="usuario.inp == true" type="text" name="password" required
                               ng-model="usuario.password" class="form-control" placeholder="Ingrese Password">
                        <input ng-if="usuario.inp == false" type="text" name="password" ng-model="usuario.password"
                               class="form-control" placeholder="Ingrese Password">
                        <div ng-messages="formUsuario.password.$error">
                            <div ng-message="required">Password requerido</div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button ng-if="usuario.btnAccion == 1" type="button" class="btn btn-primary"
                        ng-click="usuario.actualizarUsuario()">Actualizar
                </button>
                <button ng-if="usuario.btnAccion == 0" type="button" class="btn btn-primary"
                        ng-click="usuario.crearUsuario()">Grabar
                </button>
            </div>
        </div>
    </div>
</div>
