<div class="box-body table-responsive" ng-init="empresa.listarEmpresa()">
    <form>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                    <input type="text" class="form-control" placeholder="Ingresar texto" ng-model="empresa.tableFiltro" ng-keyup="empresa.listarEmpresa()">
            </div>
        </div>
    </form>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    <a href="#" ng-click="sortType = 'tipo'; sortReverse = !sortReverse">
                        Nombre
                        <span ng-show="sortType == 'tipo' && !sortReverse" class="fa fa-sort-alpha-asc"></span>
                        <span ng-show="sortType == 'tipo' && sortReverse" class="fa fa-sort-alpha-desc"></span>
                    </a>
                </th>
                <th>Estado</th>
                <th class="editarG"> [ ] </th>
            </tr>
        </thead>
        <tbody id="tb_empresas">
            <tr ng-repeat="dato in empresa.datos | orderBy:sortType:sortReverse">
                <td>{{ dato.nombre }}</td>
                <td ng-show="{{dato.estado}} == 1">
                    <span onClick="#" class="btn btn-success" ng-click="empresa.cambiarEstadoEmpresa(0, dato.id)">&nbsp;&nbsp;Activo&nbsp;&nbsp;</span>
                </td>
                <td ng-show="{{dato.estado}} == 0">
                    <span onClick="#" class="btn btn-danger" ng-click="empresa.cambiarEstadoEmpresa(1, dato.id)">Inactivo</span>
                </td>
                <td><a class="btn btn-primary btn-sm" data-toggle="modal" data-target="#empresaModal" ng-click="empresa.accionModal(1, dato.id)"><i class="fa fa-edit fa-lg"></i></a></td>

            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th>Nombre</th>
                <th>Estado</th>
                <th class="editarG"> [ ] </th>
            </tr>
        </tfoot>
    </table>

    <div>
        <uib-pagination total-items="empresa.bigTotalItems" ng-model="empresa.bigCurrentPage" max-size="empresa.tableMaxSize" class="pagination-sm" boundary-link-numbers="true" ng-change="empresa.listarEmpresa()"></uib-pagination>
    </div>

    <a class='btn btn-primary btn-sm' data-toggle="modal" data-target="#empresaModal" ng-click="empresa.accionModal(0)"><i class="fa fa-plus fa-lg"></i>&nbsp;Nuevo</a>

    <div ng-include="'../laravel/app/views/admin/mantenimiento/form/empresa.html'"></div>
</div>

