<form ng-submit="addUser()">
    <div class="row form-group">
    <h1>New User</h1>
        <div class="col-sm-12">
            <div class="col-sm-3">
                <label>Name:</label>
                <input type="text" class="form-control" ng-model="newUser.name">
            </div>
        </div>
        <div class="col-sm-12">
            <div class="col-sm-3">
                <label>UserName:</label>
                <input type="text" class="form-control" ng-model="newUser.username">
            </div>
        </div>
        <div class="col-sm-12">
            <div class="col-sm-3">
                <label>Email:</label>
                <input type="text" class="form-control" ng-model="newUser.email">
            </div>
        </div>
        <div class="col-sm-12">
            <button type="submit" class="btn btn-sm btn-primary">
                <i class="fa fa-plus fa-lg"></i>
            </button>
        </div>
    </div>
</form>
{{newUser}}

<h2>Adults</h2>
<ul>
    <li ng-repeat="user in users"
        ng-show="user.age > 17">
        <a ui-sref="user-show({ user_id: user.id }) ">{{user.name}} </a> is 
        {{user.age}} years old.
    </li>
</ul>

<h2>Kids</h2>
<ul class="col-sm-4">
    <li ng-repeat="user in users"
        ng-hide="user.age > 17">
        <a ui-sref="user-show({ user_id: user.id }) ">{{user.name}} </a> is 
        {{user.age}} years old.
        <span class="pull-right"><a href="#" ng-click="removeUser(user)">.::Remove::.</a></span>
    </li>
</ul>
