<thead>
    <th style="width: 20%;">Item</th>
	<th style="width: 35%;">Región</th>
	<th style="width: 35%;">Fuente de Identificación</th>
	<th style="width: 10%;">Opciones</th>									
</thead>
<tbody>
<?php    
    $item = (($pagina - 1) * TAM_PAG_LISTADO_MAP) + 1;					    
    foreach ($arrFuenteXRegion as $objFuenteXRegion) {
        if ($objFuenteXRegion->getFlag() == 1) {
            $state = 0;
        } else {
            $state = 1;
        }
        $objRegion = $objFuenteXRegion->getObjRegion();
        $objFuente = $objFuenteXRegion->getObjFuente();
?>
<tr>
    <td width="20%"><?php echo $item++ ?></td>
    <td width="35%"><?php echo $objRegion->__get('_detRegion') ?></td>
	<td width="35%"><?php echo $objFuente->__get('_desFuenteIdentificacion') ?></td>
	<td width="10%">
        <a id="alink_state_<?php echo $objFuenteXRegion->getId() ?>" href="javascript:AdministracionMaps.prototype.ChangeStateFuenteXRegion('<?php echo $objFuenteXRegion->getId() ?>','<?php echo $state ?>','<?php echo $objRegion->__get('_detRegion')?>','<?php echo $objFuente->__get('_desFuenteIdentificacion') ?>')">
        <?php 
                if ($state == 0) {
        ?>
        <img id="img_state_<?php echo $objFuenteXRegion->getId() ?>" src="img/estado_habilitado.png" alt="Cambiar estado a Deshabilitado" title="Cambiar estado a Deshabilitado" />
        <?php 
                } else { 
        ?>
        <img id="img_state_<?php echo $objFuenteXRegion->getId() ?>" src="img/estado_deshabilitado.png" alt="Cambiar estado a Habilitado" title="Cambiar estado a Habilitado" />
        <?php 
                } 
        ?>
        </a>
    </td>
</tr>
<?php 
    } 
?>
</tbody>