<head>
<link href="css/mantenimientoAdministracion.css" rel="stylesheet" type="text/css" media="all"/>
<style type="text/css">
.width_txt {
    width: 179px;
}

.width_cbo {
    width: 183px;
}
</style>
<script type="text/javascript">
function save(opc) {
    var region = $('#region');
    var fuente = $('#fuente');
    if (region.val() == '') {
        region.css('background', '#FFFBCC');
        region.focus();
        alert('Seleccione la región');
        return false;
    } else {
        region.css('background', '#FFFFFF');
    }
    if (fuente.val() == '') {
        fuente.css('background', '#FFFBCC');
        fuente.focus();
        alert('Seleccione la fuente de identificación');
        return false;
    } else {
        fuente.css('background', '#FFFFFF');
    }
    $.post("modulos/maps/administracion.maps.php?cmd=saveFuenteXRegion", { region: region.val(), fuente : fuente.val() } , function(data) {
        if (data == 'ok') {
            alert('Se registró correctamente');        
            if (!opc) {
                window.location=('javascript:objAdministracionMaps.MantFuenteXRegion()');
            } else {
                window.location=('javascript:objAdministracionMaps.AddFuenteXRegion()');
            }
        } else {
            if (data == 'error') {
                alert('No se registró correctamente');
            } else {
                alert(data);
            }
        }
    });
}
$(document).ready(function(){
    $('#region').focus();
    $('#region').css('background', '#FFFBCC');
    $('#opcion').attr('value', '1');           
    $('#btn_grabar').click(function(){
        save(false);
    });
    $('#btn_guardar_agregar').click(function(){
        save(true);                    
    });                
    $('.trigger').mouseover(function(){
        $('.panel').toggle('fast');
        $(this).toggleClass('active');
        return false;
    });
});
</script>
</head>
<body>    
<div id="content">
     <table style="border-spacing: 1px;">
     <tr>
         <td style="vertical-align: top; float: left; padding-left: 35px;">
            <form id="frm_fuente_region" name="frm_fuente_region" action="administracion.maps.php?cmd=saveFuenteXRegion" method="post">
                <table style="padding: 2px;">
                <thead>
                <tr>
                    <td colspan="2" class="form_titulo">Nueva Fuente de Identificación x Región</td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: left;">
                        <div class="box_descripcion_seccion">
                        En esta secci&oacute;n se podr&aacute; registrar Fuentes de Identificación x Región
                        </div>
                    </td>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="label" width="20%">Región :</td>
                        <td style="text-align: left;">
                            <select id="region" name="region">
                            <option value="">Seleccione</option>
                            <?php 
                                foreach ($arrRegion as $objRegion) { 
                            ?>
                            <option value="<?php echo $objRegion->__get('_idRegion') ?>"><?php echo $objRegion->__get('_detRegion') ?></option>
                            <?php 
                                } 
                            ?>
                            </select>
                            <em>(*)</em>
                        </td>
                    </tr>
                    <tr>
                        <td class="label" width="20%">Fuente de Identificación :</td>
                        <td style="text-align: left;">
                            <select id="fuente" name="fuente">
                            <option value="">Seleccione</option>
                            <?php 
                                foreach ($arrFuente as $objFuente) { 
                            ?>
                            <option value="<?php echo $objFuente->__get('_idFuenteIdentificacion') ?>"><?php echo $objFuente->__get('_desFuenteIdentificacion') ?></option>
                            <?php 
                                } 
                            ?>
                            </select>
                            <em>(*)</em>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div style="height: 15px;"></div>                                      
                            <a href="javascript:;" id="btn_grabar" title="Guardar" class="btn save">Guardar<span class="helper"></span></a>
                            <a href="javascript:;" id="btn_guardar_agregar" title="Guardar y Agregar otro" class="btn save_add">Guardar +<span class="helper"></span></a>
                            <a href="javascript:;" id="btn_deshacer" title="Limpiar datos" class="btn deshacer" onclick="window.location='javascript:objAdministracionMaps.AddFuenteXRegion()'">Deshacer<span class="helper"></span></a>
                            <a href="javascript:;" id="btn_cancelar" title="Cancelar" class="btn cancelar" onclick="window.location='javascript:objAdministracionMaps.MantFuenteXRegion()'">Cancelar<span class="helper"></span></a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><div style="height: 5px;"></div></td>
                    </tr>
                </tbody>
                </table>
            </form>
        </td>
    </tr>
    </table>
</div>
<div id="footer"></div>
</body>