.tabla_th{
    background-color: #6E9CC8;
    height: 33px;
    background-color: rgb(229, 241, 244);
    font: bold 11px "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif;
    color: #66a3d3;
}
    .tabla_td{
    height: 33px;
    color: #000000;
    border-bottom: 1px solid #5A7399;
    text-align: right;
    padding: 1em 0.5em;
    background: #E5F1F4;
    font: 11px "Century Gothic", "Trebuchet MS", Arial, Helvetica, sans-serif;
}
    .table_carga_indiv{
    background-color: #FFF;
    width: 1350px;
}
    #fileOutput{
    border: solid 1px black;
    display: none;
    overflow: auto;
    width: 1080px;
}
    .numero{
    width: 22px;
}
    .etiqueta{
    padding: 1em 0.5em;
    display: inline-block;
    font: 11px "Century Gothic", "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-align: left;
}
    fieldset{
    width:1080px;
}