<style type="text/css">
.input_data {
	display: none;
}

.proyecto {
	width: 190px;
}

.view_btn_grabar {
	display: none;
}

img {
	cursor: pointer;
}
</style>
<script type="text/javascript">
$('#btnCerrar').click(function(){
    $('#childModal').dialog('close');
});
</script>
<table style="width: 480px; padding: 2px; border: 0px">
    <tr>
        <td colspan="2" style="text-align: left;">
            <div class="box_descripcion_seccion">
            Ocurrió un error, favor de reportar la incidencia.
            </div>
        </td>
    </tr>
    <tr>
        <td style="width: 350px; vertical-align: top;">
            <table style="border-spacing: 4px;">
            <tr>
                <td colspan="3" style="float: left;">
                    <a href="javascript:;" id="btnCerrar" title="Cancelar" class="btn cancelar">Salir<span class="helper"></span></a>
                </td>
            </tr>
            </table>
        </td>
    </tr>
</table>