.div0 {
    width:400px;
    margin-left:auto;
    margin-right:auto;
}

html, body, form, fieldset, h1, h2, h3, h4, h5, h6, p, pre, blockquote, ul, ol, dl, address {
    margin:0;
    padding:0;
}

/*body {
    background: #fff url(graphics/bg-body.gif) repeat-x;
    font:76%/160% "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
}
*/

p {
    text-align:center;
}	

/*
a:link {
        color:#d42945;
        text-decoration:none;
        border-bottom:1px dotted #ffbac8;
        }	
a:visited {
        color:#d42945;
        border-bottom:none;
        text-decoration:none;
        }		
a:hover,
a:focus {
        color:#f03b58;
        border-bottom:1px solid #f03b58;
        text-decoration:none;
        }
*/

table a,
table a:link,
table a:visited {
    border:none;
}							

/*img {
        border:0;
        margin-top:.5em;
        }	
*/

table {
    width:100%;
    border-top:1px solid #e5eff8;
    border-right:1px solid #e5eff8;
    margin:1em auto;
    border-collapse:collapse;
}
caption {
    color: #9ba9b4;
    font-size:.94em;
    letter-spacing:.1em;
    margin:1em 0 0 0;
    padding:0;
    caption-side:top;
    text-align:center;
}	
tr.odd td	{
    background: #4394AB /*#f7fbff*/
}
tr.odd .column1	{
    
    background:   #4394AB /*#f4f9fe;*/
}	
.column1	{
    background: #559BBD; /*#4394AB ;/* #f9fcfe;*/
    color:#FFFFFF;
}

.column2	{
    background: #FFFFFF; /*#4394AB ;/* #f9fcfe;*/
    color:#FFFFFF;
	font-weight: bold;
}

.col_titulo {
    background:#559BBD ; /* #FFC503; /*#4394AB ;/* #f9fcfe;*/
    color:#FFFFFF;   
}

.td_center {
    text-align: center;
    background: #559BBD;
    color: #FFFFFF;
}	



td {
    color:#678197;
    background: #E5F1F4;
    border-bottom:1px solid #e5eff8;
    border-left:1px solid #e5eff8;
    padding:.3em 1em;
    text-align:left;
}				
th {
    font-weight:normal;
    color: #678197;
    text-align:left;
    border-bottom: 1px solid #e5eff8;
    border-left:1px solid #e5eff8;
    padding:.3em 1em;
    
}							
thead th {
    background:#f4f9fe;
    text-align:center;
    font:bold 1.2em/2em "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif;
    color:#66a3d3
}	
tfoot th {
    text-align:center;
    background:#f4f9fe;
}	
tfoot th strong {
    font:bold 1.2em "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif;
    margin:.5em .5em .5em 0;
    color:#66a3d3;
}		
tfoot th em {
    color:#f03b58;
    font-weight: bold;
    font-size: 1.1em;
    font-style: normal;
}	

input[type="text"]{
    padding: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    width: 80%;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-right-color: #00354F;
    border-left-color: #00354F;
    border-bottom-color: #00354F;
    border-top-color: #00354F;
}

.caja_texto2 {
    padding: 8px ;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 92%;
    height: 80px;
    border-color: #00354F;
    border-width: 1px;
    border-style: solid;

}

