<div class="row">
    <div class="col-md-12">
        <div>Ingrese numero Actividad -> <input type="text" ng-model="activity.id"/></div>
        <span>Numero de Actividad : {{activity.id}}</span>
        <button type="button" ng-click="activity.getActivity()">Ver</button>
        Nombre : <span ng-bind="activity.nombre"></span>
    </div>
</div>