#cmbTipoActuacion {
  font: normal 10px Arial, Helvetica, sans-serif;
  color: #000000  ;
  background: #ffffff ;
  height:23px;
  width: 87px;
  /*font-weight: bold;*/
  padding: 1px;
  border: 1px solid ;/* #6699FF;*/
  border-color: #17385b;
}

#cmbNegocios {
  font: normal 10px Arial, Helvetica, sans-serif;
  color: #000000  ;
  background: #ffffff ;
  height:23px;
  width: 80px;
  /*font-weight: bold;*/
  padding: 1px;
  border: 1px solid ;/* #6699FF;*/
  border-color: #17385b;
}

#cmbBusqueda {
  font: normal 10px Arial, Helvetica, sans-serif;
  color: #000000  ;
  background: #ffffff ;
  height:23px;
  width: 80px;
  /*font-weight: bold;*/
  padding: 1px;
  border: 1px solid ;/* #6699FF;*/
  border-color: #17385b;
}
