
.buttons {}

.buttons:before, .buttons:after {
  content: "\0020"; display: block; height: 0; visibility: hidden;	
} 
.buttons:after { clear: both; }
.buttons { zoom: 1; }

button, 
.button {
	text-decoration: none;
	text-shadow: 0 1px 0 #fff;
	
	color: #444;
	line-height: 17px;
	height: 18px;
	
	display: inline-block;
	float: left;
	
	margin: 5px;
	padding: 5px 6px 4px 6px;
	
	background: #F3F3F3;
	border: solid 1px #D9D9D9;
	
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	
	-webkit-transition: border-color .20s;
	-moz-transition: border-color .20s;
	-o-transition: border-color .20s;
	transition: border-color .20s;
        font-family: Arial;
        font-size: 10px;
}
button {
	height: 29px !important;
	cursor: pointer;
        font-family: Arial;
        font-size: 10px;
}

