<head>
    <link href="css/mantenimientoAdministracion.css" rel="stylesheet" type="text/css" media="all"/>
    <script type="text/javascript" src="modulos/maps/js/administracion.maps.js?<?php echo date("Gis");?>"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$("#dpto").show();
			$("input[name=id]").keyup(function(e) {
				if(e.which == 13) {
					AdministracionMaps.prototype.BuscaUbigeo();
				}
			});
			$("#id").change(function() {
				AdministracionMaps.prototype.MostrarDepartamentos();
			});	
		});
	</script>
</head>
<body>
    <div id="content" style="height: 500px;">
        <table style="border: 0px; width: 100%;">
        <tr>
            <td style="vertical-align: top; padding-top: 10px; padding-left: 40px;">
                <div class="form_titulo">
                    <img src="img/btn_ubigeo_32.png" alt="Ubigeo X Región" title="Ubigeo X Región"/>
                    <p style="margin-top: -25px; padding-left: 50px; height: 30px;">Ubigeo x Región</p>
                </div>
                <div style="height: 10px;"></div>
                <fieldset class="fld" style="width: 50%;">
                    <legend class="lgd">Buscar por</legend>
                    <div id="filtro_region">
                        <div style="font-weight: bold; text-align: left;">Región : &nbsp;
                            <select id="id" name="id">
                            <option value="">Todos</option>
                            <?php 
                                foreach ($arrRegion as $objRegion) { 
                            ?>
                            <option value="<?php echo $objRegion->__get('_idRegion') ?>"><?php echo $objRegion->__get('_nomRegion') . ' -  ' .$objRegion->__get('_detRegion') ?></option>
                            <?php 
                                } 
                            ?>
                            </select>
                            &nbsp;
                            Departamento : &nbsp; 
                            <select id="dpto" name="dpto">
                            <option value="">Seleccione</option>    
                            </select>
                            <input onclick="javascript:AdministracionMaps.prototype.BuscaUbigeo()" type="button" id="btn_buscar" name="buscar" value="Buscar"/>
                        </div>
                    </div>
                </fieldset>
                <div style="height: 10px;"></div>
                <table id="tb_sup_tl_registros" style="margin-left:0px; border: 0px; width: 90%; border-spacing: 1px;">
                <tr>
                    <td style="width: 25%; height: 30px; text-align: left;">
                        Registros encontrados : <b><span id="cont_num_resultados_head"><?php echo $total ?></span></b>
                    </td>
                    <td style="width: 30%;">
                        <div style="width: 310px; position: relative;">
                            <div id="paginacion"></div>
                        </div>
                    </td>
					<td style="float: right;">
                        <a href="javascript:AdministracionMaps.prototype.AddUbigeo()">
                            [ Agregar Ubigeo x Región ]
                        </a>&nbsp;                        
                        <a href="javascript:;" onclick="window.location='javascript:objAdministracionMaps.Regresar()'">
                            [ Regresar al Menú ]
                        </a>                                        
                    </td>
                </tr>
                </table>                
                <input type="hidden" id="pag_actual" name="pag_actual" value="<?php echo $pagina ?>"/>
                <input type="hidden" id="tl_registros" name="tl_registros" value="<?php echo $total?>"/>
                <div style="height: 10px;"></div>
                <div id="tb_resultado"></div>
            </td>
        </tr>
        </table>
    </div>    
</body>
</html>