<table class="tb_listado" style="margin-left: 0px; width: 90%;">
<thead>
    <th style="width: 5%;">Item</th>
	<th style="width: 30%;">Región</th>
	<th style="width: 20%;">Cod. Ubigeo</th>
	<th style="width: 35%;">Nombre</th>
	<th style="width: 10%;">Opciones</th>									
</thead>
<tbody>
<?php    
    $item = (($pagina - 1) * TAM_PAG_LISTADO_MAP) + 1;					    
    foreach ($arrUbigeo as $objUbigeo) {
        if ($objUbigeo->__get('_flag') == 1) {
            $state = 0;
        } else {
            $state = 1;
        }
        $objRegion = $objUbigeo->getObjRegion();
        $indicador = $dpto;
?>
<tr>
    <td width="5%"><?php echo $item++ ?></td>
    <td width="30%"><?php echo $objRegion->__get('_detRegion') ?></td>
	<td width="20%"><?php echo $objUbigeo->__get('_codUbigeo') ?></td>
	<td width="35%"><?php echo $objUbigeo->__get('_nombre') ?></td>
	<td width="10%">
        <a id="alink_state_<?php echo $objUbigeo->__get('_idRegionUbigeo') ?>" href="javascript:AdministracionMaps.prototype.ChangeStateUbigeo('<?php echo $objUbigeo->__get('_idRegionUbigeo') ?>','<?php echo $state ?>','<?php echo $objRegion->__get('_detRegion')?>','<?php echo $objUbigeo->__get('_nombre') ?>','<?php echo $indicador ?>')">
        <?php 
                if ($state == 0) {
        ?>
        <img id="img_state_<?php echo $objUbigeo->__get('_idRegionUbigeo') ?>" src="img/estado_habilitado.png" alt="Cambiar estado a Deshabilitado" title="Cambiar estado a Deshabilitado" />
        <?php 
                } else { 
        ?>
        <img id="img_state_<?php echo $objUbigeo->__get('_idRegionUbigeo') ?>" src="img/estado_deshabilitado.png" alt="Cambiar estado a Habilitado" title="Cambiar estado a Habilitado" />
        <?php 
                } 
        ?>
        </a>
    </td>
</tr>
<?php 
    } 
?>
</tbody>
</table>