
.boxtitle{
	width: auto;
	display: inline-block;
	margin-right: 10px;
}

.ppart {        
    display: :inline;
    padding: .2em .6em .3em;
    font-size: 13px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    width: 100px; 
    height: 100px; 
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: .25em;
    width: auto;
}
label.titulo{text-align: center; width: 100%; margin: 5px auto;}
#form_General div.btn-group.col-xxs-12, #form_Personalizado div.btn-group.col-xxs-12{padding: 0px !important}
#form_General div.col-sm-1 a.btn-primary.btn-sm {margin-top: -10px;}
#form_General legend {display: block; width: 100%; padding: 5px 40px; margin: 10px auto; font-size: 18px; line-height: inherit; color: #333; border: 0; border-bottom: 1px solid #e5e5e5;}
/*#t_bandeja tr table tr{display: inline-block; width: auto;}*/
span.estado-masivo.no-enviadoo{background: #D41818;padding: 2px;text-align: center;width: 100%;display: block;color: #fff;}
span.envio-masivo.enviado{background: #008d4c;padding: 2px;text-align: center;width: 100%;display: block;color: #fff;}
.contenedor-botones-flotantes { z-index: 666;   position: fixed; bottom: 5px;  padding: 10px; width: 100%; height: 50px;}
.contenedor-derecho {   margin-bottom: 0px; background: rgba(14, 14, 14, 0.13); right: 15px;  height: inherit;  width: auto;   position: inherit; bottom: 5px;  padding: 10px;}
.contenedor-izquierdo { display: none;  max-width: 500px; width: auto; position: inherit; bottom: 5px; left: 15px; padding: 0px; height: inherit;}
.btn-ejecutar-masivo{display: none; margin: 0px auto; margin-left: 15px;}
#accordion-filtros .panel-heading.box{margin-bottom: 0px;}
#t_bandeja thead th, #t_bandeja tbody td, #t_bandeja tfoot th{text-align: center;}
span.cont_checkbox{display: none;}
span.checkbox_fila{display: none;  vertical-align: middle;}
span.txt_id {display: inline-block; vertical-align: middle;}
tr.fila-activa-masivo {}
#accordion-resultados .panel-heading{padding: 0px;}
#collapseThree { margin-top: -300px; min-height: 250px; border-radius: 5px; border-color: rgba(0, 0, 0, 0.117647);  border-style: solid; background: rgb(255, 255, 255); z-index: 6666; position: fixed;}
#collapseThree .panel-body{  max-width: 500px;}
#btn_forzar_agenda_ofsc{display: none;}
#t_bandeja tbody tr td a.btn{display: inline-block; margin: 5px 1px;}
.btn-activar-envio-ofsc{display: none;}
i.fa.fa-toggle-off, i.fa.fa-toggle-on{  border-radius: 5px; font-size: 20px; vertical-align: middle; padding: 5px 10px; margin-left: 5px; }
i.fa.fa-toggle-off{background: #d4d1d1; color: #fff;}
i.fa.fa-toggle-on{  background: #e80a0a; color: #fff;}
#t_bandeja tbody tr td i.fa.fa-circle {font-size: 20px; vertical-align: middle; margin-top: 10px;}