.div_main {
	margin-right: auto;
	margin-left: auto;
	width: 550px;
}

.div_busqueda {
	margin-right: auto;
	margin-left: auto;
	width: 550px;
}

.tr_busqueda {
	height: 30px;
}

.td_busqueda {
	width: 100%;
}


.div_resultado {
	margin-right: auto;
	margin-left: auto;
	width: 550px;
}

.tabla {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	text-align: left;
	border-collapse: collapse;
	border: 1px solid #000000;	
	/*background: #6E9CC8;*/
	background: #6E9CC8;
	width: 100%;
	
}

.table { 
	width: 100%;
	font: 70% Verdana, Arial, Helvetica, sans-serif;
	color: #000;
	text-align: left;
	border-collapse:collapse;
	border: 1px solid #000000;	
	/*background: #BEEEFA;*/
	background: #FFFFFF;
}


.table1{ 
	font: 60% Verdana, Arial, Helvetica, sans-serif;
	color: #000;
	text-align: left;
	border-collapse:collapse;
	border: 1px solid #000000;	
	/*background: #BEEEFA;*/
	background: #FFFFFF;
	text-align: center;	
}

.table2{ 
	font: 70% Verdana, Arial, Helvetica, sans-serif;
	color: #000;
	text-align: left;
	border-collapse:collapse;
	border: 1px solid #000000;	
	/*background: #BEEEFA;*/
	background: #FFFFFF;
	text-align: center;	
}

thead th {
	font-size: 100%;
	color: #CAA11A;
	background: #17688B;
	height: 33px;
}

tr {
	vertical-align: middle;
}

tr,th,td {
	/*padding: .75em;*/
	border-right: 1px solid #000000;	
	border-bottom: 1px solid #000000;	
	font: normal 12px Arial, Helvetica, sans-serif;
}

tfoot tr {
	color: #CAA11A;
	background: #17688B;
}

tfoot td, tfoot th{
	color: #CAA11A;
	border: 0px;
}

span{
	font-family: Verdana;
	font-size: 12px;
}

.celda_ok { 
  font: normal 12px Arial, Helvetica, sans-serif;
  color: #000099       ;
  background: #FFECC0       ;
  height:28px;
  width: 50%;
  padding: 10px;

}

.celda_titulo { 
  font: normal 12px Arial, Helvetica, sans-serif;
  color: #FFFFFF  ;
  background: #6E9CC8 ;
  height:28px;
  /*font-weight: bold;*/
  width: 50px;
  padding: 10px;

}

.celda_res { 
  font: normal 12px Arial, Helvetica, sans-serif;
  color: #000000  ;
  background: #FFFFFF ;
  height:28px;
  /*font-weight: bold;*/
  width: 80px;
  padding: 10px;

}

.celda_res2 { 
  font: normal 11px Arial, Helvetica, sans-serif;
  color: #000000  ;
  background: #FFFFFF ;
  height:24px;
  /*font-weight: bold;*/
  padding: 2px;

}


