<div>
	<form id="form_bandeja_toa" name="form_bandeja_toa" action="" method="post" style="height:400px;" class="container-fluid">
		<div class="row form-group">
		    <div class="col-sm-12">
		        <div class="col-sm-2">
		            <label>Solicitud</label>
		            <input type="text" class="form-control input-sm"  v-model="solicitud_data.id_solicitud_tecnica" readonly>
		        </div>
		        <div class="col-sm-2">
		            <label>Requerimiento</label>
		            <input type="text" class="form-control input-sm" v-model='solicitud_data.num_requerimiento' readonly>
		        </div>
		        <div class="col-sm-2">
		            <label>Estado OFSC</label>
		            <input type="text"  class="form-control input-sm" v-model='solicitud_data.estado_ofsc'  readonly/>
		        </div>
		        <div class="col-sm-3">
		            <label>Quiebre</label>
		            <input type="text" class="form-control input-sm" v-model='solicitud_data.quiebre' readonly />
		        </div>
		        <div class="col-sm-3">
		            <label>Contrata</label>
		            <input type="text" class="form-control input-sm" v-model='solicitud_data.desc_contrata' readonly>
		        </div>
		    </div>
		    <div class="col-sm-12">
		        <div class="col-sm-3">
		            <label>Tipo de Envio:</label>
		            <select class="form-control input-sm" id="slct_agdsla" name="slct_agdsla">
		                <option value="">.::Seleccione::.</option>
		                <option value="agenda">Agenda</option>
		                <option value="sla">SLA</option>
		            </select>
		        </div>
		        <div class="col-sm-3">
		            <label>Carnet Tecnico:</label>
		            <input type="text" class="form-control input-sm" v-model='solicitud_data.carnettecnico' readonly>
		        </div>
		        <div class="col-sm-3">
		            <label>Nombre Cliente:</label>
		            <input type="text" class="form-control input-sm" v-model='nombre_completo' readonly>
		        </div>
		        <div class="col-sm-3">
		            <label>Teléfono:</label>
		            <input type="text" class="form-control input-sm" v-model='telefonos' readonly>
		        </div>

		    </div>

		    <div class="col-sm-12" id="divagendaenvio" >

		        <div class="col-sm-9" id="div_agenda2" style="display: none;">
		            <div class="col-sm-4 hidden">
		                <label>Tipo Horario:</label>
		                <select class="form-control input-sm" id="slct_horario_tipo_ofsc_modal" name="slct_horario_tipo_ofsc_modal">
		                    <option value="">.::Seleccione::.</option>
		                </select>
		            </div>
		            <div class="col-sm-5">
		                <label style="display: none;">Bucket:</label>
		                <input type="hidden" class="form-control input-sm" id="bucket_id">
		            </div>
		        </div>
		    </div>
		    <div id='div_sla' style="display: none;">
		        <div class="col-sm-12" >
		            <div class="col-sm-5 fecage" style="display:none">
		                <label>Seleccione Fecha(s):</label>
		                <div class="input-group">
		                    <div class="input-group-addon">
		                        <i class="fa fa-calendar"></i>
		                    </div>
		                    <input type="text" class="form-control pull-right" name="txt_fecha_agenda_toa_modal" id="txt_fecha_agenda_toa_modal" readonly/>
		                </div>
		            </div>
		            <div class="col-sm-3 slaini hidden" style="display:none">
		                <label>Fecha Inicio SLA:</label>
		                <input type="text" class="form-control" id="txt_slaini" readonly>
		            </div>
		            <div class="col-sm-3 hidden">
		                <br>
		                <button type="button" id="btn_obtener_capacity_modal" name="btn_obtener_capacity_modal" class="btn btn-primary">
		                    <i class='fa fa-cloud-download fa-lg'></i>Obtener Capacidad Horaria
		                </button>
		            </div>
		        </div>
		        <div class="col-sm-12">
		            <div class="box-body table-responsive">
		                <br><br>
		                <table id="t_capacidad" class="table table-bordered table-striped">
		                    <thead>
		                    </thead>
		                    <tbody>
		                    </tbody>
		                </table>
		            </div>
		        </div>
		    </div>
		    <div class="col-sm-12" id="div_agenda" style="display: none;">
		        <div class="col-sm-12">
		            <fieldset>
		                <legend>
		                    Franja Horaria:
		                </legend>
		                <div id="html_horario_ofsc" class="box-body table-responsive"></div>
		            </fieldset>
		        </div>
		    </div>
		</div>

		<div class="row form-group" id="contenedor-tematico-agenda">
	        <div class="col-sm-12">
	            <div class="panel-group" id="accordion-tematicos-agenda">
	                <div class="panel panel-info">
	                    <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#accordion-tematicos-agenda" href="#collapse_tematicos_agenda" style="cursor: pointer">
	                        <h4 class="panel-title">
	                            <!--<button class="btn btn-box-tool btn-sm" data-widget="collapse"><i class="fa fa-plus"></i></button>-->
	                            <a data-toggle="collapse" data-parent="#accordion-tematicos-agenda" href="#collapse_tematicos_agenda">Tematicos de Agenda</a>
	                        </h4>
	                    </div>
	                    <div id="collapse_tematicos_agenda" class="panel-collapse collapse in" aria-expanded="true">
	                        <div class="panel-body">
	                            <div class="row form-group">
	                                <div class="col-sm-12 btn-danger" id="div-error-tematico-agenda">
	                                    <p>No hay tematicos disponibles para esta Actividad</p>
	                                </div>
	                                <div class="col-sm-3" id="divtematico1-agenda">
	                                    <label>Tematico 1</label>
	                                    <select class="form-control slct_tematicos" name="slct_tematico_id[1]" id="slct_tematico_id1_agenda">
	                                    </select>
	                                </div>
	                                <div class="col-sm-3 subtematico" id="divtematico2-agenda" style="display: none;">
	                                    <label>Tematico 2</label>
	                                    <select class="form-control slct_tematicos" name="slct_tematico_id[2]" id="slct_tematico_id2_agenda">
	                                    </select>
	                                </div>
	                                <div class="col-sm-3 subtematico" id="divtematico3-agenda" style="display: none;">
	                                    <label>Tematico 3</label>
	                                    <select class="form-control slct_tematicos" name="slct_tematico_id[3]" id="slct_tematico_id3_agenda">
	                                    </select>
	                                </div>
	                                <div class="col-sm-3 subtematico" id="divtematico4-agenda" style="display: none;">
	                                    <label>Tematico 4</label>
	                                    <select class="form-control slct_tematicos" name="slct_tematico_id[4]" id="slct_tematico_id4_agenda">
	                                    </select>
	                                </div>
	                            </div>
	                            <div class="row form-group">
	                                <label>Observacion Legado</label>
	                                <input type="text" class="form-control" v-model='solicitud_data.observacion' readonly>
	                            </div>
	                            
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <div class="row form-group">
	                <textarea class="form-control" rows='2' id="comentarios-agenda" placeholder="Coloca una observacion o comentario..."></textarea>
	            </div>
	        </div>
	    </div>
	    <input type="hidden" name="data_gestion_ofsc" value=""/>
	</form>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal" id="btn_close_2">Close</button>
		<button type="button" class="btn btn-primary" id="btn_enviar_ofsc">Enviar</button>
	</div>
</div>	