<template src="./Toa.html"></template>
<script>
	export default {
	    props: ['solicitud_data'],
	    methods: {
	    	
	    },

	    computed: {
	    	nombre_completo: function () {
	    		return this.solicitud_data.nom_cliente +' '+ this.solicitud_data.ape_paterno + ' ' + this.solicitud_data.ape_materno;
	    	},
	    	telefonos: function () {
            	let tele;

	            if(this.solicitud_data.telefono1 == "" && this.solicitud_data.telefono2 == "" ){
	                tele="Sin telefono";
	            }else{
	                tele=this.solicitud_data.telefono1 +'\t'+this.solicitud_data.telefono2;
	            }
	            return tele;
	        }
	    }

	}
</script>