<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Webpsi Movil</title>
    <meta name="generator" content="Bootply" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="css/styles.css" rel="stylesheet">
</head>
<!--ng-app inicializa la aplicacion angular-->
<body ng-app="webpsi">
<!-- begin template -->
<div class="navbar navbar-custom navbar-fixed-top">
    <div class="navbar-header"><a class="navbar-brand" href="/webpsi/movil">WebPsi</a>
        <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Asistencia</a></li>
            <li><a href="#">Alarmas</a></li>
            <li><a href="#">Link</a></li>
            <li>&nbsp;</li>
        </ul>

    </div>
</div>

<!--al usar ng-controller y el nombre del controller , podemos usar todas las funciones y objects haciendo usao de las directivas-->
<div class="container-fluid" id="main" ng-controller="AsistenciaCtrl">

<div class="row">
    <fieldset style="padding: 10px">
        <div class="header">
            <div ng-click="MostrarFiltros()" >
                <h4 style="display: inline-block">Filtros</h4>
                <img src="/webpsi/img/details_open.png" ng-hide="showFilters"/>
                <img src="/webpsi/img/details_close.png" ng-show="showFilters"/>
            </div>
            <div class="filtros animate-show" ng-show="showFilters">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="CerrarFiltros()"  aria-hidden='true'>&times;</button>
                 </div>
                <form role="form">
                    <div class="form-group">
                        <label for="empresas">Contratas</label>
                        <select id="empresas" class="form-control" ng-model="filtros.contrata" ng-change="UpdateCelulas()">
                            <option value="">Todos</option>
                            <option ng-repeat="contrata in contratas" value="{{contrata.id}}">{{contrata.nombre}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="celulas">Celulas</label>
                        <select id="celulas" class="form-control" ng-model="filtros.celula" ng-change="UpdateData()">
                            <option value="">Todos</option>
                            <option ng-repeat="celula in celulas" value="{{celula.idcelula}}">{{celula.nombre}}</option>
                        </select>
                    </div>
                    <button type="submit" ng-click="MostrarAsistencia()" class="btn btn-success">Mostrar</button>
                </form>
            </div>
            <div class="filtrosSelected" ng-hide="showFilters">
                <div><strong>Contrata:</strong>{{contrata_seleccionda}}</div>
                <div><strong>Celula:</strong>{{celula_seleccionada}}</div>
                <div><strong>Cantidad de Tecnicos:</strong>#{{tecnicos.length}}</div>
                <div><strong>{{mensaje}}</strong></div>

            </div>
        </div>
    </fieldset>

    <p><span us-spinner spinner-key="spinner-1"></span> </p>

    <div class="tablaAsistencia" id="tablaAsistencia" ng-show="showAsistencia">
        <table class="table table-hover">
            <tr>
                <th class='th_res_grupal2'>Tecnico</th>
                <th class='th_res_grupal2'>Reg Asis</th>
                <th class='th_res_grupal2'>Activo</th>
            </tr>
            <tbody ng-repeat="tecnico in tecnicos">
                <tr  ng-click="toggleDetalle($index)" ng-class="{ danger:tecnico.ingreso === null }">
                    <td>
                        <img src="/webpsi/img/details_open.png" ng-hide="tecnico.mostrarDetalle === true"/>
                        <img src="/webpsi/img/details_close.png" ng-show="tecnico.mostrarDetalle === true"/>
                        {{tecnico.nombre}}</td>
                    <td>{{tecnico.ingreso}}</td>
                    <td>{{tecnico.estado}}</td>
                </tr>
                <tr  ng-show="tecnico.mostrarDetalle === true" class="warning">
                    <td colspan="3">
                        <div>
                            <table class="table table-responsive">
                                <tr> <th>Carnet:</th><td>{{tecnico.carnet}}</td>  </tr>
                                <tr> <th>Telefono:</th><td>{{tecnico.telefono}}</td>  </tr>
                                <tr>  <th>Ubicacion</th><td>{{tecnico.ubicacion}}</td>  </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>

</div>

</div>
<!-- end template -->

<!-- script references -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="vendors/bower_components/underscore/underscore-min.js"></script>
<script src="vendors/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
<script src="vendors/bower_components/angular-animate/angular-animate.min.js"></script>
<script src="vendors/bower_components/spin.js/spin.js"></script>
<script src="vendors/bower_components/angular-spinner/angular-spinner.min.js"></script>
<script src="js/scripts.js"></script>
</body>
</html>