<template src="./Sms.html"></template>
<script type="text/javascript">

  export default {
  	data() {
	    return {
	    	contenido_sms: '',
	    	numeros_telefonicos: ''
	    }
	},
  	methods: {
  		EnviarSms : function(){
  			let request = {
  				contenido_sms: this.contenido_sms,
  				numeros_telefonicos: this.numeros_telefonicos
  			};
  			axios.post('bandejalegado/enviarsms', request).then(response => {
	        	console.log(response.data);
	        	if (response.data.rst == 1) {
	                console.log('enviado')
	            } else {
	                console.log('no enviado')
	            }
	        });
  		}
  	}
  }
</script>