<div class="row form-group">
  <div class="col-sm-12">
    <div class="box-body table-responsive">
      <div class="panel-group" id="panel-sms">
        <form id="form-sms-legado" v-on:submit.prevent="EnviarSms()">
          <div class="col-sm-12">
            <label>Numeros Telefonicos</label>
            <input type="text" v-model="numeros_telefonicos" placeholder="1 o mas numeros separados por comas" class="form-control numeros_telefonicos" required="" />
          </div>

          <div class="col-sm-12" style="margin-top: 14px;">
            <label>Mensaje</label>
            <textarea placeholder="Ingrese su mensaje aqui..." maxlength="140" v-model="contenido_sms"  class="form-control" style="height: 60px; resize: none;" required=""></textarea>
          </div>
          <div class="col-sm-12" style="margin-top: 12px">
            <input type="submit" value="Enviar"  class="btn btn-primary pull-right" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>