/* 
    Created on : 11/09/2014, 11:31:48 AM
    Author     : usertdp
*/

html, body{
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: verdana;
    font-size: 12px;
}

#map-tec {
    height: 88%;
    width: 20%;
    margin: 0px;
    padding: 0px;
    float: left;
}

#map-canvas {
    height: 88%;
    width: 80%;
    margin: 0px;
    padding: 0px;
    float: left;
}

#tools {
    height: 10%;
    width: 50%;
    float: left;
}

#tools_tmp {
    height: 10%;
    width: 50%;
    float: left;
}

.toolBox {
    float: left;
    text-align: center;
}

#tec-list {
    font-size: 10px;
    height: 88%;
    overflow: auto;
}

.clear_button {
    background-color: #ff0000; 
    color: #ffffff; 
    border-style: solid; 
    border-color: #000000;
    border-width: thin;
    font-weight: bold;
}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   speak for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modalPop {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 0, 0, 0, .5 ) 
                url(../images/ajax-loader.gif) 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modalPop {
    display: block;
}



.go-map{
   text-decoration: none;
}