.div_main {
	margin-right: auto;
	margin-left: auto;
	width: 550px;
}

.div_busqueda {
	margin-right: auto;
	margin-left: auto;
	width: 550px;
}

.tr_busqueda {
	height: 30px;
}

.td_busqueda {
	width: 100%;
}


.divClonar {
	margin-right: auto;
	margin-left: auto;
	width: 400px;
}

.tablaClonar {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	text-align: left;
	border-collapse: collapse;
	border-spacing: 0;
	border-color: #0033FF;
	border-style: solid     ;
	border-width: 1px       ;	
	
	/*background: #6E9CC8;*/
	background: #6E9CC8;
	width: 100%;
}

.celda_ok { 
  font: normal 12px Arial, Helvetica, sans-serif;
  color: #000099       ;
  background: #FFECC0       ;
  height:28px;
  width: 50%;
  padding: 10px;

}


.celda_titulo { 
  font: normal 12px Arial, Helvetica, sans-serif;
  color: #FFFFFF  ;
  background: #6E9CC8 ;
  font-weight: bold;
  width: 50px;
  padding: 5px;
  border: 1px solid ;/* #6699FF;*/
  border-color: #17385b;
}

.celda_res { 
  font: normal 12px Arial, Helvetica, sans-serif;
  color: #000000  ;
  background: #FFFFFF ;
  height:28px;
  /*font-weight: bold;*/
  width: 80px;
  padding: 5px;
  border: 1px solid ;/* #6699FF;*/
  border-color: #17385b;

}

.caja_texto3 {
    border: 1px solid #003366;
    width: 120px;
    font-family: Arial, Helvetica, sans-serif;
  	font-size: 12px ;
	height: 28x;
}

.caja_texto3:focus
{
    background:#F4EA9C;
    border: 1px solid #006699;
    color:#000;
    font-family: Arial, Helvetica, sans-serif;
  	font-size: 12px ;
	height: 28x;
}


.btn span{
	display:block;
	position:absolute;
	top:6px;
	left:9px;
	width:32px;
	height:32px;
	background-repeat:no-repeat;
	background-position:center;
	text-decoration: none;
}


.btn.save span {
background-image:url(img/btn_save_32.png);
}
.btn.save_add span {
background-image:url(../../img/btn_save_add_32.png);
}
.btn.deshacer span {
background-image:url(../../img/btn_clear_32.png);
}
.btn.cancelar span {
background-image:url(../../img/btn_cancelar_32.png);
}
