<uib-tabset active="active">
    <uib-tab index="0" heading="Envios" select="office.getTareas();">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Filtros</h3>
            </div><!-- /.box-header -->
            <div class="box-body table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>
                            <a ng-click="office.sortType = 'paso'; office.sortReverse = !office.sortReverse">
                                Paso
                        <span ng-show="office.sortType == 'paso' && !office.sortReverse"
                              class="fa fa-caret-down"></span>
                                <span ng-show="office.sortType == 'paso' && office.sortReverse"
                                      class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th>
                            <a ng-click="office.sortType = 'task_id' ; office.sortReverse = !office.sortReverse">
                                Id Tarea
                        <span ng-show="office.sortType == 'task_id' && !office.sortReverse"
                              class="fa fa-caret-down"></span>
                        <span ng-show="office.sortType == 'task_id' && office.sortReverse"
                              class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th>
                            <a ng-click="office.sortType = 'cod_tecnico'; office.sortReverse = !office.sortReverse">
                                Codigo Tecnico
                        <span ng-show="office.sortType == 'cod_tecnico' && !office.sortReverse"
                              class="fa fa-caret-down"></span>
                        <span ng-show="office.sortType == 'cod_tecnico' && office.sortReverse"
                              class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th>

                            <a ng-click="office.sortType = 'fecha_recepcion'; office.sortReverse = !office.sortReverse">
                                Fecha Recepcions
                        <span ng-show="office.sortType == 'fecha_recepcion' && !office.sortReverse"
                              class="fa fa-caret-down"></span>
                        <span ng-show="office.sortType == 'fecha_recepcion' && office.sortReverse"
                              class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th>Fecha Agendada</th>
                        <th>Cliente</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="task in office.tasks | orderBy:office.sortType:office.sortReverse">
                        <td>{{task.paso}}</td>
                        <td>{{task.task_id}}</td>
                        <td>{{task.cod_tecnico}}</td>
                        <td>{{task.fecha_recepcion}}</td>
                        <td>{{task.fecha_agenda}}</td>
                        <td>{{task.cliente}}</td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <th>Paso</th>
                        <th>Id Tarea</th>
                        <th>Codigo Tecnico</th>
                        <th>Fecha Recepcion</th>
                        <th>Fecha Agendada</th>
                        <th>Cliente</th>
                    </tr>
                    </tfoot>
                </table>

                <div>
                    <uib-pagination total-items="office.bigTotalItems" ng-model="office.bigCurrentPage"
                                    max-size="office.tableMaxSize" class="pagination-sm" boundary-link-numbers="true"
                                    ng-change="office.getTareas()"></uib-pagination>
                </div>
            </div><!-- /.box-body -->

        </div><!-- /.box -->
    </uib-tab>
    <uib-tab index="1" heading="Errores" select="office.getErrores();">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Filtros</h3>
            </div><!-- /.box-header -->
            <div class="box-body table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>
                            <a ng-click="office.sortType = 'id'; office.sortReverse = !office.sortReverse">
                                Id
                        <span ng-show="office.sortType == 'id' && !office.sortReverse"
                              class="fa fa-caret-down"></span>
                                <span ng-show="office.sortType == 'id' && office.sortReverse"
                                      class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th>
                            <a ng-click="office.sortType = 'codigo' ; office.sortReverse = !office.sortReverse">
                                Codigo
                        <span ng-show="office.sortType == 'codigo' && !office.sortReverse"
                              class="fa fa-caret-down"></span>
                        <span ng-show="office.sortType == 'codigo' && office.sortReverse"
                              class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th>
                            Mensaje
                        </th>
                        <th>
                            Archivo
                        </th>
                        <th>

                            <a ng-click="office.sortType = 'fecha'; office.sortReverse = !office.sortReverse">
                                Fecha
                        <span ng-show="office.sortType == 'fecha' && !office.sortReverse"
                              class="fa fa-caret-down"></span>
                        <span ng-show="office.sortType == 'fecha' && office.sortReverse"
                              class="fa fa-caret-up"></span>
                            </a>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="error in office.errors | orderBy:office.sortTypeError:office.sortReverseError">
                        <td>{{error.id}}</td>
                        <td>{{error.codigo}}</td>
                        <td>{{error.mensaje}}</td>
                        <td>{{error.archivo}}</td>
                        <td>{{error.fecha}}</td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <th>Id</th>
                        <th>Mensaje</th>
                        <th>Codigo</th>
                        <th>Archivo</th>
                        <th>Fecha</th>
                    </tr>
                    </tfoot>
                </table>

                <div>
                    <uib-pagination total-items="office.bigTotalItemsError" ng-model="office.bigCurrentPageError"
                                    max-size="office.tableMaxSizeError" class="pagination-sm"
                                    boundary-link-numbers="true"
                                    ng-change="office.getErrores()"></uib-pagination>
                </div>
            </div><!-- /.box-body -->

        </div><!-- /.box -->
    </uib-tab>
</uib-tabset>
