<form id="form_solicitud" name="form_solicitud" method="post">
    <div class="row">
        <div class="col-sm-12" style="background-color: #357ca5;text-align: center;">
            <label style="color: yellow; margin: 5px;">Cliente: {{solicitud_data.cod_cliente}}-{{NombreCompleto}}</label>

            <a class="btn btn-danger btn-xs btn-detalle" id="btnVerBtn" data-toggle="modal" title="Actualizar campos!" v-on:click="editCampos"><i class="fa fa-edit fa-xs"></i></a>
        </div>
    </div>
    <fieldset class="scheduler-border">
        <legend class="scheduler-border">Requerimiento</legend>
        <div class="row">
            <div class="col-sm-12 btn-modificar-margin">
                <div class="control-group">
                    <div class="input-group">
                      <button type="button" class="btn btn-success" v-if="edit_estado" v-on:click="actualizarTrama()"><i class="fa fa-location-arrow fa-lg"></i> Modificar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="control-group">
                    <div class="input-group">
                      <span class="input-group-addon input-sm">cliente</span>
                      <label class="form-control input-sm">{{solicitud_data.cod_cliente}}</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="input-group" id="div_Nombres">
                    <span :class="[(edit_estado) ? 'input-group-addon input-sm label-habilitado': 'input-group-addon input-sm']">Nombres</span>
                    <input type="" name="" class="form-control letras-small" v-model="solicitud_data.nom_cliente" :disabled="!edit_estado">
                </div>

            </div>
            <div class="col-sm-3">
                <div class="input-group" id="div_Paterno">
                    <span :class="[(edit_estado) ? 'input-group-addon input-sm label-habilitado': 'input-group-addon input-sm']">Paterno</span>
                    <input type="" name="" class="form-control letras-small" v-model="solicitud_data.ape_paterno" :disabled="!edit_estado">
                </div>

            </div>
            <div class="col-sm-3">
                <div class="input-group" id="div_Materno">
                    <span :class="[(edit_estado) ? 'input-group-addon input-sm label-habilitado': 'input-group-addon input-sm']">Materno</span>
                    <input type="" name="" class="form-control letras-small" v-model="solicitud_data.ape_materno" :disabled="!edit_estado">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="control-group">
                    <div class="input-group">
                      <span class="input-group-addon input-sm">Estacion</span>
                      <label class="form-control input-sm">TELEDIF</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="input-group">
                    <span class="input-group-addon input-sm">
                        <!--<input type="checkbox" v-model="solicitud_data.ind_vip" v-bind:true-value="S" v-bind:false-value="N">-->
                        <input type="checkbox" v-model="solicitud_data.ind_vip">
                    </span>
                    <span class="form-control input-sm">VIP</span>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="control-group">
                    <div class="input-group">
                      <span class="input-group-addon input-sm">Requerim</span>
                      <label class="form-control input-sm">{{solicitud_data.num_requerimiento}}</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="control-group">
                    <div class="input-group">
                      <span class="input-group-addon input-sm">Petic</span>
                      <label class="form-control input-sm">{{solicitud_data.peticion}}</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="control-group">
                    <div class="input-group" id="div_ZonaOT">
                        <span :class="[(edit_estado) ? 'input-group-addon input-sm label-habilitado': 'input-group-addon input-sm']">Zona OT</span>
                        <model-list-select :class="[(edit_estado) ? '': 'select-desabilitado']"
                            :list="lista_slcts['zonal']"
                            v-model="solicitud_data.zonal"
                            option-value="id"
                            option-text="nombre"
                            :custom-text="nombre_selects"
                            placeholder="Seleccione un quiebre">
                        </model-list-select> 
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="control-group">
                    <div class="input-group">
                      <span class="input-group-addon input-sm">Tipo</span>
                      <label class="form-control input-sm">
                        {{solicitud_data.ind_origen_requerimiento}}
                      </label>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="control-group">
                    <div class="input-group">
                      <span class="input-group-addon input-sm">ST</span>
                      <label class="form-control input-sm">{{solicitud_data.id_solicitud_tecnica}}</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="control-group">
                    <div class="input-group">
                      <span class="input-group-addon input-sm">OT</span>
                      <label class="form-control input-sm">{{solicitud_data.orden_trabajo}}</label>
                    </div>
                </div>
            </div> 
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="control-group">
                    <div class="input-group">
                      <span class="input-group-addon input-sm">Telefono VOIP</span>
                      <label class="form-control input-sm">{{solicitud_data.telefono_voip}}</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="control-group">
                    <div class="input-group">
                      <span class="input-group-addon input-sm">Promocion Linea</span>
                      <label class="form-control input-sm">{{solicitud_data.promocion_linea}}</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="control-group">
                    <div class="input-group">
                      <span class="input-group-addon input-sm">Desc Promocion Linea</span>
                      <label class="form-control input-sm">{{solicitud_data.desc_linea}}</label>
                    </div>
                </div>
            </div>
        </div>
        <hr style="margin: 10px;border-top-color: #000;width: 100%;">
        <div class="row">
            <div class="col-sm-3">
                <div class="control-group">
                    <div class="input-group">
                      <span class="input-group-addon input-sm">Ind Paquete</span>
                      <label class="form-control input-sm">{{solicitud_data.tipo_paquete}}</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="control-group">
                    <div class="form-inline">
                        <span class="form-control input-group-addon input-sm">Esc Gestel CMS</span>
                        <label class="form-control input-sm">{{solicitud_data.escenario_cms}}</label>
                        <label class="form-control input-sm">{{solicitud_data.escenario_gestel}}</label>
                    </div>
                </div>
            </div>
        </div>
        <hr style="margin: 10px;border-top-color: #000;width: 100%;">
        <div class="row">
            <div class="col-sm-6">
                <div class="control-group">
                    <div class="form-inline" id="div_Tiporeq">
                        <span :class="[(edit_estado) ? 'input-group-addon input-sm label-habilitado label-small': 'input-group-addon input-sm label-small']">Tipo Req</span>
                        <model-list-select :class="[(edit_estado) ? 'select-small': 'select-desabilitado select-small']"
                            :list="lista_slcts['tiporeq']"
                            v-model="solicitud_data.tipo_requerimiento"
                            option-value="id"
                            option-text="nombre"
                            :custom-text="nombre_selects"
                            placeholder="Seleccione un quiebre">
                        </model-list-select> 

                        <label class="form-control input-sm" id="lbl_desctiporeq_cms">{{solicitud_data.desc_tipo_requerimiento}}</label>
                    </div>

                </div>
            </div>
            <div class="col-sm-3">
                <div class="control-group">
                    <div class="input-group">
                      <span class="input-group-addon input-sm">Portabilidad</span>
                      <label class="form-control input-sm">{{solicitud_data.tipo_portado}}</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="control-group">
                    <div class="input-group">
                      <span class="input-group-addon input-sm">Tipo Req ST</span>
                      <label class="form-control input-sm">{{solicitud_data.tipo_operacion}}</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="control-group">
                    <div class="form-inline" id="div_MotivoGen">
                        <span :class="[(edit_estado) ? 'input-group-addon input-sm label-habilitado label-small': 'input-group-addon input-sm label-small']">Motivo Gen</span>
                        <model-list-select :class="[(edit_estado) ? 'select-small': 'select-desabilitado select-small']"
                            :list="lista_slcts['motivogen']"
                            v-model="solicitud_data.cod_motivo_generacion"
                            option-value="id"
                            option-text="nombre"
                            id='2wwew'
                            :custom-text="nombre_selects"
                            placeholder="Seleccione un quiebre">
                        </model-list-select> 
                        <label class="form-control input-sm" id="lbl_descmotivogen_cms">{{solicitud_data.desc_motivo_generacion}}</label>
                    </div>

                </div>
            </div>
            <div class="col-sm-6">
                <div class="control-group">
                    <div class="form-inline">
                        <span class="form-control input-group-addon input-sm">Situacion</span>
                        <label class="form-control input-sm">{{solicitud_data.situacion}}</label>
                        <label class="form-control input-sm">{{solicitud_data.desc_situacion}}</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <div class="control-group">
                    <div class="form-inline">
                        <span class="form-control input-group-addon input-sm">Moti. Act</span>
                        <label class="form-control input-sm" id="lbl_motivoact_cms">{{solicitud_data.cod_motivo_generacion}}</label>
                        <label class="form-control input-sm" id="lbl_descmotivoact_cms">{{solicitud_data.desc_motivo_generacion}}</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="control-group">
                    <div class="input-group">
                      <span class="input-group-addon input-sm">Estado</span>
                      <label class="form-control input-sm">{{solicitud_data.estado}}</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="control-group">
                    <div class="form-inline" id="div_Contrata">
                        <span :class="[(edit_estado) ? 'input-group-addon input-sm label-habilitado label-small': 'input-group-addon input-sm label-small']">Contr.</span>
                        <label class="form-control input-sm" id="lbl_desccontrata_cms" v-if="!edit_estado">{{solicitud_data.codigo_contrata}}</label>
                        <template v-if="edit_estado">
                            <model-list-select :class="[(edit_estado) ? 'select-small': 'select-desabilitado select-small']"
                                :list="lista_slcts['contratascms']"
                                v-model="objContrata"
                                option-value="id"
                                id="contratas"
                                option-text="nombre"
                                :custom-text="id_selects"
                                placeholder="Seleccione un quiebre">
                            </model-list-select>
                        </template>
                        <label class="form-control input-sm" id="lbl_desccontrata_cms" v-if="!edit_estado">{{solicitud_data.desc_contrata}}</label>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="control-group">
                    <div class="input-group">
                      <span class="input-group-addon input-sm">CMS</span>
                      <label class="form-control input-sm">{{solicitud_data.fecha_registro_requerimiento + ' '+ solicitud_data.hora_registro_requerimiento}}</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="control-group">
                    <div class="input-group">
                      <span class="input-group-addon input-sm">Envio</span>
                      <label class="form-control input-sm">
                          {{solicitud_data.fecha_envio +' '+ solicitud_data.hora_envio
                          }}
                      </label>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="control-group">
                    <div class="input-group">
                      <span class="input-group-addon input-sm">Tipo Tec</span>
                      <label class="form-control input-sm">{{solicitud_data.tipo_tecnologia}}</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="control-group">
                    <div class="input-group">
                      <span class="input-group-addon input-sm">Velocidad</span>
                      <label class="form-control input-sm">{{solicitud_data.velocidad_internet_requerimiento}}</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="control-group">
                    <div class="input-group">
                      <span class="input-group-addon input-sm">N° Ave ind.</span>
                      <label class="form-control input-sm" style="color: red;">TEST</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="control-group">
                    <div class="input-group">
                      <span class="input-group-addon input-sm">Ofic. Adm</span>
                      <label class="form-control input-sm">{{solicitud_data.oficina}}</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="control-group">
                    <div class="input-group">
                      <span class="input-group-addon input-sm">GO</span>
                      <label class="form-control input-sm">{{solicitud_data.created_at}}</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="control-group">
                    <div class="input-group">
                      <span class="input-group-addon input-sm">TOA</span>
                      <label class="form-control input-sm">{{solicitud_data.fechaenviotoa}}</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="control-group">
                    <div class="input-group">
                      <span class="input-group-addon input-sm">N° Ave mas.</span>
                      <label class="form-control input-sm" style="color: red;">TEST</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="control-group">
                    <div class="input-group">
                      <span class="input-group-addon input-sm">Observac</span>
                      <label class="form-control input-sm">{{solicitud_data.observacion}}</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="control-group">
                    <div class="input-group">
                      <span class="input-group-addon input-sm">F. Liq</span>
                      <label class="form-control input-sm" style="color: red;">TEST</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="control-group">
                    <div class="input-group">
                      <span class="input-group-addon input-sm">Q</span>
                      <label class="form-control input-sm">{{solicitud_data.quiebre}}</label>
                    </div>
                </div>
            </div>

            <!-- jahir-->
            <div class="col-sm-4" id="div_FchInstalacion">
                <div class="control-group" >
                    <div class="input-group">
                      <span :class="[(edit_estado) ? 'input-group-addon input-sm label-habilitado': 'input-group-addon input-sm']" style="width: auto;">F.Instalacion</span>
                      <label class="form-control input-sm" id="lbl_fchinstalacion_cms" v-if="!edit_estado">{{solicitud_data.fecha_instalacion_alta + ' '+ solicitud_data.hora_instalacion_alta}}
                      </label>
                      <date-picker v-model="fecha_instalacion" type="datetime" lang="es" format="dd-MM-yyyy HH:mm:ss" v-if="edit_estado"></date-picker>
                    </div>
                </div>
            </div>
            <!--<div class="col-sm-6" id="div_editFchInstalacion" style="display: none;">
                <div class="form-inline" >
                    <span class="form-control input-sm pull-left" 
                    style="color:white;background:#36AE8E;">F.Instalacion</span>
                    <div class="col-sm-4">
                        <input class="form-control input-sm" v-bind:value="solicitud.fecha_instalacion_alta" id="txt_fchinstalacion_cms" readonly="">
                    </div>
                    <div class="col-sm-4 bootstrap-timepicker">
                        <input class="form-control input-sm timepicker" v-bind:value="solicitud.hora_instalacion_alta" id="txt_hrainstalacion_cms" readonly="">
                    </div>
                </div>
            </div>

            <div class="col-sm-12" style="margin-top:15px;">
                <div class="control-group">
                    <div class="input-group">
                      <button type="button" class="btn btn-success" id="btnActualizar" style="display: none;"><i class="fa fa-location-arrow fa-lg"></i> Modificar</button>
                    </div>
                </div>
            </div>-->
        </div>
    </fieldset>

    <div class="row">
        <div class="col-sm-6">
            <div class="form-inline ">
                <label>Clase de Servicio</label>
                <label class="form-control input-sm">{{solicitud_data.clase_servicio}}</label>
                <label class="form-control input-sm">{{solicitud_data.desc_clase_servicio}}</label>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-inline ">
                <label>Tipo de señal</label>
                <label class="form-control input-sm">{{solicitud_data.tipo_senal_troba}}</label>
            </div>
        </div>
    </div>
    <br>

    <div class="control">
        <ul class="nav nav-pills head nav-justified" id='st-detalle'>
          <li><a data-toggle="tab" href="#datos">Datos</a></li>
          <li><a data-toggle="tab" href="#validacion_coord">Validacion Coord</a></li>
          <li><a data-toggle="tab" href="#bitacoras">Bitacoras</a></li>
          <li><a data-toggle="tab" href="#decos">Oper Decos</a></li>
          <li><a data-toggle="tab" href="#cable_modem">Cable Modem</a></li>
          <li><a data-toggle="tab" href="#mapa">Mapa</a></li>
        </ul>

        <div class="tab-content">
            <div id="datos" class="tab-pane fade">
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border"></legend>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="control-group">
                                <div class="input-group">
                                  <span class="input-group-addon input-sm">Clave Srv</span>
                                  <label class="form-control input-sm">{{solicitud_data.desc_clase_servicio}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="control-group">
                                <div class="input-group">
                                  <span class="input-group-addon input-sm">Condicion Srv</span>
                                  <label class="form-control input-sm">{{solicitud_data.condicion}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="control-group">
                                <div class="input-group">
                                  <span class="input-group-addon input-sm">Categoria Srv</span>
                                  <label class="form-control input-sm">{{solicitud_data.desc_categoria_servicio}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <fieldset class="scheduler-border" style="margin-top: 10px">
                        <legend class="scheduler-border">Técnicos</legend>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="control-group">
                                    <div class="input-group">
                                      <span class="input-group-addon input-sm">Nodo</span>
                                      <label class="form-control input-sm">{{solicitud_data.cod_nodo}}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="control-group">
                                    <div class="input-group">
                                      <span class="input-group-addon input-sm">Plano</span>
                                      <label class="form-control input-sm">{{solicitud_data.cod_plano}}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="control-group">
                                    <div class="input-group">
                                      <span class="input-group-addon input-sm">Trb/Tronc</span>
                                      <label class="form-control input-sm">{{solicitud_data.cod_troba}}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="control-group">
                                    <div class="input-group">
                                      <span class="input-group-addon input-sm">Amplificador</span>
                                      <label class="form-control input-sm">{{solicitud_data.cod_amplificador}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="control-group">
                                    <div class="input-group">
                                      <span class="input-group-addon input-sm">Tap</span>
                                      <label class="form-control input-sm">{{solicitud_data.cod_tap}}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="control-group">
                                    <div class="input-group">
                                      <span class="input-group-addon input-sm">Sector</span>
                                      <label class="form-control input-sm">{{solicitud_data.sector_troba}}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="control-group">
                                    <div class="input-group">
                                      <span class="input-group-addon input-sm">Borne</span>
                                      <label class="form-control input-sm">{{solicitud_data.borne}}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="control-group">
                                    <div class="input-group">
                                      <span class="input-group-addon input-sm">Split/Multisrv</span>
                                      <label class="form-control input-sm"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="control-group">
                                    <div class="input-group">
                                      <span class="input-group-addon input-sm">Jefatura</span>
                                      <label class="form-control input-sm">{{solicitud_data.cod_jefatura}}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="control-group">
                                    <div class="input-group">
                                      <span class="input-group-addon input-sm">Cmts</span>
                                      <label class="form-control input-sm">{{solicitud_data.desc_cmts}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="control-group" id="div_Telefonos">
                                <div class="input-group">
                                  <span :class="[(edit_estado) ? 'input-group-addon input-sm label-habilitado': 'input-group-addon input-sm']">Teléfono(s)</span>
                                  <input type="" v-model="solicitud_data.telefono1" class="form-control letras-small" :disabled="!edit_estado" style="width: auto">
                                  <input type="" v-model="solicitud_data.telefono2" class="form-control letras-small" :disabled="!edit_estado" style="width: auto">
                                  <!--<label class="form-control input-sm" id="lbl_telefonos_cms">telefonos</label-->
                                </div>
                            </div>
                        </div>
                    </div>

                    <fieldset class="scheduler-border" style="margin-top: 10px">
                        <legend class="scheduler-border">Dirección de instalacion</legend>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="control-group">
                                    <div class="input-group">
                                      <span class="input-group-addon input-sm">Direccion</span>
                                      <label class="form-control input-sm">{{direccionCliente}}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="control-group">
                                    <div class="input-group">
                                      <span class="input-group-addon input-sm">Direccion Tap</span>
                                      <label class="form-control input-sm">{{direccionTab}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="control-group">
                                    <div class="input-group">
                                      <span class="input-group-addon input-sm">Urbanizacion</span>
                                      <label class="form-control input-sm">{{urbanizacion}}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="control-group">
                                    <div class="input-group">
                                      <span class="input-group-addon input-sm">Distrito</span>
                                      <label class="form-control input-sm">{{solicitud_data.desc_distrito}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="control-group">
                                    <div class="input-group">
                                      <span class="input-group-addon input-sm">Referencia</span>
                                      <label class="form-control input-sm">{{solicitud_data.referencia}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>    
                </fieldset>
            </div>
            <div id="validacion_coord" class="tab-pane fade">
                <fieldset class="scheduler-border">
                    <h3>Validacion de Coordenadas</h3>
                    <p>Distancia Maxima 1.5 Km</p>
                    <!--Config::get("validacion.distancia")-->
                    <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>F.Registro</th>
                                <th>Inicio</th>
                                <th>Fin</th>
                                <th>Distancia del tecnico</th>
                                <th>SMS</th>
                                <th>Estado</th>
                                <th>Carnet</th>
                            </tr>
                        </thead>
                        <tbody>
                             <tr>
                              <template>
                                <td>index.created_at</td>
                                <td>index.fecha_inicio</td>
                                <td>index.fecha_fin</td>
                                <td>index.distancia metros</td>
                                <td>index.sms</td>
                                <td>index.estado_prueba</td>
                                <td>index.tecnico_id</td>
                              </template>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                </fieldset>
                <fieldset class="scheduler-border fieldset-forzar-validacion" v-if="solicitud_data.estado_ofsc_id == 1">
                    <h3>Forzar Validacion</h3>
                    <div class="row">
                        <div class="col-sm-4">
                            <a class="btn btn-success btn-forzar-coordenadas">Forzar Validacion de Coordenadas</a>
                        </div>
                        <div class="col-sm-12">
                            <textarea style="resize: none; margin-top: 10px;" class="form-control" placeholder="Realiza un Comentario..." id='comentarios-forzar-coordenadas' row="3"></textarea>
                        </div>
                    </div>
                   
                </fieldset>
            </div>
        </div>
    </div>   
    
</form>
