<template src="./Cms.html"></template>
<script>
	import {ModelListSelect} from 'vue-search-select';
	import DatePicker from 'vue2-datepicker'
	//import Autocomplete from 'v-autocomplete'
	//import 'v-autocomplete/dist/v-autocomplete.css'
	export default {
	    props: ['solicitud_data', 'lista_slcts'],
	    data() {
	      return {
	        edit_estado: false,
	        objContrata: null,
	  		value1: new Date(),
	  		fechaInstalacion: ' '
	      }

	    },
	    methods: {
	    	editCampos: function(){
	    		this.edit_estado = !this.edit_estado;
	    		this.obtenerContrata();
	    		console.log(this.fecha_instalacion);
	    	},
	    	nombre_selects (item) {
		        return `${item.nombre}`
		    },

		    id_selects (item) {
		        return `${item.nombre}`
		    },
		    obtenerContrata(){
		    	if (this.objContrata === null) {
		    		for (i = 0; i < this.lista_slcts['contratascms'].length; i++){
		    			if (this.lista_slcts['contratascms'][i].id === this.solicitud_data.codigo_contrata) {
		    				this.objContrata = this.lista_slcts['contratascms'][i];
		    				break;
		    			}
		    			
		    		}
		    		return this.objContrata;
		    	}
		    },
		    actualizarTrama(){
		    	//let fecha_instalacion = this.fechaInstalacion.split(' ');
		    	let request= {
		    		nombres: this.solicitud_data.nom_cliente.toUpperCase(),
		    		paterno: this.solicitud_data.ape_paterno.toUpperCase(),
		    		paterno: this.solicitud_data.ape_materno.toUpperCase(),
		    		zonal: this.solicitud_data.zonal,
		    		zonal: this.solicitud_data.zonal,
		  			hrainstalacion: this.solicitud_data.fecha_instalacion_alta,
		  			fchinstalacion: this.solicitud_data.hora_instalacion_alta,
		  			contrata: this.solicitud_data.codigo_contrata,
		  			tiporeq: this.solicitud_data.tipo_requerimiento,
		  			motigogen: this.solicitud_data.cod_motivo_generacion,
		  			telefono1: this.solicitud_data.telefono1,
		  			telefono2: this.solicitud_data.telefono2,
		    	}
		    	//alert(fecha_instalacion.);
		    	
		    	/*axios.post('trama/actualizarordencms',request).then(response => {
		           	//response.data; 
		        });*/
		    }

	    },
	    computed: {
	    	NombreCompleto: function () {
	    		return this.solicitud_data.nom_cliente +' '+ this.solicitud_data.ape_paterno + ' ' + this.solicitud_data.ape_materno;
	    	},
	    	fecha_instalacion: {
	    		get: function (){
		    		let fechahora = this.solicitud_data.fecha_instalacion_alta +' '+this.solicitud_data.hora_instalacion_alta;
		    		return new Date(fechahora);
	    		},
	    		set: function (value) {
	    			let fecha_parse = moment(value).format("YYYY-MM-DD HH:mm:ss");
	    			let fechas = fecha_parse.split(' ');
	    			this.solicitud_data.fecha_instalacion_alta = fechas[0];
	    			this.solicitud_data.hora_instalacion_alta = fechas[1];
	    		}
	    	},
	    	direccionCliente: function () {
	            return this.solicitud_data.tipo_via+' '+this.solicitud_data.nombre_via+
	            ' '+this.solicitud_data.numero_via+' PISO:'+ this.solicitud_data.piso +' INT'+this.solicitud_data.interior +
	            ' MNZ'+ this.solicitud_data.manzana +' LT'+ this.solicitud_data.lote;
	        },
	        direccionTab: function () {
	            return this.solicitud_data.tap_via+' '+this.solicitud_data.tap_nombre_via+
	            ' '+this.solicitud_data.tap_numero+' PISO:'+ this.solicitud_data.tap_piso +' INT'+this.solicitud.tap_interior +
	            ' MNZ'+ this.solicitud_data.tap_manzana +' LT'+ this.solicitud_data.tap_lote;
	        },
	        urbanizacion: function () {
	            return this.solicitud_data.tipo_urbanizacion +' '+this.solicitud_data.desc_urbanizacion;
	        }
	    },
	    components: {
	    	ModelListSelect: ModelListSelect,
	    	DatePicker
	    }

	}


</script>

<style type="text/css">
	.select-desabilitado {
		overflow: hidden;
		height: 1px
	}
	.label-habilitado {
		color: white;
    	background: #36AE8E !important;
	}
	.letras-small {
		font-size: 12px
	}
	.select-small {
		float: left !important;
    	width: 100px !important;
    	margin: 0px 5px !important;
	}
	.label-small {
		display: inline-block !important;
	    width: auto !important;
	    float: left !important;
	}
	.btn-modificar-margin{
		margin: -5px 0px 10px !important;
	}
</style>