<template src="./Comunicacionlegados.html"></template>
<script type="text/javascript">
	export default {
		props: ['comunicacionlego'], 
		data() {
	      return {
	      	btn_edit_cierre: false,
	      	btn_edit_respuesta: false
	      }
	    },
	    methods: {
	    	fn_btnEditComLeg: function(id){
	            var edit='edit'+id;
	            var show='show'+id;
	            var estado='estado'+id;
	     
	            if( $('#'+edit).is(":visible") ){
	                    $('#'+show).fadeIn('slow');
	                    $('#'+edit).hide();
	                    $('#'+estado).val(0);
	            }else{  
	                    this.fn_pintar_divedit(id);
	                    $('#'+edit).fadeIn('slow');
	                    $('#'+show).hide();
	                    $('#'+estado).val(1);
	                }
	        },
	    	fn_pintar_divedit: function(id){
	        //pintar div edit 
	            var list=this.comunicacionlego
	            for (var i in list) {
	                var lego=this.comunicacionlego[i];
	                let cont=0;
	                for (var j in lego) {
	                    //console.log(lego[j].accion+'\n'+lego[j].request+'\n'+lego[j].xmlrequest);
	                    var json = lego[j].request;
	                    var div = lego[j].id;
	                    var array = JSON.parse(json);
	                    //console.log(array);
	                    var html='<br>';
	                    var html2='<br>';
	                    console.log(array);
	                    //$.each(array, function(key, val){
	                    for (let key in array) {
	                    	let val = array[key];
							if( key !=  'componente' && key !=  'tipo_operacion' ){
	                            if( key ==  'IndicadorRespuesta' ){
	                                var vl='';
	                                cont=cont+1;
	                                if( val == null ){var vl='';}else{vl=val;}
	                                html+='<div class="form-group col-sm-4 bootstrap-timepicker">';
	                                html+='<label for="'+key+'">'+key+':</label>';
	                                html+='<select class="form-control input-sm '+key+'_'+cont+'" id="'+key+'_'+cont+'" name="'+key+'_'+cont+'"></select>';
	                                html+='</div>';
	                                var json='[{"id": 0,"nombre": "Error de Trama"},{"id": 1,"nombre": "Trabajar en Psi"},{"id": 2, "nombre": "Trabajar en Legados"}]';                 
	                                this.pintar_slct((key+'_'+cont),json,vl);
	                            }else{
	                                var vl='';
	                                if( val == null ){var vl='';}else{vl=val;}
	                                html+='<div class="form-group col-sm-4 bootstrap-timepicker">';
	                                html+='<label for="'+key+'">'+key+':</label>';
	                                html+='<input type="text" class="form-control timepicker" id="'+key+'" name="'+key+'" value="'+vl+'" placeholder="Ingresar '+key+'">';
	                                html+='</div>';

	                                //datepicker fechas
	                                if( key.substr(0,5) ==  'fecha' ){
	                                    setTimeout(function() {
	                                    $('#'+key).daterangepicker({
	                                        singleDatePicker: true,
	                                        timePicker: false,
	                                        format: 'DD/MM/YYYY'
	                                    });},1000);
	                                }

	                                //timepicker tiempo
	                                if( key.substr(0,4) ==  'hora' ){
	                                    setTimeout(function() {
	                                    $("#"+key).timepicker({
	                                      showInputs: false,
	                                      showMeridian: false,
	                                      minuteStep: 1,
	                                      showSeconds: true,
	                                      secondStep: 1
	                                    });},1000);
	                                }
	                            }
	                        }else {
	                            if( key == 'componente' ){
	                                var componente=val;
	                                $.each(componente, function(key, val){
	                                    html2+='<fieldset class="scheduler-border form-group col-sm-6">';
	                                    html2+='<legend class="scheduler-border color-text" style="margin-left:10px;">COMPONENTE '+(key+1)+'</legend>';
	                                    var cont='_'+(key+1);
	                                    $.each(val, function(k, v){
	                                        var vl='';
	                                        if( v == null ){var vl='';}else{vl=v;}
	                                        html2+='<div class="form-group col-sm-6">';
	                                        html2+='<label for="'+k+'">'+k+':</label>';
	                                        html2+='<input type="text" class="form-control" id="'+k+cont+'" name="'+k+cont+'" value="'+vl+'" placeholder="Ingresar '+k+'">';  
	                                        html2+='</div>';
	                                    });
	                                    html2+='</fieldset>';
	                                });
	                            }
	                        }
	                        $('#'+div).html(html);
	                        $('#detalle'+div).html(html2);
						}
	                }
	            }
	        },
	        pintar_slct: function(select,json,val) {
	            var option = JSON.parse(json);
	            let html = "<option value=''>.::Seleccione::.</option>"; 
	            for (var i in option) {
	              html+="<option value='"+option[i].id+"'>"+option[i].nombre+"</option>";
	            }

            	setTimeout(function() {
	                $('#'+select).multiselect('destroy');
	                $('#'+select).html(html);
	                Slcts.slctGlobalHtml(select,'simple', (val).toString());
	            },400);
	        },

	    }
	}
</script>