<div class="row form-group">
  <div class="col-sm-12 contenedor-comunicacion-legado">
    <div class="box-body table-responsive">
      <div class="panel-group" id="accordion-comunicacion-legado">
        <template v-for="(lego,index) in comunicacionlego">
          <div class='panel panel-info'>
            <div class='panel-heading' data-toggle='collapse' data-parent='#accordion-comunicacion-legado' 
            :href="'#collapse-comunicacion'+index" style='cursor: pointer'>
              <h4 class='panel-title'>
              <a data-toggle='collapse' data-parent='#accordion-comunicacion-legado' 
              :href="'#collapse-comunicacion'+index" >{{index}}</a>
              </h4>
            </div>
            <div v-bind:id="'collapse-comunicacion'+index" class='panel-collapse collapse' aria-expanded='true' ref='idref'>
              <div class='panel-body'>
                <template v-for="le in lego">
                  <fieldset>
                    <div class='fila-envio-legado box box-body' style='border-top: none; box-shadow: none;'>
                      <legend>
                        <div class='fila-cabecera'>
                          <a v-if="(le.accion=='RptaEnvioSolicitudTecnica' || le.accion=='CierreSolicitudTecnica')" class="btn btn-danger btn-xs btn-detalle pull-left" id="btnEditComLeg" data-toggle="modal" title="Actualizar campos!"><i class="fa fa-edit fa-xs" @click='fn_btnEditComLeg(le.id,le.solicitud_tecnica_id)'></i></a>
                          <span style="margin-left: 5px;"><b>F. Envio : </b>@{{le.created_at}}</span>
                        </div>
                      </legend>
                      <div class='row' v-bind:id="'show'+le.id">
                        <div class='col-sm-6'>
                          <label class=''>Request</label>
                          <textarea disabled class='form-control' style='resize:none; height: 300px;'>@{{le.xml_request}}</textarea>
                        </div>
                        <div class='col-sm-6'>
                          <label class=''>Response</label>
                          <textarea disabled class='form-control' style='resize:none; height: 300px;'>@{{le['xml_response']}}</textarea>
                        </div>
                      </div>
                      <div class="row" v-bind:id="'edit'+le.id" >
                        <div class="col-sm-12">
                            <div class="use-sidebar sidebar-at-left col-sm-12" id="mymap">
                              <div  id="sidebar">
                                <form v-bind:name="'form_'+le.id" v-bind:id="'form_'+le.id" method="POST" action="">
                                  <input type="hidden" v-bind:id="'estado'+le.id" v-bind:name="'estado'+le.id" value="0">
                                  <div v-bind:id="le.id" class="row">
                                    
                                  </div>
                                  <div v-bind:id="'detalle'+le.id" class="row">
                                    
                                  </div>
                                </form>
                              </div>
                            </div>
                        </div>
                      </div><br>
                      <div class="row">
                        <div class="col-md-12">
                          <template v-if="(le.accion=='RptaEnvioSolicitudTecnica' || le.accion=='CierreSolicitudTecnica' || le.accion=='CierreSTProvision' || le.accion=='CierreSTAverias')">
                              <button class='btn btn-success pull-right col-sm-3'>
                                Reenviar
                              </button>
                            </template>
                        </div>
                      </div>
                    </div>
                  </fieldset>
                </template>
              </div>
            </div>
          </div>
        </template>
      </div>
    </div>
  </div>
</div>