<template src="./Movimiento.html"></template>
<script type="text/javascript">
	export default {
		props: ['solicitud_data', 'movimientos'],
		data() {
	      return {
	      	cabs: {},
	      } 	
	    },
		methods: {
			idClass: function (id) {
            	let value = "deta_"+id;
            	return value;
	        },
	        displayDetalleMovimientos: function (id) {
	            let estado = $(".deta_"+id).css('display');
	            if (estado == "none") {
	                $(".deta_" + id).css('display', '');
	                //validar cabeceras
	                let cab = {};
	                $.each(this.movimientos, function(key, val){
	                    if(val.actividad==1){
	                        cab = {camp1:'Contactabilidad',camp2:'Conformidad',camp3:'Motivo de Conformidad',camp4:'Submotivo de Conformidad'};
	                    }else if(val.actividad==2){
	                        cab = {camp1:'Tematico1',camp2:'Tematico2',camp3:'Tematico3',camp4:'Tematico4'};
	                    }else{cab={camp1:'null',camp2:'null',camp3:'null',camp4:'null'};}

	                });
	                this.cabs = cab;

	            } else {
	                $(".deta_"+id).css('display', 'none');
	            }
	        }
		}
	}
</script>