<div class="row form-group">
  <div class="col-sm-12">
    <div class="box-body table-responsive">
      <table id="t_movimientos" class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Fecha</th>
            <th>Usuario</th>
            <th>Situacion</th>
            <th>Estado TOA</th>
            <th>Motivo TOA</th>
            <th>SubMotivo TOA</th>
            <th>Tecnico</th>
            <th>Fecha Programacion</th>
            <th>Tipo Envio</th>
            <th>Franja</th>
            <th>Observacion</th>
            <th>[.]</th>
          </tr>
        </thead>
        <tbody id="tb_movimientos">
          <template  v-for="movimiento in movimientos">
            <tr>
              <td>{{movimiento.created_at}}</td>
              <td>{{movimiento.usuario}}</td>
              <td>{{movimiento.estado_aseguramiento_nombre}}</td>
              <td>{{movimiento.estado}}</td>
              <td>{{movimiento.motivo}}</td>
              <td>{{movimiento.submotivo}}</td>
              <td>{{movimiento.tecnico}}</td>
              <td>{{movimiento.fecha_agenda}}</td>
              <td>tipoEnvio(movimiento.tipo_envio_ofsc)</td>
              <td>{{movimiento.intervalo}}</td>
              <td>{{movimiento.observaciontoa}}<b v-if="movimiento.sistema_externo_id == 1" style="color: red"><br>(TOOLBOX)</b></td>
              <td><button v-if="movimiento.cantdetalle > 0" class="btn vd_btn" @click="displayDetalleMovimientos(movimiento.id)"><i class="fa fa-eye fa-fw"></i></button></td>
            </tr>
            <tr>
              <template v-if="movimiento.detalle.length > 0">
                <td colspan='13' :class="idClass(movimiento.id)" style="display: none">
                  <table class="table table-bordered table-striped">
                    <thead>
                      <th colspan="9">Bitacora de Tematicos</th>
                    </thead>
                    <thead class="btn-success">
                      <th>F. Registro</th>
                      <th>Nombre</th>
                      <th>Apellido</th>
                      <th>@{{cabs.camp1}}</th>
                      <th>@{{cabs.camp2}}</th>
                      <th>@{{cabs.camp3}}</th>
                      <th>@{{cabs.camp4}}</th>
                      <th>Comentario</th>
                      <th>Observacion</th>
                    </thead>
                    <tbody>
                      <template v-for="deta in movimiento.detalle">
                          <tr v-if="deta.tipo == 3 || deta.tipo == 4 || deta.tipo == 5 || deta.tipo == 6">
                            <td>@{{deta.created_at}}</td>
                            <td>@{{deta.nombre}}</td>
                            <td>@{{deta.apellido}}</td>
                            <td>@{{deta.campo1}}</td>
                            <td>@{{deta.campo2}}</td>
                            <td>@{{deta.campo3}}</td>
                            <td>@{{deta.campo4}}</td>
                            <td>@{{deta.comentarios}}</td>
                            <td>@{{deta.observacion_form}}</td>
                          </tr>
                      </template>
                    </tbody>
                  </table>
                </td>
              </template>
            </tr>
          </template>
        </tbody>
      </table>
    </div>
  </div>
</div>
