/* CSS Document */
body{font-family: Verdana, Arial, Helvetica, sans-serif;
	 font-size: 10px;
	 margin:auto;
	 background-color:#F7F7F7;
/*	 background-color:#F9F9F9;*/
	 }
.body_fondo_blanco{font-family: Verdana, Arial, Helvetica, sans-serif;
	 font-size: 10px;
	 margin:auto;
	 background-color:#FFFFFF;
	 }
/*-------------------------------- para ventanas en en mismo body---*/
#modalContainer {
	background-image:url(../imagenes/punto_.png);
	filter:alpha(opacity=50);
	-moz-opacity:.50;
	opacity:.50;
	position:absolute;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	z-index:10000;

}
.fondo_azul{
	background: transparent url(../imagenes/fondo_barra_azul_1.jpg) repeat-x 0 -8px;
}
#modalContainer2 {
	background-image: transparent url(../imagenes/punto_.png);
	position:absolute;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	z-index:10001;
}
/*ventana movilizar*/
#ventana_1 {
	background-image:url(../imagenes/punto_.png);
	filter:alpha(opacity=70);
	-moz-opacity:.70;
	opacity:.70;
	position:absolute;
	width:30%;
	height:60%;
	top:400px;
	left:400px;
	z-index:10000;
}
/*
#cabecera_ventana_1 {
	background-color:#0000FF;
	filter:alpha(opacity=90);
	-moz-opacity:.90;
	opacity:.90;
	position:absolute;
	width:100%;
	height:25px;
	top:0px;
	left:0px;
	
}*/

.ventana {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 200px;
    margin-top: -100px;    
    width: 300px;
    margin-left: -150px;    
}
.cursor1{
	cursor:pointer;
	cursor:hand;
}
.boton1{
    background-image:url(../imagen_xp/boton_blue.gif);
	background-repeat:no-repeat;
	left:50%;
	width:150px;
	height:21px;
	cursor:hand;
	cursor:pointer;
	
}
/*
#boton1 a:hover{
 background-image:url(../imagen_xp/boton_.gif);
	background-repeat:no-repeat;
	left:50%;
	width:150px;
	height:21px;
	cursor:hand;
	cursor:pointer;

}*/

/*-------------------------------- para ventanas en en mismo body*/
.tabla{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.fondo_verde{background-image:url(../imagenes/platilla_sub_tubo.png);
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold}

.input_small {
	font-size:11px;
	color:#0000CC;
	border:1px solid #999;
	height:17px;
	padding-left:3px
}
.titulo_tabla_naranja{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	background-color:#ff9a02;
	color:#FFFFFF
	}
.cuerpo_tabla{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color:#3F3C38;
}

.cuerpo_tabla1{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
	color:#3F3C38;
}	

.cuerpo_tabla input,select,textarea{

	color:#000066;
	border:1px solid #999;
	height:17px;
	padding-left:3px
}

.cuerpo_tabla textarea{
	color:#000066;
	border:1px solid #999;
	padding-left:3px;
	height:40px;
}	

.cuerpo_tabla_11{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
}	
.texarea1{
	color:#000066;
	border:1px solid #999;
	height:65px;
	padding-left:3px
}
.lista_con_div{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #635F59;
	text-decoration: none;
}
.titulo_multimedia{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight:bold;
	color: #ff9a02;
	text-align:center
}	 

A:link{text-decoration: none}
.link {text-decoration: none;color:#0000FF; cursor:hand;
    cursor:pointer;font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;}

A:hover {text-decoration: underline;color:#000099}
a:open_window{text-decoration: none}
.open_window{
	text-decoration: none;color:#0000FF; cursor:hand;
    cursor:pointer;font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	}
a:hover {text-decoration: underline;color:#000099}	

.titulos {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;}
.speedy1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.speedy2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;	
}
.letra_8{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
}
.speedy4{
	font-family:"Courier New", Courier, monospace;
	font-size:9px;
}
.speedy5{
 FONT-WEIGHT: normal; FONT-SIZE: 10px; WIDTH: 126px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 10px; TEXT-DECORATION: none;
}
.speedy6{
 FONT-WEIGHT: normal; FONT-SIZE: 10px; WIDTH: 100%; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 10px; TEXT-DECORATION: none;
}

.titulos1 {
	BORDER-RIGHT: #a5bc00 0px solid; BACKGROUND-POSITION: 50% top; FONT-SIZE: 11px; BORDER-LEFT: #a5bc00 0px solid; COLOR: #39302b; BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: Arial, Helvetica, sans-serif;
}

input, select,textarea {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #ffffff;
	border: 1px solid #000000;
	font-size: 11px;
}
.lista10{
 FONT-WEIGHT: normal; FONT-SIZE: 10px; WIDTH: 126px; COLOR:#3c3c3c; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 16px; TEXT-DECORATION: none;
}
.input1{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #	ffffff;
	border: 1px solid #ececec;
	font-size: 9px;
}
.texto_pq{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #ffffff;
	border: 1px solid #000000;
	font-size: 11px;
}
.th1{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
}	
.borde_suave{border:thin ridge efefef}
#pie {
	CLEAR: both; PADDING-RIGHT: 5px; BORDER-TOP: #dedede 2px solid; MARGIN-TOP: 10px; PADDING-LEFT: 5px; BACKGROUND: #FFFFFF; PADDING-BOTTOM: 5px; WIDTH: 100%; PADDING-TOP: 5px; BORDER-BOTTOM: #dedede 2px solid; HEIGHT: 40px; TEXT-ALIGN: center
}
.checkbox{
	border:none;
	background:#F7F7F7;
}
.checkbox_in_marco1{
	border:none;
	background:#EEEEEE;
}
.radio_1{
	background:none;
	border:none;
}
.celda1{
	 background:#A1E402;
	 border-color:#333333;
	 font-weight: bold;
	 font-family: Verdana, Arial, Helvetica, sans-serif;
	 font-size: 11px;
 }
.celda2{
	border-color:#000099;
	background:#ffffff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.tuboverde{
	background-image:url(../imagenes/tubo_verde.gif);
	}
.punteado 
{ 
	margin:auto;
	border-width:1px;
	border-style:dotted; 
	border-color:#000000; 
	background-color:#EAEAEA; color:#000000;
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:10px; 
	text-align:center;
}
#lista
{
	position:absolute;
	width:250px;
	background-color:#F7F7F7; color:#000000;
	border:1px dotted; border-color:#000000;
	z-index:1;
	top:25px;
	left:1px;
	display:none;
	text-align:left;
	
}
#contenedor
{
	position:relative; 
	width:200px;
}
#contenedor1
{
	position:relative; 
	width:150px;
}
.centrado
{ 
	width:750px;
	margin:auto;
}	
.resaltado
{
	background-color:#0066FF;
	color:#FFFFFF;
	cursor:pointer;
}

.normal
{
	background-color:#EAEAEA;
    color:#000000;
}
.aviso
{
	margin:auto;
	font-size:10px;
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	background-color:#FFFFFF; color:#FF0000;
}
.manito{cursor:hand;}
.cabecera_tabla{
 background:url(../imagenes/platilla_sub_tubo25.gif); 
    border-color:#000033;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#000000
 }
 .cabecera_tabla_azul{
	background:url(../imagenes/tubo_vertical_celeste.gif); 
    border-color:#000033;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#FFFFFF;
 }
  .cabecera_tabla_verde{
	background:url(../imagenes/tubo_vertical_verde.gif); 
    border-color:#000033;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#000099;

 }
 .boton_buscar{
 cursor:hand;
 }
 .fondo_tabla1{background:#F2F2F2}
 /*CLASES PARA MANTENIMIENTO*/
 #main {
	width:730px;
	border:1px solid #CCC;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	padding:10px;
	background-color:#FFF
}
#cargador {
	background-color:#444; 
	width:160px; 
	padding-top:5px; 
	text-align:center; 
	position:absolute; 
	left:435px; 
	top:221px
}

/* CLASES */
.titulo {
	background-color:#A0E600;
	color:#000;
	text-align:center;
	font-size:11px;
}
.td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border:1px solid #CCC;
	background-color:#EEE;
	text-align:center;
	font-size:10px
	
}
.input {
	font-size:11px;
	width:100px;
	color:#590;
	border:1px solid #999;
	height:17px;
	padding-left:3px
}
.boton {
	background-color: #333;
	border:0px;
	color:#FFF;
	border-bottom:3px solid #B3FA01;
	font-size:10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	width:65px;
	height:20px;
}
.inputon {
	color:#050;
	background-color: #FFFFFF;
	border:1px solid #666666;
	border-bottom-color:#EEEEEE;
	border-right-color:#CCCCCC
}
.inputoff {
	color:#333;
	background-color: transparent;
	border:0px;
	text-align:center
}


/* RSS */
#rss div {
	width:500px;
}
#rss div a {
	display:block;
	height:100%;
	width:100%;
	background-color:#1CFDC5;
	border:2px solid #02DBA5;
	border-left:2px solid #7EFEDE;
	border-top:2px solid #7EFEDE;
	padding:3px;
	color:#333333;
	text-decoration:none
}
#rss div a:hover {
	display:block;
	height:100%;
	width:100%;
	background-color:#1CFDC5;
	border:2px solid #7EFEDE;
	border-left:2px solid #02DBA5;
	border-top:2px solid #02DBA5;
	padding:3px;
	color:#FFFFFF;
	text-decoration:none
}
.desc {
	font-size:9px;
}
.fondo_oscuro {
	background-color:#E4E4E4;
	color:#A0A0A0;
}
.fondo_pie {
	background-color:#E4E4E4;
	color:#000000;
	font-weight:bolder;
}
.txtbox1 {
	font-size:11px;
	width:150px;
	color:#0000CC;
	border:0px solid #000;
	height:17px;
	padding-left:3px;
	background-image:url(../imagenes/fondo_text.gif);
}
.txtbox30{
	font-size:11px;
	width:210px;
	color:#0000CC;
	border:0px solid #000;
	height:17px;
	padding-left:3px;
	background-image:url(../imagenes/fondo_text30.gif);
}
.txtbox50{
	font-size:11px;
	width:350px;
	color:#0000CC;
	border:0px solid #000;
	height:17px;
	padding-left:3px;
	background-image:url(../imagenes/fondo_text50.gif);
}
.txtbox15 {
	font-size:11px;
	width:130px;
	color:#0000CC;
	border:0px solid #000;
	height:17px;
	padding-left:3px;
	background-image:url(../imagenes/fondo_text_15.gif);
	text-align:center;
}
.txtbox15left {
	font-size:11px;
	width:130px;
	color:#0000CC;
	border:0px solid #000;
	height:17px;
	padding-left:3px;
	background-image:url(../imagenes/fondo_text_15.gif);
	
}
.txtbox15leftPLOMO {
	font-size:11px;
	width:130px;
	color:#0000CC;
	border:0px solid #000;
	height:17px;
	padding-left:3px;
	background-image:url(../imagenes/fondo_text_15t.gif);
}
.txtbox15left_fbody{
	font-size:11px;
	width:130px;
	color:#0000CC;
	border:0px solid #000;
	height:17px;
	padding-left:3px;
	background-image:url(../imagenes/fondo_text_15f.gif);
}
.txtbox8 {
	font-size:11px;
	width:100px;
	color:#0000CC;
	border:0px solid #000;
	height:17px;
	padding-left:3px;
	background-image:url(../imagenes/fondo_text_8.gif);
	text-align:center;
}
.txtbox8left {
	font-size:11px;
	width:100px;
	color:#0000CC;
	border:0px solid #000;
	height:17px;
	padding-left:3px;
	background-image:url(../imagenes/fondo_text_8.gif);
}

.txtbox4 {
	font-size:11px;
	width:44px;
	color:#0000CC;
	border:0px solid #000;
	height:17px;
	padding-left:3px;
	background-image:url(../imagenes/fondo_text_4.gif);
	text-align:center;
}
.azul{color:#000099}
.tablamsg{
	background:#82CA20;
	border:#000099;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
 	
}
.Uno { background:url(../imagen_xp/savebien24.gif) no-repeat;}
Uno:hover { background:url(../imagen_xp/savebien24d.gif) no-repeat;  color:#FF0000;}

form{margin:0;padding:0;}

.x-box-tl {
	background: transparent url(../imagenes/default/box/corners.gif) no-repeat 0 0;
    zoom:1;
}

.x-box-tc {
	height: 8px;
	background: transparent url(../imagenes/default/box/tb.gif) repeat-x 0 0;
	overflow: hidden;
}

.x-box-tr {
	background: transparent url(../imagenes/default/box/corners.gif) no-repeat right -8px;
}

.x-box-ml {
	background: transparent url(../imagenes/default/box/l.gif) repeat-y 0;
	padding-left: 4px;
	overflow: hidden;
    zoom:1;
}

.x-box-mc {
	background: #eee url(../imagenes/default/box/tb.gif) repeat-x 0 -16px;
	padding: 4px 10px;
	font-family: "Myriad Pro","Myriad Web","Tahoma","Helvetica","Arial",sans-serif;
	color: #393939;
	font-size: 12px;
}

.x-box-mc h3 {
	font-size: 14px;
	font-weight: bold;
	margin: 0 0 4 0;
    zoom:1;
}

.x-box-mr {
	background: transparent url(../imagenes/default/box/r.gif) repeat-y right;
	padding-right: 4px;
	overflow: hidden;
}

.x-box-bl {
	background: transparent url(../imagenes/default/box/corners.gif) no-repeat 0 -16px;
    zoom:1;
}

.x-box-bc {
	background: transparent url(../imagenes/default/box/tb.gif) repeat-x 0 -8px;
	height: 8px;
	overflow: hidden;
}

.x-box-br {
	background: transparent url(../imagenes/default/box/corners.gif) no-repeat right -24px;
}

.x-box-tl, .x-box-bl {
	padding-left: 8px;
	overflow: hidden;
}

.x-box-tr, .x-box-br {
	padding-right: 8px;
	overflow: hidden;
}

.x-box-blue .x-box-bl, .x-box-blue .x-box-br, .x-box-blue .x-box-tl, .x-box-blue .x-box-tr {
	background-image: url(../imagenes/default/box/corners-blue.gif);
}

.x-box-blue .x-box-bc, .x-box-blue .x-box-mc, .x-box-blue .x-box-tc {
	background-image: url(../imagenes/default/box/tb-blue.gif);
}

.x-box-blue .x-box-mc {
	background-color: #c3daf9;
}

.x-box-blue .x-box-mc h3 {
	color: #17385b;
}

.x-box-blue .x-box-ml {
	background-image: url(../imagenes/default/box/l-blue.gif);
}

.x-box-blue .x-box-mr {
	background-image: url(../imagenes/default/box/r-blue.gif);
}