/* CSS Document */
   	A:link {text-decoration: none}
	.link {text-decoration: none;color:#0000FF; cursor:hand}
	A:hover {text-decoration: underline;color:#000099}

.cabecera{background:#A1E 402; font-weight:bold;
        font-family: Verdana, Arial, Helvetica, sans-serif;
     	font-size: 10px;}
body {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 10px;
}
		
.texto_pq{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #ffffff;
	border: 1px solid #000000;
	font-size: 11px;
}
.combo1 { 
  background-color: #E2E2E2; 
  border-style: none; 
  font-family:Verdana, Arial, Helvetica, sans-serif; 
  font-size:10px; 
} 
.combo2
{
  background-color: #f2f2f2; 
  font-family:Verdana, Arial, Helvetica, sans-serif; 
  font-size:10px; 
}
.combo3
{
  background-color: #ffffff; 
  font-family:Verdana, Arial, Helvetica, sans-serif; 
  font-size:10px; 
}
.combo4
{
  background-color: #A1E402; 
  font-family:Verdana, Arial, Helvetica, sans-serif; 
  font-size:10px; 
  font-weight:bold;
}
.speedy1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.speedy3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
}
.speedy4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color:#FFFFFF;
	font-weight:bold;
}
.borde_suave{border:thin ridge efefef}
.celda1{background:#A1E402;border-color:#333333;font-weight: bold}
.celda2{border-color:#000099;background:#ffffff}
.botones {  font-family: Verdana; font-size: 9pt;
     color: #ffffff; background-color: #82B902; 
	 border-color: #000000 ; border-top-width: 1pix; 
	 border-right-width: 1pix; border-bottom-width: 1pix; 
	 border-left-width: 1pixl; cursor:hand
 }
 .obspq{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #ffffff;
	border: 1px solid #000000;
	font-size: 10px;
}
.text1{
 background:#9B9BFF;
 font-family: Verdana, Arial, Helvetica, sans-serif;
 font-size: 9px;
 color:#333333;

}
