<style type="text/css">
.input_data {
	display: none;
}

.proyecto {
	width: 190px;
}

.view_btn_grabar {
	display: none;
}

img {
	cursor: pointer;
}
</style>
<script type="text/javascript">
$(document).ready(function() {
    view_data = function(obj){
        var element = obj.rel;
        $('#proyecto_'+element).css('display','none');
        $('#view_btn_edit_'+element).css('display','none');
        $('#view_btn_grabar_'+element).css('display','block');
        $('#input_proyecto_'+element).css('display','block');
        $('#ipt_'+element).focus();
    };
    $('.img_btn_grabar').click(function(){
        var element = $(this).attr('name');
        var nvo_valor = $('#ipt_'+element).attr('value');
        var id = $('#id').val();
		var filtro = $('#desc').val();
		var estado = <?php echo $objeto->getFlag() ?>;
        $(this).attr('src','img/loading.gif');
        $('#ipt_'+element).attr("disabled", "disabled");
        var pag_actual = $('#pag_actual').val();
        var total = $('#tl_registros').val();
        $.post("modulos/maps/administracion.maps.php?cmd=updateFuente", { id: id, desc: nvo_valor, estado: estado }, function(data){
            if (data == 'ok') {
                alert('Se actualizó correctamente');
                $('#img_grabar_'+element).attr('src','img/save_button.png');
                $('#proyecto_'+element).html(nvo_valor);
                $('#proyecto_'+element).css('display','block');
                $('#input_proyecto_'+element).css('display','none');
                $('#view_btn_edit_'+element).css('display','block');
                $('#view_btn_grabar_'+element).css('display','none');
                $.post("modulos/maps/administracion.maps.php?cmd=cambiarPaginaFuente", {
                    pagina: pag_actual, total: total, filtro: filtro }, function(data){
                        $("#tb_resultado").empty();
                        $("#tb_resultado").append(data);
                });
            } else {
        	   if (data == 'existe') {
                   alert('Intente nuevamente, ya que existe un registro con ese nombre');
                   $('#ipt_'+element).val('<?php echo $objeto->getDesFuenteIdentificacion() ?>');
                   $('#img_grabar_'+element).attr('src','img/save_button.png');
               } else {
                   alert('No se actualizó correctamente');
               }
            }
            $('#ipt_'+element).removeAttr("disabled");
        });
    });
    $('#btnCerrar').click(function(){
        $('#childModal').dialog('close');
    });
});
</script>
<input type="hidden" value="<?php echo $objeto->getIdFuenteIdentificacion() ?>" id="id" name="id" />
<table style="width: 480px; padding: 2px; border: 0px;">
    <tr>
        <td colspan="2" style="text-align: left;">
            <div class="box_descripcion_seccion">            
            En esta secci&oacute;n se podr&aacute; editar los datos de la Fuente de Identificación
            </div>
        </td>
    </tr>
    <tr>
        <td style="vertical-align: top; width: 350px;">
            <table style="border-spacing: 4px;">
			<tr>
				<td class="label" style="width: 100px;">Nombre :</td>
                <td align="left">
                    <div class="proyecto1" id="proyecto_1"><?php echo $objeto->getDesFuenteIdentificacion() ?></div>
					<div class="input_data" id="input_proyecto_1">
					    <input type="text" class="ipt" maxlength="50" size="32" id="ipt_1" name="ipt_1" value="<?php echo $objeto->getDesFuenteIdentificacion() ?>"/>
                    </div>
                </td>
				<td>
                    <div id="view_btn_edit_1">
                        <a rel="1" onclick="view_data(this)" id="link_op_1">
                            <img src="img/pencil_16.png" alt="Editar" title="Editar"/>
                        </a>
                    </div>
                    <div class="view_btn_grabar" id="view_btn_grabar_1">
                        <img id="img_grabar_1" name="1" class="img_btn_grabar" src="img/save_button.png" alt="Grabar Cambios" title="Grabar Cambios"/>
                    </div>
                </td>
			</tr>
            <tr>
                <td colspan="3" style="float: left;">                    
                    <img src="img/salir.png" alt="Salir" id="btnCerrar" title="Salir"/>
                </td>
            </tr>
            </table>
        </td>
        <td style="width: 130px;">
            <img src="img/edit_pencil.png" alt="Editar" title="Editar" style="cursor: aauto;">
		</td>
    </tr>
</table>