<head>
<link href="css/mantenimientoAdministracion.css" rel="stylesheet" type="text/css" media="all"/>
<style type="text/css">
.width_txt {
	width: 179px;
}

.width_cbo {
	width: 183px;
}
</style>
<script type="text/javascript">
function save(opc) {
    var descripcion = $('#desc');
    if (descripcion.val() == '') {
    	descripcion.css('background', '#FFFBCC');
    	descripcion.focus();
        alert('Ingrese el nombre');
        return false;
    } else {
    	descripcion.css('background', '#FFFFFF');
    }
	$.post("modulos/maps/administracion.maps.php?cmd=saveFuente", { desc : descripcion.val() } , function(data) {
	    if (data == 'ok') {
	    	alert('Se registró correctamente');	    
    	    if (!opc) {
    	        window.location=('javascript:objAdministracionMaps.MantFuente()');
    	    } else {
    	        window.location=('javascript:objAdministracionMaps.AddFuente()');
    	    }
	    } else {
	    	if (data == 'existe') {
		    	alert('Ya existe un registro con ese nombre');
		    } else {
		        alert('No se registró correctamente');
		    }
	    }
	});
}
$(document).ready(function(){
    $('#desc').focus();
    $('#desc').css('background', '#FFFBCC');
    $('#opcion').attr('value', '1');
    $('#btn_grabar').click(function(){
        save(false);
    });
    $('#btn_guardar_agregar').click(function(){
    	save(true);                    
    });                
    $('.trigger').mouseover(function(){
        $('.panel').toggle('fast');
        $(this).toggleClass('active');
        return false;
    });
});
</script>
</head>
<body>    
<div id="content">
     <table style="border-spacing: 1px;">
     <tr>
         <td style="vertical-align: top; text-align: left; padding-left: 35px;">
            <form id="frm_fuente" name="frm_fuente" action="administracion.maps.php?cmd=saveFuente" method="post">
                <table style="padding: 2px;">
                <thead>
                <tr>
                    <td colspan="2" class="form_titulo">Nueva Fuente de Identificación</td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: left;">
                        <div class="box_descripcion_seccion">
                        En esta secci&oacute;n se podr&aacute; registrar Fuentes de Identificación
                        </div>
                    </td>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="label" width="20%">Nombre :</td>
                        <td style="text-align: left;">
						    <input type="text" name="desc" id="desc" class="ipt required input_text" size="20" maxlength="10"/>
							<em>(*)</em>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div style="height: 15px;"></div>                                      
                            <a href="javascript:;" id="btn_grabar" title="Guardar" class="btn save">Guardar<span class="helper"></span></a>
                            <a href="javascript:;" id="btn_guardar_agregar" title="Guardar y Agregar otro" class="btn save_add">Guardar +<span class="helper"></span></a>
                            <a href="javascript:;" id="btn_deshacer" title="Limpiar datos" class="btn deshacer" onclick="window.location='javascript:objAdministracionMaps.AddFuente()'">Deshacer<span class="helper"></span></a>
                            <a href="javascript:;" id="btn_cancelar" title="Cancelar" class="btn cancelar" onclick="window.location='javascript:objAdministracionMaps.MantFuente()'">Cancelar<span class="helper"></span></a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><div style="height: 5px;"></div></td>
                    </tr>
                </tbody>
                </table>
            </form>
        </td>
    </tr>
    </table>
</div>
<div id="footer"></div>
</body>