<!--Incluimos los estilos definidos para el modulo de Gestion de Planta Externa-->
<link rel="stylesheet" href="modulos/geplex/css/style.general.css" type="text/css" />
<script type="text/javascript" src="js/jquery/jquery.form.js"></script>
<script type="text/javascript" src="modulos/maps/js/administracion.maps.js?<?php echo date("Gis");?>"></script>
<table style="border: 0px; width: 95%; border-spacing: 1px;">
    <thead>
        <tr>
            <td width="100%" class="form_titulo">
                <img src="img/plus_16.png" alt="SubModulo" title="SubModulo" border="0"/>&nbsp;Administración
            </td>
        </tr>
        <tr>
            <td><div style="height: 5px"></div></td>
        </tr>
    </thead>  
</table>
<?php if ($acceso) { ?>
<div id="container_main_menu">
    <div id="box_men_adm">
        <div class="container_div_item_menu">
            <table style="width: 100%; border: 0px;">
            <tr>
                <td width="5%" align="center" valign="middle">
                    <img src="img/btn_ubigeo_32.png" alt="Ubigeo" title="Ubigeo"/>
                </td>
                <td width="25%" align="left">
                    <a href="javascript:void(0);" onclick="objAdministracionMaps.MantUbigeo()" style="line-height: 20px; margin-left: 10px; font-weight:bold; text-align: left;">Ubigeo</a>
                </td>
                <td width="60%" style=" border-left: 1px solid #5B8BCB; padding-left: 10px;" align="left">Mantenimiento de Ubigeo</td>
                <td width="10%">
                <table style="width: 100%; border: 0px;">
                    <tr>
                        <td width="25%">
                            <a href="javascript:void(0);" onclick="objAdministracionMaps.MantUbigeo()" style="float: right;">
                                <img src="img/menu_adm/opciones/btn_view_16.png" alt="Mantenimiento Ubigeo" title="Mantenimiento Ubigeo" border="0"/>
                            </a>
                        </td>
                        <td width="25%">
						    <a href="javascript:void(0);" onclick="objAdministracionMaps.AddUbigeo()" style="float: right;">
						        <img src="img/menu_adm/opciones/plus_16.png" alt="Nuevo Ubigeo" title="Nuevo Ubigeo" border="0"/>
                            </a>
						</td>
                        <td width="25%">&nbsp;</td>
                        <td width="25%">&nbsp;</td>
                    </tr>
                </table>                    
                </td>
            </tr>
            </table>
        </div>
    </div>
</div>
<div id="container_main_menu">
    <div id="box_men_adm">
        <div class="container_div_item_menu">
            <table style="width: 100%; border: 0px;">
            <tr>
                <td width="5%" align="center" valign="middle">
                    <img src="img/btn_fuente_32.png" alt="Fuente de Identificación" title="Fuente de Identificación"/>
                </td>
                <td width="25%" align="left">
                    <a href="javascript:void(0);" onclick="objAdministracionMaps.MantFuente()" style="line-height: 20px; margin-left: 10px; font-weight:bold; text-align: left;">Fuente Identificación</a>
                </td>
                <td width="60%" style=" border-left: 1px solid #5B8BCB; padding-left: 10px;" align="left">Mantenimiento de Fuente de Identificación</td>
                <td width="10%">
                <table style="width: 100%; border: 0px;">
                    <tr>
                        <td width="25%">
                            <a href="javascript:void(0);" onclick="objAdministracionMaps.MantFuente()" style="float: right;">
                                <img src="img/menu_adm/opciones/btn_view_16.png" alt="Mantenimiento Fuente de Identificación" title="Mantenimiento Fuente de Identificación" border="0"/>
                            </a>
                        </td>
                        <td width="25%">
						    <a href="javascript:void(0);" onclick="objAdministracionMaps.AddFuente()" style="float: right;">
						        <img src="img/menu_adm/opciones/plus_16.png" alt="Nueva Fuente de Identificación" title="Nueva Fuente de Identificación" border="0"/>
                            </a>
						</td>
                        <td width="25%">&nbsp;</td>
                        <td width="25%">&nbsp;</td>
                    </tr>
                </table>                    
                </td>
            </tr>
            </table>
        </div>
    </div>
</div>
<div id="container_main_menu">
    <div id="box_men_adm">
        <div class="container_div_item_menu">
            <table style="width: 100%; border: 0px;">
            <tr>
                <td width="5%" align="center" valign="middle">
                    <img src="img/btn_fuente_region_32.png" alt="Fuente de Identificación X Región" title="Fuente de Identificación X Región"/>
                </td>
                <td width="25%" align="left">
                    <a href="javascript:void(0);" onclick="objAdministracionMaps.MantFuenteXRegion()" style="line-height: 20px; margin-left: 10px; font-weight:bold; text-align: left;">Fuente Identificación X Región</a>
                </td>
                <td width="60%" style=" border-left: 1px solid #5B8BCB; padding-left: 10px;" align="left">Mantenimiento de Fuente de Identificación X Región</td>
                <td width="10%">
                <table style="width: 100%; border: 0px;">
                    <tr>
                        <td width="25%">
                            <a href="javascript:void(0);" onclick="objAdministracionMaps.MantFuenteXRegion()" style="float: right;">
                                <img src="img/menu_adm/opciones/btn_view_16.png" alt="Mantenimiento Fuente de Identificación X Región" title="Mantenimiento Fuente de Identificación X Región" border="0"/>
                            </a>
                        </td>
                        <td width="25%">
						    <a href="javascript:void(0);" onclick="objAdministracionMaps.AddFuenteXRegion()" style="float: right;">
						        <img src="img/menu_adm/opciones/plus_16.png" alt="Nueva Fuente de Identificación X Región" title="Nueva Fuente de Identificación X Región" border="0"/>
                            </a>
						</td>
                        <td width="25%">&nbsp;</td>
                        <td width="25%">&nbsp;</td>
                    </tr>
                </table>                    
                </td>
            </tr>
            </table>
        </div>
    </div>
</div>
<div id="container_main_menu">
    <div id="box_men_adm">
        <div class="container_div_item_menu">
            <table style="width: 100%; border: 0px;">
            <tr>
                <td width="5%" align="center" valign="middle">
                    <img src="img/btn_segmento_32.png" alt="Segmento" title="Segmento"/>
                </td>
                <td width="25%" align="left">
                    <a href="javascript:void(0);" onclick="objAdministracionMaps.MantSegmento()" style="line-height: 20px; margin-left: 10px; font-weight:bold; text-align: left;">Segmento</a>
                </td>
                <td width="60%" style=" border-left: 1px solid #5B8BCB; padding-left: 10px;" align="left">Mantenimiento de Segmento</td>
                <td width="10%">
                <table style="width: 100%; border: 0px;">
                    <tr>
                        <td width="25%">
                            <a href="javascript:void(0);" onclick="objAdministracionMaps.MantSegmento()" style="float: right;">
                                <img src="img/menu_adm/opciones/btn_view_16.png" alt="Mantenimiento Segmento" title="Mantenimiento Segmento" border="0"/>
                            </a>
                        </td>
                        <td width="25%">
						    <a href="javascript:void(0);" onclick="objAdministracionMaps.AddSegmento()" style="float: right;">
						        <img src="img/menu_adm/opciones/plus_16.png" alt="Nuevo Segmento" title="Nuevo Segmento" border="0"/>
                            </a>
						</td>
                        <td width="25%">&nbsp;</td>
                        <td width="25%">&nbsp;</td>
                    </tr>
                </table>                    
                </td>
            </tr>
            </table>
        </div>
    </div>
</div>
<div id="container_main_menu">
    <div id="box_men_adm">
        <div class="container_div_item_menu">
            <table style="width: 100%; border: 0px;">
            <tr>
                <td width="5%" align="center" valign="middle">
                    <img src="img/btn_tipo_proyecto_32.png" alt="Tipo de Proyecto" title="Tipo de Proyecto"/>
                </td>
                <td width="25%" align="left">
                    <a href="javascript:void(0);" onclick="objAdministracionMaps.MantTipoProyecto()" style="line-height: 20px; margin-left: 10px; font-weight:bold; text-align: left;">Tipo Proyecto</a>
                </td>
                <td width="60%" style=" border-left: 1px solid #5B8BCB; padding-left: 10px;" align="left">Mantenimiento de Tipo de Proyecto</td>
                <td width="10%">
                <table style="width: 100%; border: 0px;">
                    <tr>
                        <td width="25%">
                            <a href="javascript:void(0);" onclick="objAdministracionMaps.MantTipoProyecto()" style="float: right;">
                                <img src="img/menu_adm/opciones/btn_view_16.png" alt="Mantenimiento Tipo de Proyecto" title="Mantenimiento Tipo de Proyecto" border="0"/>
                            </a>
                        </td>
                        <td width="25%">
						    <a href="javascript:void(0);" onclick="objAdministracionMaps.AddTipoProyecto()" style="float: right;">
						        <img src="img/menu_adm/opciones/plus_16.png" alt="Nuevo Tipo de Proyecto" title="Nuevo Tipo de Proyecto" border="0"/>
                            </a>
						</td>
                        <td width="25%">&nbsp;</td>
                        <td width="25%">&nbsp;</td>
                    </tr>
                </table>                    
                </td>
            </tr>
            </table>
        </div>
    </div>
</div>
<div id="container_main_menu">
    <div id="box_men_adm">
        <div class="container_div_item_menu">
            <table style="width: 100%; border: 0px;">
            <tr>
                <td width="5%" align="center" valign="middle">
                    <img src="img/btn_nse_32.png" alt="Nivel Socieconómico" title="Nivel Socieconómico"/>
                </td>
                <td width="25%" align="left">
                    <a href="javascript:void(0);" onclick="objAdministracionMaps.MantNse()" style="line-height: 20px; margin-left: 10px; font-weight:bold; text-align: left;">Nivel Socioeconómico</a>
                </td>
                <td width="60%" style=" border-left: 1px solid #5B8BCB; padding-left: 10px;" align="left">Mantenimiento de Nivel Socioeconómico</td>
                <td width="10%">
                <table style="width: 100%; border: 0px;">
                    <tr>
                        <td width="25%">
                            <a href="javascript:void(0);" onclick="objAdministracionMaps.MantNse()" style="float: right;">
                                <img src="img/menu_adm/opciones/btn_view_16.png" alt="Mantenimiento Nivel Socioeconómico" title="Mantenimiento Nivel Socioeconómico" border="0"/>
                            </a>
                        </td>
                        <td width="25%">
						    <a href="javascript:void(0);" onclick="objAdministracionMaps.AddNse()" style="float: right;">
						        <img src="img/menu_adm/opciones/plus_16.png" alt="Nuevo Nivel Socioeconómico" title="Nuevo Nivel Socioeconómico" border="0"/>
                            </a>
						</td>
                        <td width="25%">&nbsp;</td>
                        <td width="25%">&nbsp;</td>
                    </tr>
                </table>                    
                </td>
            </tr>
            </table>
        </div>
    </div>
</div>
<div id="container_main_menu">
    <div id="box_men_adm">
        <div class="container_div_item_menu">
            <table style="width: 100%; border: 0px;">
            <tr>
                <td width="5%" align="center" valign="middle">
                    <img src="img/btn_competencia_32.png" alt="Zona de Competencia" title="Zona de Competencia"/>
                </td>
                <td width="25%" align="left">
                    <a href="javascript:void(0);" onclick="objAdministracionMaps.MantZona()" style="line-height: 20px; margin-left: 10px; font-weight:bold; text-align: left;">Zona de Competencia</a>
                </td>
                <td width="60%" style=" border-left: 1px solid #5B8BCB; padding-left: 10px;" align="left">Mantenimiento de Zona de Competencia</td>
                <td width="10%">
                <table style="width: 100%; border: 0px;">
                    <tr>
                        <td width="25%">
                            <a href="javascript:void(0);" onclick="objAdministracionMaps.MantZona()" style="float: right;">
                                <img src="img/menu_adm/opciones/btn_view_16.png" alt="Mantenimiento Zona de Competencia" title="Mantenimiento Zona de Competencia" border="0"/>
                            </a>
                        </td>
                        <td width="25%">
						    <a href="javascript:void(0);" onclick="objAdministracionMaps.AddZona()" style="float: right;">
						        <img src="img/menu_adm/opciones/plus_16.png" alt="Nueva Zona de Competencia" title="Nueva Zona de Competencia" border="0"/>
                            </a>
						</td>
                        <td width="25%">&nbsp;</td>
                        <td width="25%">&nbsp;</td>
                    </tr>
                </table>                    
                </td>
            </tr>
            </table>
        </div>
    </div>
</div>
<div id="container_main_menu">
    <div id="box_men_adm">
        <div class="container_div_item_menu">
            <table style="width: 100%; border: 0px;">
            <tr>
                <td width="5%" align="center" valign="middle">
                    <img src="img/btn_gestion_32.png" alt="Gestión de Competencia" title="Gestión de Competencia"/>
                </td>
                <td width="25%" align="left">
                    <a href="javascript:void(0);" onclick="objAdministracionMaps.MantGestion()" style="line-height: 20px; margin-left: 10px; font-weight:bold; text-align: left;">Gestión de Competencia</a>
                </td>
                <td width="60%" style=" border-left: 1px solid #5B8BCB; padding-left: 10px;" align="left">Mantenimiento de Gestión de Competencia</td>
                <td width="10%">
                <table style="width: 100%; border: 0px;">
                    <tr>
                        <td width="25%">
                            <a href="javascript:void(0);" onclick="objAdministracionMaps.MantGestion()" style="float: right;">
                                <img src="img/menu_adm/opciones/btn_view_16.png" alt="Mantenimiento Gestión de Competencia" title="Mantenimiento Gestión de Competencia" border="0"/>
                            </a>
                        </td>
                        <td width="25%">
						    <a href="javascript:void(0);" onclick="objAdministracionMaps.AddGestion()" style="float: right;">
						        <img src="img/menu_adm/opciones/plus_16.png" alt="Nueva Gestión de Competencia" title="Nueva Gestión de Competencia" border="0"/>
                            </a>
						</td>
                        <td width="25%">&nbsp;</td>
                        <td width="25%">&nbsp;</td>
                    </tr>
                </table>                    
                </td>
            </tr>
            </table>
        </div>
    </div>
</div>
<div id="container_main_menu">
    <div id="box_men_adm">
        <div class="container_div_item_menu">
            <table style="width: 100%; border: 0px;">
            <tr>
                <td width="5%" align="center" valign="middle">
                    <img src="img/btn_obra_32.png" alt="Gestión de Obra" title="Gestión de Obra"/>
                </td>
                <td width="25%" align="left">
                    <a href="javascript:void(0);" onclick="objAdministracionMaps.MantObra()" style="line-height: 20px; margin-left: 10px; font-weight:bold; text-align: left;">Gestión de Obra</a>
                </td>
                <td width="60%" style=" border-left: 1px solid #5B8BCB; padding-left: 10px;" align="left">Mantenimiento de Gestión de Obra</td>
                <td width="10%">
                <table style="width: 100%; border: 0px;">
                    <tr>
                        <td width="25%">
                            <a href="javascript:void(0);" onclick="objAdministracionMaps.MantObra()" style="float: right;">
                                <img src="img/menu_adm/opciones/btn_view_16.png" alt="Mantenimiento Gestión de Obra" title="Mantenimiento Gestión de Obra" border="0"/>
                            </a>
                        </td>
                        <td width="25%">
						    <a href="javascript:void(0);" onclick="objAdministracionMaps.AddObra()" style="float: right;">
						        <img src="img/menu_adm/opciones/plus_16.png" alt="Nueva Gestión de Obra" title="Nueva Gestión de Obra" border="0"/>
                            </a>
						</td>
                        <td width="25%">&nbsp;</td>
                        <td width="25%">&nbsp;</td>
                    </tr>
                </table>                    
                </td>
            </tr>
            </table>
        </div>
    </div>
</div>
<div id="container_main_menu">
    <div id="box_men_adm">
        <div class="container_div_item_menu">
            <table style="width: 100%; border: 0px;">
            <tr>
                <td width="5%" align="center" valign="middle">
                    <img src="img/btn_cobertura_32.png" alt="Cobertura 2G" title="Cobertura 2G"/>
                </td>
                <td width="25%" align="left">
                    <a href="javascript:void(0);" onclick="objAdministracionMaps.MantCobertura('2G')" style="line-height: 20px; margin-left: 10px; font-weight:bold; text-align: left;">Cobertura 2G</a>
                </td>
                <td width="60%" style=" border-left: 1px solid #5B8BCB; padding-left: 10px;" align="left">Mantenimiento de Cobertura 2G</td>
                <td width="10%">
                <table style="width: 100%; border: 0px;">
                    <tr>
                        <td width="25%">
                            <a href="javascript:void(0);" onclick="objAdministracionMaps.MantCobertura('2G')" style="float: right;">
                                <img src="img/menu_adm/opciones/btn_view_16.png" alt="Mantenimiento Cobertura 2G" title="Mantenimiento Cobertura 2G" border="0"/>
                            </a>
                        </td>
                        <td width="25%">
						    <a href="javascript:void(0);" onclick="objAdministracionMaps.AddCobertura('2G')" style="float: right;">
						        <img src="img/menu_adm/opciones/plus_16.png" alt="Nueva Cobertura 2G" title="Nueva Cobertura 2G" border="0"/>
                            </a>
						</td>
                        <td width="25%">&nbsp;</td>
                        <td width="25%">&nbsp;</td>
                    </tr>
                </table>                    
                </td>
            </tr>
            </table>
        </div>
    </div>
</div>
<div id="container_main_menu">
    <div id="box_men_adm">
        <div class="container_div_item_menu">
            <table style="width: 100%; border: 0px;">
            <tr>
                <td width="5%" align="center" valign="middle">
                    <img src="img/btn_cobertura_32.png" alt="Cobertura 2G" title="Cobertura 3G"/>
                </td>
                <td width="25%" align="left">
                    <a href="javascript:void(0);" onclick="objAdministracionMaps.MantCobertura('3G')" style="line-height: 20px; margin-left: 10px; font-weight:bold; text-align: left;">Cobertura 3G</a>
                </td>
                <td width="60%" style=" border-left: 1px solid #5B8BCB; padding-left: 10px;" align="left">Mantenimiento de Cobertura 3G</td>
                <td width="10%">
                <table style="width: 100%; border: 0px;">
                    <tr>
                        <td width="25%">
                            <a href="javascript:void(0);" onclick="objAdministracionMaps.MantCobertura('3G')" style="float: right;">
                                <img src="img/menu_adm/opciones/btn_view_16.png" alt="Mantenimiento Cobertura 3G" title="Mantenimiento Cobertura 3G" border="0"/>
                            </a>
                        </td>
                        <td width="25%">
						    <a href="javascript:void(0);" onclick="objAdministracionMaps.AddCobertura('3G')" style="float: right;">
						        <img src="img/menu_adm/opciones/plus_16.png" alt="Nueva Cobertura 3G" title="Nueva Cobertura 3G" border="0"/>
                            </a>
						</td>
                        <td width="25%">&nbsp;</td>
                        <td width="25%">&nbsp;</td>
                    </tr>
                </table>                    
                </td>
            </tr>
            </table>
        </div>
    </div>
</div>
<div id="container_main_menu">
    <div id="box_men_adm">
        <div class="container_div_item_menu">
            <table style="width: 100%; border: 0px;">
            <tr>
                <td width="5%" align="center" valign="middle">
                    <img src="img/btn_responsable_32.png" alt="Responsable de Campo" title="Responsable de Campo"/>
                </td>
                <td width="25%" align="left">
                    <a href="javascript:void(0);" onclick="objAdministracionMaps.MantResponsable()" style="line-height: 20px; margin-left: 10px; font-weight:bold; text-align: left;">Responsable de Campo</a>
                </td>
                <td width="60%" style=" border-left: 1px solid #5B8BCB; padding-left: 10px;" align="left">Mantenimiento de Responsable de Campo</td>
                <td width="10%">
                <table style="width: 100%; border: 0px;">
                    <tr>
                        <td width="25%">
                            <a href="javascript:void(0);" onclick="objAdministracionMaps.MantResponsable()" style="float: right;">
                                <img src="img/menu_adm/opciones/btn_view_16.png" alt="Mantenimiento Responsable de Campo" title="Mantenimiento Responsable de Campo" border="0"/>
                            </a>
                        </td>
                        <td width="25%">
						    <a href="javascript:void(0);" onclick="objAdministracionMaps.AddResponsable()" style="float: right;">
						        <img src="img/menu_adm/opciones/plus_16.png" alt="Nueva Responsable de Campo" title="Nueva Responsable de Campo" border="0"/>
                            </a>
						</td>
                        <td width="25%">&nbsp;</td>
                        <td width="25%">&nbsp;</td>
                    </tr>
                </table>                    
                </td>
            </tr>
            </table>
        </div>
    </div>
</div>
<div id="fongoLoader" class="bgLoader">
    <div class="imgLoader">
        <span>Cargando...</span>
    </div>
</div>
<?php } else { ?>
<div id="divResultado" style="width:100%; padding:40px 0; text-align:center;">
Su cuenta no tiene los permisos necesarios para acceder a este modulo.
<br><b>Comuniquese con su administrador</b>
</div>
<?php } ?>